[2022-05-19 14:59] mmomtchev commented on #379
In fact a possible solution will be the exactly inverse of the previous proposal: try to make jest to use the fake Promises

[2022-05-19 15:55] AugustinLF commented on #974
I agree with @mdjastrzebski, that's a limitation of RNTL, we always stay on the JS side and don't cross into native land, so I don't think it's possible for us to fix that (there are other similar problems, like scroll events in lists). But I do think that we could document that somewhere, since it'll be confusing for users.

[2022-05-19 20:09] mdjastrzebski commented on #974
@AugustinLF I've created #979 with FAQ doc answering question about testing native features using RNTL.

[2022-05-19 22:11] etaiklein opened #981 "Disabled button is press-able when rendered with wrapper option"
## Describe the bug

Disabled calls onPress on fireEvent.press when rendered with a wrapper, but does not rendered without a wrapper.

## Expected behavior

## Steps to Reproduce

`render(<Button {...props} disabled={true} />)` does not call onPress on fireEvent.press, but
`render(<Button {...props} disabled={true} />, { wrapper: ({ children }) => <>{children}</> })` calls onPress on fireEvent.pre

[2022-05-20 12:29] Norfeldt commented on #379
@mmomtchev do you have a hack to use asap in jest?

[2022-05-20 12:48] Norfeldt commented on #379
This is a very big issue without any solution.  Right now I'm "patching" it to go away, but have to use [patch-package](https://www.youtube.com/watch?v=2AVs-Yh1bS8&ab_channel=BenAwad) if this continues to be unsolved.

<img width="878" alt="Screenshot 2022-05-20 at 14 42 34" src="https://user-images.githubusercontent.com/678806/169531244-36aeefc7-822e-47ac-ae74-4151cf50c72f.png">

[2022-05-20 14:56] mmomtchev commented on #379
@Norfeldt I haven't tried too hard but maybe it is possible - the problem is that you will have to replace the `await` in jest with the internal `Promise` implementation from `react-native` - it can probably be achieved with babel but I think that this should be solved in a cleaner manner, jest + TypeScript + `react-native` is already a nightmare, the last thing we want is another layer of complex

[2022-05-20 15:28] mmomtchev commented on #379
@Norfeldt  Here is your quick hack:

Create `test/asap.js` with
[code]

Then add to `jest.config.js`:
[code]

[2022-05-23 06:32] Norfeldt commented on #379
thanks a lot @mmomtchev you just improved my testing experience a lot ❤️

[2022-05-23 09:29] paskalov-aris opened #982 "Using something from testing library causes warning: Jest did not exit one second after the test run has completed."
## Describe the bug
When I import and using something from `@testing-library/react-native` the following warning appears:

`Jest did not exit one second after the test run has completed.`

## Expected behavior
This warning does not appear

## Steps to Reproduce
Just import `render` and use it in a test:

[code]

## Screenshots
![Screenshot 2022-05-23 at 10 40 41](https://user-images.githubusercont

[2022-05-23 15:53] sondreluc commented on #982
@paskalov-aris I'm experiencing this exact problem, but with `@testing-library/react-hooks`. Did you solve this?

[2022-05-24 13:29] pke opened #983 "queryByText with newline \n doesn't find matching rendered text"
## Describe the bug

New lines, that are rendered in RN as separate Lines, are wrongly normalised during testing.

[code]

## Expected behavior

I expect the test to pass.
I have checked the queryByText and it seems it uses the same normaliser (Default) as the findTextByNode so this should actually work.

I know that in HTML whitespace is ignored and normalised by browsers to one space. But in RN

[2022-05-24 13:50] pke commented on #983
you mean in this line?

[code]

and

[code]

Sure I will normalize the matcher before comparing it. PR incoming.

[2022-05-24 14:08] pke commented on #983
OK, @mdjastrzebski I have created a fix, but it only fixes this case:

[code]

when I don't wrap the text in a string, it does not work:

[code]

[code]

[2022-05-26 20:17] ManuViola77 commented on #983
I think I have a similar error. I'm using `getByText` and I have a Text that wraps 2 texts inside that have a different style, like this:

[code]

Before, when I did this `expect(getByText('Text 1 Text 2')).toBeDefined();` it used to pass and now is failing.

[2022-06-02 10:12] mdjastrzebski commented on #975
Closing because of lack of activity.

[2022-06-02 10:12] #975 closed

[2022-06-02 10:13] mdjastrzebski commented on #974
Closing because of no recent activity.

[2022-06-02 10:13] #974 closed

[2022-06-02 10:16] mdjastrzebski commented on #895
Closing because of lack of recent activity.

[2022-06-02 10:16] #895 closed

[2022-06-02 10:28] mdjastrzebski commented on #809
The recommended solution is [the one](https://github.com/callstack/react-native-testing-library/issues/809#issuecomment-984823700) mentioned by @Umesh079:
* calling `fireEvent` with `refresh`/`onRefresh` event on `RefreshControl` found e.g. by `testID`.

The reason why RNTL does not call additional event handlers when you fire given event, is that RNTL runs JS-only environment, there is no native

[2022-06-02 10:36] mdjastrzebski commented on #713
Closing because of lack of recent activity.

[2022-06-02 10:36] #713 closed

[2022-06-02 10:37] mdjastrzebski commented on #493
Closing as partially done because of lack of recent activity.

[2022-06-02 10:37] #493 closed

[2022-06-02 10:39] mdjastrzebski commented on #799
Closing because of lack of recent activity.

[2022-06-02 10:39] #799 closed

[2022-06-02 10:51] mdjastrzebski commented on #606
Closing because lack of recent activity.

[2022-06-02 10:51] #606 closed

[2022-06-02 11:41] mdjastrzebski commented on #869
Closing as implemented by #963.

[2022-06-02 11:41] #869 closed

[2022-06-06 13:04] ggunti opened #990 "_reactNative.renderHook is not a function"
## Describe the bug

I get `TypeError: (0 , _reactNative.renderHook) is not a function` error.

## Expected behavior

`renderHook` should be a function and work properly

## Steps to Reproduce

This is what my `Signin.test.js` file contains:
[code]

## Screenshots

<img width="566" alt="Captură de ecran din 2022-06-06 la 16 01 30" src="https://user-images.githubusercontent.com/26307699/172165890-

[2022-06-07 11:29] AugustinLF commented on #970
The path you outline sounds worth pursuing IMO.

[2022-06-08 14:11] AugustinLF commented on #990
The version of RNTL with `renderHook` hasn't be released yet.

[2022-06-09 12:09] AugustinLF commented on #920
Any way you could produce a repo we could check out? Because we have tests for cases like that, so it definitely works in general.

[2022-06-09 21:18] clrnd commented on #920
Managed to get a small case failing here:

https://github.com/clrnd/react-native-testing-library-example-bug

[2022-06-15 15:45] jdager-cb opened #992 "How To Test Navigation If The First Screen is An Animation."
Hello in Advance.

I can't make the Navigation test works. My first Screen is an animation in the useeffect function. I have tried waitfor, faketimer, customtimers, but the render function never wait for the animation to ends and then load the next Screen.

Can you help me?.

There is my code.

Navigation
[code]

The Animation.
[code]

And for test.

[code]

[2022-06-16 23:24] ManuViola77 commented on #28
could it be this bug is back again? Because Im testing with the extended version that is disabled like this:

`expect(something).toBeDisabled();`

and this passes correctly but then I do this:

[code]

and this fails saying it was called 1 time 😢

[2022-06-17 09:41] jamesL92 commented on #982
I'm also experiencing the same issue. Would love to know what you did to solve this @paskalov-aris

[2022-06-17 09:55] dapicester commented on #982
I am using Expo and I got the same error. I solved it by using Jest version compatible to Expo (in my case 26.x). The error occurred when I was using Jest 28.x

[2022-06-17 13:55] jamesL92 commented on #982
I was about to say - downgrading Jest to `27.5.1` seems to have fixed it for me.

I still feel like this issue should be reopened though, feels like there's something in the way @testing-library/react-native methods operate that cause this to be an issue in jest v28+.

[2022-06-18 19:27] ginnymin commented on #990
Anyone have any insight on when the next release will be? I'm also waiting on `renderHook`

[2022-06-21 07:17] V1shvesh commented on #971
@mdjastrzebski I'd love to contribute to this issue, is this up for grabs?

[2022-06-22 17:20] mdjastrzebski commented on #971
@thymikee @V1shvesh wait guys! In the issue description I've presented 3 options how we can get the problem solved. Let's have some discussion before jumping to code.

[2022-06-22 17:21] mdjastrzebski commented on #990
@thymikee is there anything blocking the release? Seems like working 'renderHook' would be useful to many people.

[2022-06-22 18:44] mdjastrzebski commented on #920
I've done some quick research based on repro repo, by adding `console.log`s to `node_modules` of RNTL and found that the culprit is [this line](https://github.com/callstack/react-native-testing-library/blob/2199c1db1b78325688f66d1f4784a9e0303b4869/src/helpers/byText.js#L54) which returns this object when logged to `console.log`:
[code]
Which looks like our own export! Seems like `require('react-na

[2022-06-22 19:44] mdjastrzebski commented on #920
I was able to make the test pass. Require changes:
1. In `jest.config.js` L23: `moduleDirectories: ['node_modules', './'],` => `moduleDirectories: ['node_modules'],` <-- This the culprit of messing the imports
2. In `App.test.tsx` L14: `expect(btn).toBeInTheDocument();` => `expect(btn).toBeTruthy();`. There is no concept of document in RNTL.

@clrnd Overall your setup in repro repo is quite strang

[2022-06-22 19:49] mdjastrzebski opened #993 "Create an RNTL example for TypeScript"
## Describe the Feature
Currently we lack good resource of how to use RNTL with TypeScript. Our current example apps all use JS. Let's create a new example app that will showcase how to properly setup RNTL with TypeScript: minimal setup just for TS, no redux, etc, no fuss. Just the stuff that is required for tests to be written in TS in a way that we consider to be model setup.

## Possible Implem

[2022-06-22 21:43] clrnd commented on #920
Thanks a lot @mdjastrzebski !

What changes would you make to the setup? Like what would a "correct" value be for `testEnvironment` be?

[2022-06-23 06:28] thymikee commented on #920
@clrnd `node` or any custom env that's based on node and not JSDOM. We expect the tests are running in a pure Node.js env, no need for overhead here

[2022-06-23 09:00] mdjastrzebski commented on #971
@V1shvesh In general we try to be as compatible in API terms as possible with RTL for easily the life of developers using RNTL. Also RTL is the original Testing Library, and they have put a lot of time and work, and re-work, in polishing their APIs.

That being said, their custom query implementation has number of problems:
1. User needs to provide all query variants (`getBy`, `getAllBy`, `queryBy

[2022-06-23 09:16] thymikee commented on #990
There was a breaking change right before this feature and I reverted 9.2.0 which had `renderHook`. I've released v10 now

[2022-06-23 09:16] #990 closed

[2022-06-24 06:04] arthedza opened #995 "Error: Exceeded timeout of 5000 ms for a hook"
## Describe the bug

Tests fails with an error: `thrown: "Exceeded timeout of 5000 ms for a hook.
    Use jest.setTimeout(newTimeout) to increase the timeout value, if this is a long-running test.”`

<img width="684" alt="Screenshot 2022-06-30 at 17 43 43" src="https://user-images.githubusercontent.com/9218476/176706805-875ab4c2-2c42-47f1-9abb-6dda0924733f.png">

I tried to increase the timeout to

[2022-06-24 08:35] mdjastrzebski opened #996 "`rerender`/`update` is not working correctly when unmounting root component"
## Describe the bug

The following test fails
[code]
with following error:

<img width="860" alt="image" src="https://user-images.githubusercontent.com/6368606/175496473-a8f57c3f-aa64-4c50-b215-c4d804440338.png">

while the following test works ok
[code]

## Expected behavior

Both tests should work. Remounting root in rerender is not something you usually do, since you rather pass new `props` val

[2022-06-24 09:21] #920 closed

[2022-06-24 09:25] mdjastrzebski commented on #896
We only suport `testEnvironment: 'node'`.

If you want to test under `jsdom` (e.g. for React Native Web) then React Testing Library is more suitable option as it provides better interaction with JSDOM.

[2022-06-24 09:25] #896 closed

[2022-06-24 09:28] mdjastrzebski opened #997 "Verify support for Jest 28."
## Describe the Feature
There seems to be some issues about errors occuring when running with Jest 28, eg. #995, #982.

We need to verify if we support Jest 28.

## Possible Implementations
In most comprehensive scenario we would be able to hold test for both Jest 27 and Jest 28. The would probably require moving our `devDeps` to Jest 28 and writing `jest27` to keep monitoring Jest 27 support.

##

[2022-06-24 09:30] mdjastrzebski opened #998 "Verify support for RN 0.69 + React 18."
## Describe the Feature
We need to make sure that we work correctly with the new version of RN & React.

https://reactnative.dev/blog/2022/06/21/version-069

## Possible Implementations
We could modify our `devDeps` to use RN 0.69 & React 18, while creating `exaples/react-native-069` for monitoring 0.69 support.

## Related Issues

[2022-06-24 09:44] gkartalis opened #999 "RenderAPI type not exported anymore?"
## Ask your Question

I upgraded to @testing-library/react-native v10 and noticed that there were some breaking changes.

Like for example we were using the [RenderAPI](https://github.com/artsy/eigen/blob/47011c3be8b49d0fa6a4dd948a88f37dc41e57ac/src/app/Components/Bidding/Screens/Registration.tests.tsx#L57) type in our project and after the upgrade it is not exported, with what should we replace t

[2022-06-24 09:47] thymikee commented on #999
Sounds like a regression. We should export that

[2022-06-24 09:48] gkartalis commented on #999
a workaround was to add something like `ReturnType<typeof render>` for now

[2022-06-24 09:53] mdjastrzebski commented on #978
As far as I know, you typically use [`TextInput`](https://reactnative.dev/docs/handling-text-input) as a [controlled component](https://reactjs.org/docs/forms.html#controlled-components), i.e. your component using `TextInput` is holding current `value` `for `TextInput` it its state:

[code]

In such case, triggering `fireEvent.changeText` should call your `onChangeText` event handler, which should

[2022-06-24 13:25] arthedza commented on #995
@mdjastrzebski  Tried to use jest 27.1.5 but still the same

[2022-06-24 13:42] #983 closed

[2022-06-26 15:45] Arjun0o opened #1001 "mockConstructor(...): Nothing was returned from render while testing Tab Navigator"
I am trying to test my bottomTabNavigator and have followed the instructions here : https://callstack.github.io/react-native-testing-library/docs/react-navigation but I am getting this error

`    mockConstructor(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.`

This is my test file

[code]

Versions

    "@react-navigat

[2022-06-27 08:27] arthedza commented on #995
@mdjastrzebski Unfortunately, I can't. I've recently updated react-native in the project and I found that react-native-testing-library is working with the previous version of react-native we have. So it may be caused by RN upgrade

[Here is the dependencies diff](https://www.diffchecker.com/QP6q9I1p)

[2022-06-27 08:34] arthedza commented on #995
A config of the working version:

[code]

[2022-06-27 15:48] arthedza commented on #995
@mdjastrzebski Worked with updated RN 0.69 + React 18

[2022-06-27 16:49] AugustinLF commented on #896
Might be worth warning if that's the case? Where I work we share the same test file for web and native, and have jsdom setup for all our RNTL tests. I'll fix that, but I didn't know it could be a problem.

[2022-06-28 11:46] Shivansh-yadav13 opened #1002 "@testing-library/react-native failed installation"
## Describe the bug

I'm not able to install the library in my react native app

## Expected behavior

- able to install in react-native project.

## Steps to Reproduce
- cd to react-native project
- run `npm install --save-dev @testing-library/react-native`

## Error

[code]

## Versions
[code]

[2022-06-28 19:43] V1shvesh commented on #971
Hey @mdjastrzebski,
I went through your POC draft https://github.com/callstack/react-native-testing-library/pull/973, accepting the predicate logic from user really makes sense to me as a functional implementation for this API.

Can you shed more light on the ramifications of breaking compatibility with RTL? I'm really hopeful for having the same API in RTL as well!

[2022-06-29 11:04] AugustinLF commented on #993
For whoever, this repo works https://github.com/AugustinLF/repro-rntl

[2022-06-30 03:45] daviseares commented on #703
This doesn`t work for me. I change my `transformIgnorePatterns' but i cant solution this issue

jest.config.js
[code]

[2022-06-30 08:34] AugustinLF commented on #992
If you remove the animation, does it work? In general regarding animations, I feel the simplest solution is to mock them `jest.mock(...)` and return dummy function that won't do anything.

[2022-07-01 14:17] #1002 closed

[2022-07-04 01:52] kmalakoff opened #1006 "@testing-library/react-native useRef does not return the same type as getByTestID"
## Describe the bug

@testing-library/react-native useRef does not return the same type as getByTestID.

The ref.current is of type "Component" instead of "ReactTestInstance".

## Expected behavior

The ref.current set by useRef should be type of "ReactTestInstance" so that it can be used in an identical manner as an element found through getByTestID

## Steps to Reproduce

Run these commands:
git

[2022-07-13 15:27] tahir-tegeria opened #1007 "Open Handler"
## Jest gives me a waiting about opened handlers
Giving a log to the opened handler is every file wit the import of '@testing-library/react-native'
Searching this problem for jest and the library too  gives me search related to having a database open but i don't have any connection to a database and also i render just text component nothing crazy about async/await

![image](https://user-images.git

[2022-07-13 19:47] mdjastrzebski commented on #1007
@tahir-tegeria what is the exact error message. Your screenshot contains only stacktrace.

[2022-07-13 20:06] mdjastrzebski commented on #1006
I'm not sure if this is possible at all with the current setup.

Key facts:
1. RNTL renders your components using React Test Renderer (not React Native renderer!). So it's a bit different environment compared to code running on device/simulator. There are various limitations to it, and according to [this old thread](https://github.com/facebook/jest/issues/5462#issuecomment-363532494) it does not s

[2022-07-13 20:07] mdjastrzebski commented on #1001
@Arjun0o could you create repro repository?

[2022-07-14 07:28] tahir-tegeria commented on #1007
![image](https://user-images.githubusercontent.com/97900524/178926481-36b19039-9f73-4286-a17c-2a491f5ce3cc.png)

[2022-07-15 12:57] smikheiev commented on #895
@mikefisher84 were you able to fix the issue?

[2022-07-18 16:14] #998 closed

[2022-07-19 07:53] #997 closed

[2022-07-19 09:56] #897 closed

[2022-07-20 09:04] kopax-polyconseil commented on #896
Hello, we also have the same problem and as @AugustinLF pointed out, where can we found the upgrade guide for this version ? We are not aware of what action should be done to succeed an upgrade to jest 27.

[2022-07-20 10:36] MattAgn commented on #325
@mdjastrzebski should we close this issue now that our [PR](https://github.com/callstack/react-native-testing-library/pull/977) is merged?

[2022-07-20 10:37] #325 closed

[2022-07-20 12:52] dcalhoun commented on #896
@kopax-polyconseil there are two options:

1. Change your Jest configuration to `testEnvironment: 'node'` and address any incompatibility in your test (e.g. DOM references).
2. Continue using `testEnvironment: 'jsdom'` and replace RNTL usage with React Testing Library.

Option 1 is ideal if achievable for your code, as tests will run faster.

Also, you may be able to mix both options as need by se

[2022-07-20 13:00] thymikee commented on #896
To add to @mdjastrzebski's comment:

The thing is that even though this library may work within "jsdom" environment, we can't give any guarantee on that, because we're not testing it. We advise using "node" for various reasons outlined in this thread and other ones.

However, I'm happy to learn about usecases we may miss by not actively supporting "jsdom" :)

[2022-07-20 13:46] thymikee commented on #896
@kopax-polyconseil it's unrelated to this library, but you can mock out the `console` object however you like, without relying on external library.

[2022-07-20 16:18] kopax-polyconseil commented on #896
You misunderstood me, this module console-fail-test is not a logger, it is meant to fail test if they are logs.

I have described the issue here since we tried the upgrade to jest 27, we are unable to fix it : https://github.com/Codecademy/console-fail-test/issues/72#issuecomment-1190356938

Perhaps you have a hint for us, I don't have any idea atm yet.

[2022-07-21 16:05] duraz0rz commented on #1007
I get the open handle warning with Jest 28. Jest 27 doesn't have the same problem.

Test:

[code]

Test output:
[code]

Dependencies (at least the ones that matter, I hope):
[code]

We're using the `jest-expo` prese, however, not the React Native one (directly, anyways).

[2022-07-25 10:01] saqib-ahmed commented on #995
I'm getting the same issue for my afterAll hook.

<img width="818" alt="Screenshot 2022-07-25 at 3 00 15 PM" src="https://user-images.githubusercontent.com/16355181/180751274-bd01e60e-f122-42b7-8800-48a26294c7e5.png">

[2022-07-26 01:18] kmalakoff commented on #1006
Understood. Thanks for letting me know

[2022-07-26 01:19] #1006 closed

[2022-07-26 14:57] #1007 closed

[2022-07-27 10:26] MattAgn commented on #970
I would also love to have that feature! @mdjastrzebski  Can I help finishing the implementation?

[2022-08-01 16:09] kylebake commented on #869
Am I correct in assuming that what you mean is there's no built in way to `waitFor` the return values of hooks directly anymore and we will need to always test the consumers of the hooks and have to `waitFor` elements to show/hide based on the values of the hook?

[2022-08-01 21:11] kylebake opened #1030 "`renderHook` result values with `waitFor` not working"
## Describe the bug

Using the new [`renderHook`](https://callstack.github.io/react-native-testing-library/docs/api#renderhook) function included in this library does not behave the same way when it comes to awaiting different return values as the other implementations (referencing specifically [`react-hooks`](https://react-hooks-testing-library.com/reference/api#renderhook) + [`testing-library/re

[2022-08-01 21:35] mdjastrzebski commented on #1030
@kylebake RNTL implementation of both `renderHook` & `waitFor` closely matches React/Dom Testing Library one (essentially it probably is copy+paste+tweak), with minimal changes due to using React Test Renderer instead of React DOM renderer and not using having Js DOM objects like `document`.

If you have a bit of spare time and interest, you could try running diff for `renderHook` and `waitFor` so

[2022-08-01 21:43] mdjastrzebski commented on #970
@MattAgn please do! 💯  This would be a very useful feature to have in RNTL!

[2022-08-01 21:50] mdjastrzebski commented on #1007
@tahir-tegeria did you manage to fix the encoutered error? Looking at the provided test, it looks like some other test file did trigger that error.

[2022-08-01 21:56] mdjastrzebski commented on #1006
@kmalakoff I've recently stumbled upon [createMockNode](https://reactjs.org/docs/test-renderer.html#ideas) function in React Test Renderer. We expose this through our `render` function as `createMockNode` option. Maybe you can use that to implement the test you want.

[2022-08-01 21:56] kylebake commented on #1030
Happy to help out and dig more into it 👍  I'm in the process of upgrading react-native for our app, which is why I'm uncovering some of this. I'll let you know if I find anything over this week

[2022-08-01 22:01] mdjastrzebski commented on #874
Closing issue as stale. @eppisapia please report a new GH issue if the problem is present in the current version of RNTL (v11) in recommended setup as in [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please also provide a repro repository.

[2022-08-01 22:01] #874 closed

[2022-08-01 22:06] mdjastrzebski commented on #882
Closing as fixed by #984. The repo test now passes correctly.

[2022-08-01 22:06] #882 closed

[2022-08-01 22:13] mdjastrzebski commented on #810
Closing issue as stale. @wwdrew please report a new GH issue if the problem is present in the current version of RNTL (v11) in the recommended setup as in the [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please also provide a minimal repro repository.

[2022-08-01 22:13] #810 closed

[2022-08-01 22:14] mdjastrzebski commented on #664
Implemented in #994. Released in [v10.1](https://github.com/callstack/react-native-testing-library/releases/tag/v10.1.0)

[2022-08-01 22:14] #664 closed

[2022-08-02 08:35] tahir-tegeria commented on #1007
Hello, well the problem was caused by the Jest library which by strange the error was throwed by react-testing-library.
The error was that jest used some port to console log and forgot to close them so it was proceeded as an opened handler.
More precisely the scheduler node-module package.
More details https://github.com/node-fetch/node-fetch/issues/1479#issuecomment-1171549725

[2022-08-02 09:44] mdjastrzebski commented on #665
Closing issue as stale.

@joanca please report a new GH issue if the problem is present in the current version of RNTL (v11) in the recommended setup as in the [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please provide also a minimal repro repository.

[2022-08-02 09:44] #665 closed

[2022-08-02 09:46] mdjastrzebski commented on #652
Closing issue as answered.

@dev-andremonteiro please report a new GH issue if the problem is present in the current version of RNTL (v11) in the recommended setup as in the [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please provide also a minimal repro repository.

[2022-08-02 09:46] #652 closed

[2022-08-02 09:58] mdjastrzebski commented on #668
Closing issue as fixed.

[2022-08-02 09:58] #668 closed

[2022-08-02 10:04] mdjastrzebski commented on #659
Closing as superseded by #970, which should provide a solution to the more generalised issues that the hidden screens content, e.g. when using stack navigator from React Navigation, is queried by RNTL by default.

As a partial solution/workaround you can `within` to scope queries to given active screen. You can mark your screens e.g. with `testID` attribute and use `getByTestId` query in a followi

[2022-08-02 10:04] #659 closed

[2022-08-02 10:10] mdjastrzebski commented on #669
Closing issue as stale, probably no longer relevant due to migration to TypeScript.

@pvinis please report a new GH issue if the problem is present in the current version of RNTL (v11) in the recommended setup as in the [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please also provide a minimal repro repository.

[2022-08-02 10:10] #669 closed

[2022-08-02 10:12] #625 closed

[2022-08-02 10:13] mdjastrzebski commented on #295
Closing as done.

[2022-08-02 10:13] #295 closed

[2022-08-02 10:27] AugustinLF commented on #869
I believe what they mean is that you can simply use `waitFor` to wait for the value of the hook to change. Something like that:
[code]

[2022-08-02 13:33] kylebake commented on #869
Yes that's how the other libraries typically work with waitFor, but that's not the functionality I'm seeing with RNTL. I opened a [separate issue here](https://github.com/callstack/react-native-testing-library/issues/1030) that I'm going to be looking more into

[2022-08-02 21:56] mdjastrzebski opened #1032 "Feature: emulate "Text strings must be rendered within a component." error"
## Describe the Feature
React Native renderer throws error when string is rendered outside of `Text` component, e.g. directly under `View` or other native component. It seems that React Test Renderer that we use does not throw a similar error in this situation, which may lead to missed errors that RNTL could capture in tests.

This feature would emulate that behaviour by throwing error whenever st

[2022-08-02 21:58] mdjastrzebski commented on #993
Closing as done by #1025. The model example RNTL setup integration incl. TypeScript is now available as `examples/basic`.

[2022-08-02 21:58] #993 closed

[2022-08-02 22:01] mdjastrzebski commented on #978
Closing as won't fix.

From my understanding `fireEvent.changeText` work correctly for controlled components, and we do not support uncontrolled components scenario because RNTL does not have a native part.

[2022-08-02 22:01] #978 closed

[2022-08-03 14:01] kylebake commented on #1030
A bit more info while I'm still investigating: it definitely appears to be that `renderHook` isn't rerendering the hook when asynchronous tasks happen. How I tested this theory:

If you take the example hook from my first comment, and test it with this code, `result.current` is _always_ 0:

[code]

However, running the following test, `waitFor` handles the situation as I would expect and passes af

[2022-08-03 15:13] mdjastrzebski commented on #649
Resolved by #656

[2022-08-03 15:13] #649 closed

[2022-08-03 15:18] mdjastrzebski commented on #329
Closing as resolved upstream.

@Pardiez if you find that the problem is still present in the current version of RNTL (v11) in recommended setup as in [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic), please create a new GH issue for it. If so, please also provide a repro repository.

[2022-08-03 15:18] #329 closed

[2022-08-03 15:18] mdjastrzebski commented on #785
According to `ReactTestInstance` TS typing `props` should not be nullish. I think we could add some check in the code to support this case.

[2022-08-03 15:20] mdjastrzebski commented on #548
Closing issue as stale.

@temharay please report a new GH issue if the problem is present in the current version of RNTL (v11) in recommended setup as in [basic example app](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic). If so, please also provide a repro repository.

[2022-08-03 15:20] #548 closed

[2022-08-03 15:22] mdjastrzebski commented on #549
This is implemented, as all queries now report their predicate: e.g.
`Unable to find an element with text: ${String(text)}`

[2022-08-03 15:22] #549 closed

[2022-08-03 15:22] mdjastrzebski commented on #556
Closing in favour of feature request #1032

[2022-08-03 15:22] #556 closed

[2022-08-05 03:10] dennis-gonzales commented on #982
Can confirm that downgrading to the version that expo supports fixed the issue for me.
Command I used fyr
[code]

[2022-08-05 07:05] NishanthVemula opened #1035 "Unable to Test components with re-exports"
## Describe the bug

### Component Folder Structure

| Component File Path | Description of Component |
| - | - |
| src/BaseComponents/BaseComponent1.tsx | exports class BaseComponent1 |
| src/BaseComponents/BaseComponent2.tsx | exports class BaseComponent2 |
| src/BaseComponents/index.tsx | re-exports classes BaseComponent1 and BaseComponent1 |

### FinalComponent

**FilePath:** src/Components/Fi

[2022-08-06 06:35] nanda-kumar-k commented on #937
✕ renders learn react link (36 ms)

  ● renders learn react link

    TestingLibraryElementError: Unable to find an element with the text: /learn react/i. This could be because the text is broken up by multiple elements. In this case, you can provide a function for your text matcher to make your matcher more flexible.

    Ignored nodes: comments, <script />, <style />
    <body>
      <div>

[2022-08-08 15:57] mdjastrzebski commented on #1035
Closing as this seems not be connected with RNTL but rather OP setup.

@NishanthVemula based on your error message I would double check if you use proper imports. Seems like you might be using default import for a module that has named exports.

In case you believe that this is indeed RNTL issue, please create a minimal repro repository, based on our `examples/basic` example and post it on this is

[2022-08-08 15:57] #1035 closed

[2022-08-08 15:59] mdjastrzebski commented on #937
@nanda-kumar-k the posted errors seems to concern React Testing Library, and not React Native Testing Library, as the stack trace mentions `@testing-library/dom` and you use HTML elements.

[2022-08-08 16:04] mdjastrzebski commented on #809
Closing the issue as resolved.

[2022-08-08 16:04] #809 closed

[2022-08-08 16:09] mdjastrzebski commented on #570
@MaliahRajan you can use [`toJSON()`](https://callstack.github.io/react-native-testing-library/docs/api/#tojson) to generate JSON representation on your component tree. This can be also used after raising events using `fireEvent`. If the component tree change is not synchronous you might have to wait for the results using either: `findBy` queries or `waitFor`.

Note that due to limitations of Reac

[2022-08-08 16:09] #570 closed

[2022-08-08 16:13] mdjastrzebski commented on #311
@thymikee is this feature request still relevant? Seems like if implemented we would be moving outside of React Native domain and more towards something like React Anything/Test Renderer Testing Library. In such case maybe we should consider extracting common Test Render part and build React Native behaviours on top of it.

[2022-08-08 16:20] mdjastrzebski commented on #539
Seems like the root issue is related to the actual size of component tree generated by using `Animated` wrappers. If so then the you can work around the issue by:
1) including memory allocated to `jest` instance using approach described by @raimonkh
2) mocking `Animated` implementation as described by @scrungrth, preferably using `jest` features instead of `Object.defineProperty`

[2022-08-08 16:20] #539 closed

[2022-08-08 16:22] mdjastrzebski commented on #956
Closing as it seems resolved. Brief `rerender`/`update` docs in available [here](https://callstack.github.io/react-native-testing-library/docs/api/#update).

[2022-08-08 16:22] #956 closed

[2022-08-09 10:26] mdjastrzebski commented on #379
It seems that in the past the `async act()` warning was appearing when there were two `awaits` in the test. One `await` e.g. with `findBy` was working fine, but adding a second one caused the `async act()` warning to appear.

I've noticed that this is no longer the case as our `examples/basic` has one test (`'User can sign in after incorrect attempt'`) where there is a double `await` and error is

[2022-08-09 10:28] mdjastrzebski commented on #477
Closing as stale.

In case anyone involved considers any of the above mentioned points as a bug or missing feature, please fill a separate pull request for each item.

[2022-08-09 10:28] #477 closed

[2022-08-09 10:29] mdjastrzebski commented on #632
Closing as stale.

[2022-08-09 10:29] #632 closed

[2022-08-09 15:27] mdjastrzebski commented on #282
Closing as stale.

[2022-08-09 15:27] #282 closed

[2022-08-09 15:33] mdjastrzebski commented on #714
It seems that RTL [`fireEvent` implementation](https://github.com/testing-library/dom-testing-library/blob/main/src/events.js) passes some default `Event` object in case user omitted the event.

We should match that if feasible.

[2022-08-10 08:26] Norfeldt commented on #379
@mdjastrzebski I removed my patch, upgraded RNTL 9 - did some fixes for some test and it works without the act warnings (it does however seems a little flaky, since sometimes I did see some, but when I ran the test again they were gone 😳). Upgraded to 11 and it also seems to work.

[2022-08-10 08:48] jensdev opened #1054 "Difference between Node 14 and Node 16 in the basic example"
Thank you for this amazing package

## Describe the bug

When running when Node v14.17.5, I get the expected result.
[code]

But when using Node v16 or higher
[code]

When I run it with detectOpenHandles.
[code]

Am I missing something or should this just work?

## Expected behavior

Same output for Node v16 and higher

## Steps to Reproduce

Use Node v16 or higher

## Screenshots

## Versions

[c

[2022-08-10 09:43] mdjastrzebski commented on #1054
We've recently noted the same issue with Node 16 & 18. It seems to be similar to the issue reported by other users, for which we didn't have repro earlier.

We'll be looking to find root cause for this and provide a fix.

@jensdev do you have some spare time and interest to help us investigate this issue?

[2022-08-10 09:45] mdjastrzebski commented on #379
@Norfeldt awesome, thanks for feedback!

[2022-08-10 11:03] jensdev commented on #1054
It seems to be caused by the `scheduler` package.
https://github.com/facebook/react/blob/main/packages/scheduler/src/forks/Scheduler.js#L560
Which points to this issue: https://github.com/facebook/react/issues/20756
Which points to a fix here: https://github.com/facebook/react/issues/20756#issuecomment-780927519 but React 17.1.0 never came I guess.

The following also seems to do the trick
[code]

[2022-08-10 12:11] Norfeldt commented on #379
@mdjastrzebski a few hours after my reply I can conclude that the it has changed from always happing to sometimes happing (flaky) 😢

[2022-08-10 12:26] mdjastrzebski commented on #379
@Norfeldt can you explain what exactly do you mean by flacky here?

[2022-08-10 12:29] Norfeldt commented on #379
Meaning that when I run all my tests the warning appears in some of them. But then I run them again and they then disappear or occur in some other tests.

[2022-08-10 12:43] mdjastrzebski commented on #379
@Norfeldt Hmmm, so it get's non-deterministic. Not sure if that better or worse. Does your previous patch resolve the flakyness?

[2022-08-10 15:24] AugustinLF commented on #714
Yes, I ran into the same problem a while ago, where reading some properties from an event handler broke my tests since I was not passing a fake event. Finding smart values is not trivial, but it's definitely worth pursuing.

[2022-08-11 06:30] Norfeldt commented on #379
I have re-enabled

[code]

[code]

the warnings are gone.. 🙈

[2022-08-11 08:14] mdjastrzebski commented on #379
@Norfeldt: `if (argsWithFormat[0].includes("not wrapped in act(")) return`, no wonder there are no warnings ;-)

[2022-08-11 17:34] thymikee commented on #311
This is something I had in mind very early in the design process. Thought it may become useful, but so far it didn't prove really necessary. I'm ok to close this ticket and wait for some real use case that users bump into.

[2022-08-12 10:42] Norfeldt commented on #379
Yes, it works like magic 🪄

[2022-08-12 22:23] Danondso opened #1061 "Typescript and React Navigation app won't render (TypeError: Cannot read properties of undefined (reading 'current'))"
## Ask your Question
I have the following test where I'm trying to render my login screen.
[code]

But every time I run the tests I end up getting this error.
![image](https://user-images.githubusercontent.com/7014871/184452476-e3360195-4bba-4106-8b33-1174c592473e.png)

I've tried it with a super basic component as well (A View and Text component) and I still get the same error. I've read around h

[2022-08-12 22:24] Danondso commented on #1061
Here's my package.json as well.

[code]

[2022-08-13 13:59] karlmarxlopez commented on #1061
I have the same issue, I just recently upgraded a boilerplate to expo 46. You can check the issue here, https://github.com/karlmarxlopez/expo-ts-and-jest.

[2022-08-13 14:32] karlmarxlopez commented on #1061
Actually, `react-navigation` does not cause the issue.

A simple test like this will also result in the same error.
See my [package.json here.](https://github.com/karlmarxlopez/expo-ts-and-jest/blob/main/package.json)
[code]

[2022-08-13 16:48] Danondso commented on #1061
Okay good to know, I didn't think it was related as I put together a really simple functional component like your example and the same result happened.

I'm wondering if it's a version disparity in the library based on [this issue](https://github.com/testing-library/react-hooks-testing-library/issues/753). I know it's unrelated but I'm wondering if that's a clue at least.

[2022-08-13 17:33] Danondso commented on #1061
@karlmarxlopez Think I got it figured out, upgrade your devDependency of 'react-test-renderer' to match your version of react. I guess the bump from 17 to 18 is causing the issue, shame it's manifesting so vaguely.

[2022-08-16 20:33] Danondso commented on #1061
Got this solved so closing out the issue.

[2022-08-16 20:33] #1061 closed

[2022-08-18 11:56] leepowellnbs opened #1066 "Having to use an empty `act` immediately after render to avoid warning"
I have a component, which does some async loading of data from various sources - some coming from within the component itself, and some coming from a wrapped context - all take place in `useEffect` hooks. I'm finding I'm having to use empty `act` calls to avoid the `act` warning - contrived example:
[code]
In this example I get the "not wrapped in an act" warning from where one of the context prov

[2022-08-18 12:31] mdjastrzebski commented on #1061
I've added the root cause/fix for this issue to our Troubleshooting guide: https://callstack.github.io/react-native-testing-library/docs/troubleshooting#matching-react-native-react--react-test-renderer-versions

[2022-08-18 12:31] mdjastrzebski commented on #938
I've added the root cause/fix for this issue to our Troubleshooting guide: https://callstack.github.io/react-native-testing-library/docs/troubleshooting#matching-react-native-react--react-test-renderer-versions

[2022-08-18 12:32] mdjastrzebski commented on #920
I've added the root cause/fix for this issue to our Troubleshooting guide: https://callstack.github.io/react-native-testing-library/docs/troubleshooting#matching-react-native-react--react-test-renderer-versions

[2022-08-18 14:46] mdjastrzebski commented on #1066
@leepowellnbs can you post a minimal repro repository that showcases the issue & fix?

[2022-08-18 15:52] leepowelldev opened #1067 "Tests with async useEffect don't seem to complete"
## Describe the bug

So I guess this is on the back of my question (https://github.com/callstack/react-native-testing-library/issues/1066) where I was trying to reproduce and isolate the issue. However, I have come up against something similar.

Repo:
https://github.com/leepowelldev/rntl-async-bug

I have created a new component `MyComponent` which has three useEffects which consume async methods

[2022-08-19 08:25] leepowellnbs commented on #1066
@mdjastrzebski sure I'll try to pull one together - I was trying to do so yesterday when I came across this strange behaviour  https://github.com/callstack/react-native-testing-library/issues/1067

[2022-08-19 14:14] pierrezimmermannbam commented on #1067
I believe the issue is the combination of timeouts and promises. From what I notice, the first promise is never resolved. Not sure this should be handled by the library but I do think in this kind of situation what you want to do is use fake timers. Using real timers with timeouts makes tests less predictable and in some cases quite long running so I'd advise against that.
I managed to make your t

[2022-08-19 14:47] leepowellnbs commented on #1067
I'm more concerned about why the first promise doesn't resolve ... I can't see any reason it shouldn't. And I don't think I should be limited to fake timers to make this run. Appreciate this is a contrived example, but I currently have real world code that is similar to this - async useEffects updating state to trigger other useEffects.

I'll certainly take a look over your approach. Thanks.

[2022-08-19 15:02] pierrezimmermannbam commented on #1032
Hey @mdjastrzebski, I'd be happy to help, I'll send a pr soon

[2022-08-19 19:55] mdjastrzebski commented on #1032
@pierrezimmermannbam awesome! Please do :-)

[2022-08-19 19:56] 24dlong opened #1069 "Testing library environment does not call ref.current.focus()"
## Describe the bug

A component in my app focuses a TextInput after a parent Pressable receives a press. I'm using a ref to identify and focus the TextInput element. My desired functionality works just fine when running my app through expo, but my test is failing because it seems that the onFocus event is not being called.

## Expected behavior

When Pressable is pressed via fireEvent, I would ex

[2022-08-19 20:15] pierrezimmermannbam commented on #1032
I've started to work on it, I've completed the first step but I'm having some difficulties for generalizing the behavior.
The custom act wrapper would have been nice as it is supposed to wrap all updates but there is an issue which is that we need access to the instance in order to perform the check. I thought it could be accessed through the screen object but then again there are some issues : du

[2022-08-19 20:29] pierrezimmermannbam commented on #1030
I think the issue here is not with the renderHook implementation but rather that waitFor isn't able to wait for promises using timers, these promises are never resolved (see this other issue #1067). To fix it you can use fake timers, run the pending timer and then use waitFor to resolve the promise. Regarding waitFor not being able to handle this situation I'm not sure what's causing this but I wo

[2022-08-19 21:09] mdjastrzebski commented on #1032
@pierrezimmermannbam Indeed finding a proper hook is rather difficult. Maybe we could wrap rendered user component inside 'React.Profiler' which has 'onRender' event that should be called after each render anywhere among its descendants. At this moment the component tree should probably be already updated, but we need to check that.

If this works we may also analyze how exactly 'React.Profiler' w

[2022-08-19 21:17] mdjastrzebski commented on #1054
@jensdev thanks for investigating the topic! Great job! 💯

I've checked that this behaviour seems to be fixed in React 18 (Expo 46).

If anyone needs to stay on React 17 then Dan Abramov created a small fix package that does the `delete global.MessageChannel` with some React + env version checks:
[code]

Ref: https://github.com/facebook/react/issues/20756#issuecomment-780927519

[2022-08-19 21:17] #1054 closed

[2022-08-19 21:29] mdjastrzebski commented on #1069
@24dlong this is expected as React Test Renderer which we use for rendering does not support `ref`. Check #1006 for more details.

Since the behaviour `focus()` triggering `onFocus` event would probably involve roundtrip to native side (from JS side), then you actually cannot test such behaviour using RNTL as we do run native code (see [here](https://callstack.github.io/react-native-testing-librar

[2022-08-19 21:32] mdjastrzebski commented on #1067
@leepowelldev Does the `MyComponent` test work correctly if we have only 2 promises? What about a single promise? I wonder what might be threshold fold observed behaviour.

[2022-08-19 21:36] mdjastrzebski commented on #1030
@pierrezimmermannbam do you mean that `setTimeout` (and `setInterval`) never gets called when not real timers? Or that they get called but `waitFor` is somehow not able to observe the results of them being called. Either way, that sounds like a serious bug.

[2022-08-19 21:36] mdjastrzebski commented on #1001
Closing as stale.

[2022-08-19 21:36] #1001 closed

[2022-08-19 21:40] mdjastrzebski commented on #995
@arthedza do you mean that updating RN actually solved that issue or cause the issued?

[2022-08-19 21:44] mdjastrzebski commented on #992
Closing as stale. @jdager-cb if you think that the issue still persists and is worth investigating please create a minimal repro repo, it would be best if you could base it on our `examples/basic` app.

[2022-08-19 21:44] #992 closed

[2022-08-19 21:47] mdjastrzebski commented on #982
This seems to be the same error as  #1054.

@dennis-gonzales @jamesL92 @dapicester @sondreluc @paskalov-aris please check if [this fix]((https://github.com/callstack/react-native-testing-library/issues/1054#issuecomment-1221099057) works for you.

[2022-08-19 21:53] mdjastrzebski commented on #861
@MattAgn I am curious which `Pressable` will be actually called inside the test: inner or outer.

Also which should be called to make sense. As far as I understand how RN works, then inner `Pressable` will be called and will consume the event, so that outer `Pressable` will never receive it.

[2022-08-19 21:54] mdjastrzebski commented on #971
@thymikee @AugustinLF @MattAgn @pierrezimmermannbam Could you give your feedback on the proposal (initial post)?

[2022-08-19 22:02] mdjastrzebski commented on #859
I am not sure what exactly causes the async `act()` warning. It does not seem to be using two `awaits` in a single test, as [this test](https://github.com/callstack/react-native-testing-library/blob/6108b955522a9e0b60818c471ad61248146db031/examples/basic/__tests__/App.test.tsx#L88) has two `await findBy` calls, but does not give the warning. It may be more connected to using `findBy`/`waitFor` in

[2022-08-19 22:10] mdjastrzebski commented on #379
The longest running RNTL issue :-)

@Norfeldt @mmomtchev @kuciax @tcank @rijk @ccfz @ryanhobsonsmith @milesj @seyaobey-dev did anyone here actually observed incorrect testing behaviour occurring as a result of this warning or is it just annoying because we like not to have warnings in our test runs?

[2022-08-19 22:20] 24dlong commented on #1069
Thanks for the background and for the workarounds @mdjastrzebski. Super helpful

[2022-08-20 05:57] Norfeldt commented on #379
I'm experiencing flaky CI tests (when I rerun them they pass, they always pass on my local machine). It could be a server issue, but it always lures in the back of my mind if it's related to this issue.

The annoyance is a small thing. When running over 100 tests or debugging one, it makes it hard to work in the terminal.

https://youtu.be/xCcZJ7bQFQA look at 59:04 to see an example of what I mean

[2022-08-20 06:27] sondreluc commented on #982
@mdjastrzebski Can confirm that it fixes this issue for me 👍

[2022-08-20 13:14] leepowelldev commented on #1067
@mdjastrzebski a single promise passes, mutiple promises fails. I don't believe this is a problem with timeouts, but possibly an issue with the promises...

I tried changing the `wait` util from:
[code]
to simply:
[code]
And still got the same issues.

[2022-08-20 15:45] pierrezimmermannbam commented on #1032
@mdjastrzebski using a Profiler worked ! I opened a pr

[2022-08-20 19:38] milesj commented on #379
Yes it does actually cause problems, with the biggest issue being that it _masks failures_ and tests pass with a green status. This is primarily caused by RN overriding the global `Promise`.

Once we patched that, it uncovered a massive amount of these problems. Invalid mocks, accessing on undefined errors, so on and so forth. I really have no idea why this happens, but it does.

[2022-08-22 08:00] mmomtchev commented on #379
I think that the only solution which addresses the root cause is to remove `asap` from React Native. If there is a good reason for having it there, then the next best one is to make sure RNTL skips it in some way. Everything else is covering it up.

[2022-08-22 10:31] MattAgn commented on #971
@mdjastrzebski I love the 3rd option! As you say, considering the low amount of people using this feature, I think RNTL can have its own API
And as @V1shvesh said, the 3rd option also seems like the easiest to use and understand from a user perspective

[2022-08-22 10:41] MattAgn commented on #861
@mdjastrzebski you're right, I don't remember why I wrote that but I agree with you, I think if it bubbles up, the first pressable will catch it
Here's a quick snack that shows it https://snack.expo.dev/@mattagn/nervous-truffle

[2022-08-22 11:02] V1shvesh commented on #971
@mdjastrzebski @MattAgn awesome then, I'll start working on this 👍🏻

[2022-08-22 11:49] mdjastrzebski commented on #861
@jmoliugp In very simplified terms when you use any of the `byText` queries then it will return you the deepest level `Text` element that contains given text or matches given regex. If you then call `fireEvent.press` on that element, then event dispatching logic in RNTL will look through its ancestors to find the nearest *host* view that contains `onPress` event handler.

So in your case this shou

[2022-08-22 11:49] #861 closed

[2022-08-22 11:49] #1069 closed

[2022-08-22 11:50] #982 closed

[2022-08-22 11:52] mdjastrzebski commented on #520
Closing as stale.

[2022-08-22 11:52] #520 closed

[2022-08-22 11:52] #311 closed

[2022-08-22 11:54] mdjastrzebski commented on #797
Added [Test Example Apps](https://github.com/callstack/react-native-testing-library/actions/workflows/example-apps.yml) workflow that uses `npmjs.com` version of the package. This workflow has manual trigger, and should be called after publishing release to verify that the update didn't break the existing examples.

[2022-08-22 11:54] #797 closed

[2022-08-22 11:58] mdjastrzebski commented on #653
Closing as stale. @cdanielraducu copied error seems to be related to your Babel/TypeScript setup. Take a look at our [basic example](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic) setup for recommended settings.

If you believe that this is related to RNTL itself, please create a new issue and provide repro repository based on [basic example app](https://github

[2022-08-22 11:58] #653 closed

[2022-08-22 16:11] mdjastrzebski commented on #379
@Norfeldt @milesj @mmomtchev do you use RNTL Jest preset: `preset: '@testing-library/react-native',`? Does using it make any difference regarding test runs?

[2022-08-22 16:30] milesj commented on #379
Never tried. I don't work on the RN stuff anymore.

[2022-08-23 14:06] kylebake commented on #1030
The promises are resolving in my use cases, I'm able to set breakpoints and see the code get past the async logic. The tests don't seem to be able to see this, however. I'd also push back on it being a jest issue since I'm able to get all of this working without any code/jest changes if I use `testing-library/react`.

A super hacky workaround that I've found is to continuously update the component

[2022-08-25 08:08] Norfeldt commented on #379
I'm trying to upgrade to jest 28 as part of my expo upgrade to SDK 46, but it's giving me some trouble.

https://github.com/software-mansion/react-native-reanimated/issues/3215

Will report back if anything has change regarding this - once if

[2022-08-25 08:52] AugustinLF commented on #971
To me the poor typing support of the first solution is a deal-breaker. I don't have a strong use case for custom queries, but since this seems to be a user requested feature, I do think the third one is the one that makes the most sense, make users life easier, while still making the API maintainable.

[2022-08-25 13:38] mdjastrzebski commented on #379
@Norfeldt that's weird our recent basic example uses Expo 46 & Jest 28: https://github.com/callstack/react-native-testing-library/blob/main/examples/basic/package.json

[2022-08-25 13:42] Norfeldt commented on #379
This basic example does not have reanimated.

[2022-08-25 16:45] alex-mironov opened #1079 "Getting return typeof element?.type === 'string'; when migrating to testing-library v.11 from v.9"
## Describe the bug
For some reason after upgrading to the newer version of react-native and testing-library it fails to parse test files:

[code]

## Versions
[code]

What's weird it was working on version 9.

## jest.config.js
[code]

[2022-08-25 18:44] #1079 closed

[2022-08-26 11:34] douglasjunior commented on #476
`fireEvent(textInput, 'focus')` still working when `editable={false}` 😢

[2022-08-26 11:45] thymikee commented on #476
@douglasjunior we have 2 tests for this scenario which are passing on our infra. Mind investigating on your side, reducing it to a minimal setup and see if some 3rd-party code doesn't interfere? Btw, there's no need to wrap `fireEvent` with `act`, it's done under the hood

[2022-08-26 12:04] douglasjunior commented on #476
Hi @thymikee, thank you for the quick response!

I've just tested on a new project here.

Create a new RN 0.68.2 project using TypeScript template:

[code]

Add testing-library:

[code]

Edit the `__tests__/App-test.tsx` to add:

[code]

Run tests:

[code]

Sample project: https://github.com/douglasjunior/TestingLibrarySample

Other people with similar problem: https://stackoverflow.com/q/65625330

[2022-08-26 12:39] thymikee commented on #476
Would you be able to create a PR with this test failing?

[2022-08-26 12:43] douglasjunior commented on #476
I think I figured out the problem, if using "placeholder" in place of "testID" works as expected.

[code]

[2022-08-26 12:45] thymikee commented on #476
Thanks! Looking forward to the PR :)

[2022-08-26 12:53] douglasjunior commented on #476
Done https://github.com/callstack/react-native-testing-library/pull/1080

[2022-08-26 13:21] douglasjunior commented on #476
Another scenario that's don't work as expected, even using `getByPlaceholderText`, was when using `withTheme` from `@callstack/react-theme-provider`;

[code]

[2022-08-26 21:46] gustavomts commented on #379
It's been two years and I am also having this problem haha

[2022-08-27 07:34] mdjastrzebski commented on #1079
@alex-mironov Did you solve your issue? If so please describe it here, as it might help other users who encounter similar case.

[2022-08-29 06:39] Norfeldt opened #1083 "Triggering a `press` on a conditional rendered component has to be done explicitly on the parent"
## Describe the bug

Triggering a `press` on a conditional rendered component has to be done explicitly on the parent.

## Expected behavior

As described [in another issue](https://github.com/callstack/react-native-testing-library/issues/861#issuecomment-1222245202) it's expected that `press` (onClick) events bubble up automatically. This case however it should not need to since it is getting it

[2022-08-29 07:55] alex-mironov commented on #1079
`pod install --repo-update` helped, I believe there was some weird issue with old version being stuck.

[2022-08-29 09:42] mdjastrzebski commented on #1079
@alex-mironov `pod install` is responsible for native iOS packages, while Jest is JS package taken from NPM repo, so this two should not be related. Seems like you might have made some other changes, on JS-side that fixed the issue.

[2022-08-30 08:42] Norfeldt commented on #1083
The issue was that I had forgotten to enable the button

[code]

just a little weird that I was able to press it by pressing the parent? 🤔

[2022-08-31 11:25] AugustinLF commented on #1083
RNTL will manually trigger props corresponding to event handlers, even if they don't correspond to a pressable. This is useful for some events handled on the native side (so you can then do things like `fireEvent(list, 'onScrollBeginDrag')`. So if your parent node you queried has an `onPress` prop, it'll be called.

But we could be more restrictive on that, but that might be dangerous, since as st

[2022-09-02 17:45] kevinbror commented on #547
Did this every get fixed for waitFor? I'm using @testing-library/react-native@7.2.0 (published after the fix for findBy) and multiple expects in a waitFor print as a failure at the waitFor line obscuring which one actually failed.

i.e. where `expect(queryByTestId("nada")).toBeTruthy();` throws
[code]
I get
[code]

[2022-09-04 13:58] AugustinLF commented on #547
Hmmm, that doesn't indeed sound ideal. In the perfect case you would be able to know what broke the `waitFor`, I'm unsure how easy it'd be to do. But I reckon we would be open for such a PR? Would you mind opening a separate issue for this case, so we can more easily discuss it there?

However, I've had bad experiences with putting multiple `expect` in a `waitFor` and tend to advise to a single on

[2022-09-04 14:41] AugustinLF commented on #981
That's very strange, when adding a test to our codebase to cover this use-case everything worked fine, even though I can see that things don't work as they should in your codesandbox.

[code]

When adding your example in our `examples/basic` folder, it also works fine. So I'll assume the issue is somewhere with your setup?

I'll close the issue for now, if you can manage to reproduce with an easie

[2022-09-04 14:41] #981 closed

[2022-09-04 15:35] AugustinLF opened #1093 "Unexpected failing test when mixing promises and useEffect"
## Describe the bug

I've written a small test case demonstrating issues I've had when combining `user event (press) -> promise -> setState -> useEffect`. The test case fails for RNTL but passes on `@testing-library/react`.

[code]

Logs go:
[code]

Note that the final `onPress` call (the one that we're waiting for) happens after the last check.

## Expected behavior

It works as expected on web,

[2022-09-04 18:02] AugustinLF commented on #1093
Changing the way we handle async update to the way it's handled in the newer versions of `@testing-library/react`, i.e. dropping the `await act` and changing the global `IS_REACT_ACT_ENVIRONMENT` variable works (not changing the global variable still works but leads to some `console.error`.

https://github.com/testing-library/react-testing-library/pull/1031/files#diff-2ef28f1bd92d5dcd1f2a04d56814d

[2022-09-06 16:08] levino opened #1099 "Cannot render a simple component"
Whenever I try to render a - even very simple - component in a test, I get:
[code]
I guess something is wrong with my jest / babel setup. Can anyone help?

This is what my `jest.config.js` looks like:
[code]

[2022-09-06 16:23] mdjastrzebski commented on #1099
@levino Can you post a minimal repro repository showcasing the issue?

Alternatively you can start with setup showcased in examples/basic folder in our repo which should work fine.

[2022-09-07 05:45] levino commented on #1099
My jest config was incorrect. It was
[code]
and needs to be:
[code]
There were some warnings from `jest` but I did not see them since I was using `jest --watch`. My bad. Thanks for taking a look @mdjastrzebski

[2022-09-07 05:45] #1099 closed

[2022-09-08 15:10] mdjastrzebski commented on #1093
@AugustinLF that's interesting, I will need some more time to understand that RTL approach here. Regarding support we run our test against `react@18` (matching RN version). Previously we ran it against previous RN versions, some of which were `react@17`.

If we want to support many RN version we can duplicate `examples/basic` with various RN & React version and plug them into proper CI job. Note t

[2022-09-12 05:37] mharrison-nzme commented on #798
Just writing to say this helped me out, Thank you

[2022-09-12 07:16] mdjastrzebski commented on #798
@mharrison-nzme thanks for sharing this.

In case of trouble you should also check if your React Native version matches React version, as this two packages are different versioning schemes you can use e.g. React Native Upgrade Helper to find a proper version match.

[2022-09-12 07:44] AugustinLF commented on #1093
Reading a bit about react@18 this behaviour seems to be mandatory, quoting:

 https://github.com/reactwg/react-18/discussions/102

[2022-09-13 16:45] henrymoulton opened #1116 "globalObj.setTimeout is not a function when upgrading from version 7.2.0"
## Describe the bug

When upgrading from 7.2.0 to version 9 I encounter errors related to `setTimeout` in my tests:

[code]

and

[code]

## Expected behavior

Should run

## Steps to Reproduce

I noticed this error came up with https://github.com/callstack/react-native-testing-library/issues/702#issuecomment-801934900 but I can't see anywhere that I'm mocking window.

## Versions

[code]

[2022-09-13 16:53] henrymoulton opened #1117 "jest version compatibility"
## Ask your Question

I noticed in the React Native Community TypeScript Template it uses jest 26, and the latest version of this library asks to upgrade to jest 28.

What is the officially supported version of Jest by React Native?

[2022-09-14 05:25] firas1220 opened #1118 "Test fails when using react-navigation container and react-redux provider together"
Hi! I have a weird annoying issue while I try to wrap my component (to render), inside **redux provider** + **navigation container**, following the examples such as [the one in this Github repo](https://github.com/callstack/react-native-testing-library/blob/main/examples/reactnavigation/src/AppNavigator.test.js), as for [the other example](https://github.com/reduxjs/redux-toolkit/blob/master/examp

[2022-09-14 15:00] tinahir commented on #1030
Please try this with @testing-library/react-hooks
it('test', async () => {
  const { result, waitForNextUpdate } = renderHook(() => useHook());

  act(() => {
    result.current.fetch();
  });
  expect(result.current.state).toBe(undefined);

  await waitForNextUpdate();
  expect(result.current.state).toBe('GOOD'); //or at least "BAD"
});

[2022-09-15 09:01] mdjastrzebski opened #1119 "feat: `userEvent` implementation"
## Describe the Feature
RTL has [`userEvent`](https://testing-library.com/docs/ecosystem-user-event/) that simulates user interactions instead of just dispatching native events like `fireEvent`.

## Possible Implementations

In RTL this is a separate package, as it can be used with various web TL implementations based on DOM TL. We could just add it to our main package as another export.
Alternati

[2022-09-15 13:06] mdjastrzebski commented on #1118
@firas1220 In general using `Provider` + `NavigationContainer` should work.

Re error 1: looks like there might be some automatic re-render that happens due to some async action inside the component which is not triggered by explicitly calling `fireEvent`. BTW follwing code is incorrect:
[code]
As if you got `screenGlobalLoading` when it was rendered, then as a `const` it would automatically turn

[2022-09-15 15:46] thymikee commented on #1119
I'm ok with this being a separate export. Are there any plans for RTL to merge this library in, provided it's so essential?

[2022-09-15 16:57] mdjastrzebski commented on #1119
Not sure if they plan re-exporting it like DOM TL quieres.

Since it's a general DOM library they might value being able to develop and version it independently from RTL/DTL.

[2022-09-16 10:25] firas1220 commented on #1118
Hello @mdjastrzebski 👋 I really appreciate these suggestions. I do have some questions to ask tbh, but first, as I agree to share a minimal example that would be useful for sure, Im going to built and share the link to it.

Please stay close 🙏

thanks in advance

[2022-09-18 18:41] fregayeg commented on #1118
Hi again @mdjastrzebski  ! After a hard work 😤 trying to clear up code in order to extract a minimal sample. Finally, [here it is](https://github.com/fregayeg/optional-proj).

BTW, I solved the issue with provider + navigation ✔️. Now, the problem is still with that ``act()`` error(s).

Following what you said, I used this :
[code]
So now I got this error:
[code]

Please help. 🏳️

[2022-09-18 18:50] firas1220 commented on #1118
Hi again @mdjastrzebski ! After a hard work 😤 trying to clear up code in order to extract a minimal sample. Finally, [here it is](https://github.com/fregayeg/optional-proj).

BTW, I solved the issue with provider + navigation ✔️. Now, the problem is still with that ``act()`` error(s).

Following what you said, I used this :
[code]
So now I got this error:
[code]

Also, I even get act error whithou

[2022-09-19 13:20] mdjastrzebski commented on #1117
@henrymoulton afaik RN and Jest do not have such thing as supported version mapping, so you should be able to update Jest version independently of RN.

@thymikee maybe you have some more info why Typescript Template, but also [RN template](https://github.com/facebook/react-native/blob/main/template/package.json) still uses Jest `26.6.x`?

[2022-09-19 19:49] pierrezimmermannbam commented on #937
@mdjastrzebski  There is an issue on the react repo to export the toJSON method https://github.com/facebook/react/issues/14539 but it's stale. Also I've looked a bit at react-test-renderer code and the toJSON method does not use the type ReactTestInstance, but something entirely different that's not exported either. And indeed it is probably impossible to go from ReactTestInstance to ReactTestRend

[2022-09-19 20:44] mdjastrzebski commented on #937
@pierrezimmermannbam I've recently started working on PR to `facebook/react` repo to get `toJSON` exported. I've made some progress but also got stuck on some obstacles and TRT complexity. Would you like to help me with this PR?

[2022-09-20 07:02] Norfeldt commented on #379
@mdjastrzebski I'm now on jest 29 and expo SDK 46 and the issue is still there. I believe that it's because I want to render components that uses react-query and fetches data from a local or staging server. I have a way to (almost) know when it's done, but checking that the queryClient has saved/cached the data.

Is there some way to render with an act - so I can tell RNTL that state updates shoul

[2022-09-20 07:29] pierrezimmermannbam commented on #937
@mdjastrzebski yes I'm very interested ! How to you intend to manage this ?

[2022-09-20 08:11] mdjastrzebski commented on #937
So I've stated with locally modifying the `react-test-renderer` package, by exposing `toJSON` method on `ReactTestInstance`. You can re-apply this yourself using `patch-package`: https://gist.github.com/mdjastrzebski/101f6930b27b3f82801d51c4cb31ecb7

That allowed me to write some POC tests in RNTL repo, e.g.:
[code]

So far so good. Next I went to implement this as a PR for `facebook/react` repo.

[2022-09-20 12:47] AugustinLF opened #1130 "byRole queries don't find element that don't have an explicitly set accessibilityRole prop"
## Describe the bug

`react-native` built-in elements are not queriable with `byRole` queries if you don't set the `accessibilityRole` prop.

## Expected behaviour

`byRole` queries should be able to match some elements without `accessibilityRole`.

We however need to be conscious of what roles should be used to match what elements. My suggestion is checking each element with a voice-over and see

[2022-09-20 15:03] mdjastrzebski opened #1132 "feature: make all (safe) queries return host components"
## Describe the Feature

Currently different types of queries can return either host or composite elements:

The goal of this feature request is to make `text`,  `displayValue` & `placeholderText` return host components. This is probably a breaking change for our users so it should warrant a major release.

## Possible Implementations
Use `component-tree.ts` functions from #1128 to get single host

[2022-09-20 17:14] pierrezimmermannbam commented on #1132
I think this would be a really good change as all queries would now have the same behavior.

Regarding the implementation, I was initially thinking about changing the filtered type in all of the three queries by the host type (for instance using filterNodeByType with type 'Text' instead of Text component required from react-native).
 This works because the props children, placeholder and value are

[2022-09-20 18:43] thymikee commented on #1132
👍🏼

[2022-09-20 19:21] pierrezimmermannbam commented on #937
@mdjastrzebski  The same test also fails in the RNTL repo with the patch-package applied, but that's because the testenvironment is node, I was able to make the test pass by switching the environment to jsdom

[2022-09-20 19:35] pierrezimmermannbam commented on #937
in RNTL repo, I haven't tried in React repo

[2022-09-20 19:45] pierrezimmermannbam commented on #937
@mdjastrzebski nevermind it doesn't work either with jsdom environment, I mixed things up.

[2022-09-20 19:58] pierrezimmermannbam commented on #937
It works for the case with the link (not when rendering the view) if toJSON method return toJSON(this._fiber.child.stateNode) instead of toJSON(this._fiber.stateNode) so there seems to be cases where you'd want to use the child or maybe the children if there are several, I have no clue yet what's the logic behind this though

[2022-09-20 21:58] firas1220 commented on #1118
Hi 😃 is there anything wrong my latest msg? I don't get it, why I don't receive some help here ? is it delicate that much? Please HELP I really need this. 😭

[2022-09-21 04:23] mdjastrzebski commented on #937
Maybe this is due to composite vs host element being passed. The RNTL test passed result of 'getByTestId' so a host view.

[2022-09-21 07:22] pierrezimmermannbam commented on #937
It also works when using getByText, but when trying to use toJSON on the container returned from the render function it fails

[code]

In this case also using this_fiber.child.stateNode works but this time this._fiber_stateNode is not null but it doesn't have a tag property

[2022-09-21 07:54] thymikee commented on #1118
Hey @firas1220. I'd like to make it clear, that this is not really a help forum, but an issue tracker. We have some dedicated capacity to look at the issues, but it's limited. Please be patient and try reaching out on StackOverflow or on Discord https://discord.com/channels/426714625279524876/497332049187962892 to increase your chances of getting help :)

[2022-09-21 10:50] leepowellnbs commented on #1067
FYI I tested this in `@testing-library/react` and it passes as expected.

[2022-09-21 11:27] AugustinLF commented on #1067
I'm pretty sure it's the same as #1093. If you use react 18, we seem to have issues with some cases. In the linked issue there is an attached PR that should fix that.

[2022-09-21 11:35] firas1220 commented on #1118
Hi @thymikee and thanks for reploying:

I'd like to answer on your msg, by spliting it into pieces, that would help both of us; I guess!

You said:

My answer:

---
You said:

My answer:

Btw the link to discord channel is not working. It doesn't bring to anywhere. maybe an invitation will be better.

As for Stackoverflow, that will be my last card.

[2022-09-21 13:41] thymikee commented on #1118
Try using the one we have in the readme: https://discord.gg/QbGezWe

There's something in the works regarding these _warnings_ (they're warnings, not errors, feel free to ignore them really): https://github.com/callstack/react-native-testing-library/pull/1131

[2022-09-21 14:07] firas1220 commented on #1118
Thank @thymikee ! Do I consider this issue closed/resolved then?! 🤔

[2022-09-21 14:08] thymikee commented on #1118
Let's see how #1131 evolves

[2022-09-21 14:14] firas1220 commented on #1118
Right! I close this.

See you there 😉

[2022-09-21 14:14] #1118 closed

[2022-09-21 15:25] AugustinLF commented on #1132
Overall I'm all for always returning the same type of component. From a user-land perspective, what is the difference between a host and composite component (apart from `node.type`)? What types of tests we would break?

Small note, we have a few PRs that include some nice improvement (react 18 + accessibility) and none of them are breaking changes, so if we can get those in before such change, tha

[2022-09-22 11:43] mdjastrzebski commented on #1132
re difference between host and composite components:
* host components is what actually is visible to the user as they represent native views, text labels & inputs, buttons, etc
* you can think of host components as HTML tags like `div`, `span`, `h1`, etc of React Native development
* composite components (function and class components) exist only as developer abstraction and are not directly rend

[2022-09-22 11:48] mdjastrzebski commented on #1130
This is a questions whether we want to emulate that behavior or should React Native actually set these roles by itself.

I wonder why React Native is not supporting more of [ARIA roles](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles)? It even misses things like `textbox` or equivalent role, which seems a huge omission, that will somehow limit the usefulness of `byRole + name

[2022-09-22 12:34] #827 closed

[2022-09-22 12:58] mdjastrzebski opened #1133 "docs: update recommended queries doc"
## Describe the Feature
After merging #1127 we should revisit our [How should I query?](https://callstack.github.io/react-native-testing-library/docs/how-should-i-query) document and update the recommended queries.

The open question remains what should be the recommended queries but I think we should promote `byRole` as one of the top ones following arguments by KCD described here: https://kentcd

[2022-09-22 14:08] AugustinLF commented on #1133
We should add (next on my todo list) the support for the different `accessibilityState`, so you can write `getByRole('button', {name: 'Save', disabled: true})`. And yeah I feel that without implicit roles, it'll be pretty confusing for people.

[2022-09-22 17:17] mdjastrzebski commented on #1133
Adding accessiblity states to `getByRole` is a really good idea, and DTL also implements these: https://testing-library.com/docs/queries/byrole#api

[2022-09-22 17:22] mdjastrzebski commented on #1132
We could add a `legacy: true` option, that users could add to problematic queries that have changed the behavior (`*ByText`, etc), so that they are not forced to migrate everything at once.

[2022-09-22 20:30] pierrezimmermannbam commented on #937
@mdjastrzebski  The following implementation seems to work in most cases

[code]

You were right it does look like it only works on host component

[2022-09-22 21:44] #1093 closed

[2022-09-23 08:53] mdjastrzebski commented on #1130
Regarding getting implicit roles there is another relevant public API: [`getRoles()`](https://testing-library.com/docs/dom-testing-library/api-accessibility#getroles) which we should take into account.

Looks like it's responsible for calculating both explicit and implicit roles for given element: https://github.com/testing-library/dom-testing-library/blob/a9a8cf26992ff0f6b4257b7300939f461d04440d/

[2022-09-23 09:18] AugustinLF opened #1134 "Supports accessibilityStates in ByRole queries"
## Describe the Feature
Like in `@testing-library/dom` (see [docs](https://testing-library.com/docs/queries/byrole#api)), we should support accessibility states when querying by role.

The accessibilityStates existing are
- `disabled`: Indicates whether the element is disabled or not
- `selected`: Indicates whether a selectable element is currently selected or not
- `checked`: Indicates the state

[2022-09-23 09:20] AugustinLF commented on #1133
Created the corresponding issue. We might even consider marking `ByA11yState` queries as deprecated once the accessibility state support has been added to `ByRole`.

[2022-09-23 09:29] mdjastrzebski commented on #1130
I think we also need to think whether to support some ARIA roles that are important but not present in RN [`AccessibilityRole`](https://reactnative.dev/docs/accessibility#accessibilityrole) definition, especially: `textbox`, maybe something more.

[2022-09-23 12:45] AugustinLF commented on #1132
Yeah exactly. The benefit of having it as an option, is that it makes it very easy to pinpoint that this specific feature is the problem.

Once there'll be an open PR I'll also try to apply it to my codebase to see the impact, people have been going pretty wild in with tests so I'd expect it to be a good candidate.

[2022-09-23 16:12] pierrezimmermannbam opened #1135 "Debug util that would only print displayed text"
## Describe the Feature

When debugging tests on large components, i.e. pages, snapshots can be very long and may not be convenient for debugging purposes. Very often I'm mostly interested in seing what text / testID is displayed on the screen and don't really care about the design so I think that a function that would log only the displayed text and maybe also the testIDs could come in pretty han

[2022-09-23 18:42] mdjastrzebski commented on #1133
Also dropping this from DTL as reference: https://testing-library.com/docs/queries/about#priority

[2022-09-25 10:44] AugustinLF commented on #1135
I agree with the idea of filtering output. For instance, filtering out `style` props would be useful for me since I never use it.

I do think we need customisable output. Because if you look at the preferred query discussion we're having (#1133), role is going to become a priority, so it'd need to be in the output. But if you don't care about it, it could be useful to skip it.

I also think we sho

[2022-09-25 11:42] Jaserto commented on #703
any solution?

[2022-09-25 17:56] mdjastrzebski commented on #703
@Jaserto, @YaroslavRenhevych please refer out the recommended RNTL setup in our `examples/basic`. If the problem persists then please create a separate issue with repro repository, preferably based on the `examples/basic`.

[2022-09-25 18:53] mdjastrzebski commented on #1135
@pierrezimmermannbam I think that your use case is closely related to `debug` function, so let's first consider integrating the narrowing down of its input.

Our current API for `debug` is:
[code]
https://github.com/callstack/react-native-testing-library/blob/fa21fc52d45534c320ea3c4f4cd61a7c9d2c07b0/src/render.tsx#L146

Which accepts a `message: string` argument.

In comparison DTL `debug` functio

[2022-09-25 21:58] mdjastrzebski commented on #937
@pierrezimmermannbam I've been able to make some reasonable progress, pls take a look at https://github.com/mdjastrzebski/react/blob/5ec75abd232a2315d90c30d3472ee5ce6130dbcf/packages/react-test-renderer/src/ReactTestRenderer.js#L132

I've created exported `toJSON` function that essentially calls the original `toJSON` when it is a host element, otherwise it recursively calls itself on all its child

[2022-09-26 12:36] mdjastrzebski commented on #1067
I've retested the repro repo you submitted with following deps update and all tests pass:
[code]

Note: the tests seem to require Node 16, due to `AbortController` not available in Node 14.

@leepowelldev can you confirm the RNTL v11.2.0 (with potential React, React Test Renderer and React Native updates) does solve the issue for you.

[2022-09-26 12:37] mdjastrzebski commented on #1066
@leepowelldev could you check if this issue still occurs with RNTL v11.2.0?

[2022-09-26 12:40] mdjastrzebski commented on #1030
@kylebake can you confirm if this issue persists with RNTL v11.2.0?

[2022-09-26 12:45] mdjastrzebski commented on #886
@Niryo can you check if the issue persists with current version of RNTL with Jest 29?

[2022-09-26 12:46] mdjastrzebski commented on #271
Closing as stale.

[2022-09-26 12:46] #271 closed

[2022-09-26 12:48] mdjastrzebski commented on #379
@Norfeldt @milesj @mmomtchev we've released RNTL v11.2.0 that might have improved this issue. Could you verify if it improves things for you. Pls report your React, React Test Renderer & React Native version along with feedback info so we can get a better understanding of the issue.

[2022-09-26 12:49] mdjastrzebski commented on #536
This issue is fundamentally related to React Test Renderer, we plan to submit PR there, so that we can re-export it from RNTL.

[2022-09-26 12:49] #536 closed

[2022-09-26 12:50] mdjastrzebski commented on #696
@gusbmurphy does the issue still occurs on the latest version of RNTL? If so please provide a repro repository, hopefully based on ours `examples/basic` app from our repo.

[2022-09-26 12:53] mdjastrzebski commented on #699
@ccfz could you verify that the issue you reported does still occur on the latest version of RNTL (& React Native, React, React Test Renderer). If so, could you please provide repro repository hopefully based on ours `examples/basic` app in our repo.

[2022-09-26 12:54] mdjastrzebski commented on #709
@Brad19 could you verify that the issue you reported does still occur on the latest version of RNTL (& React Native, React, React Test Renderer). If so, could you please provide repro repository hopefully based on ours `examples/basic` app in our repo.

[2022-09-26 12:55] mdjastrzebski commented on #750
@matt-dalton could you verify that the issue you reported does still occur on the latest version of RNTL (& React Native, React, React Test Renderer). If so, could you please provide repro repository hopefully based on ours `examples/basic` app in our repo.

[2022-09-26 12:57] mdjastrzebski commented on #859
Closing as the error no longer occurs when running tests in `examples/reactnavigation`.

[2022-09-26 12:57] #859 closed

[2022-09-26 13:14] mdjastrzebski commented on #898
@florian-milky  could you verify that the issue you reported does still occur on the latest version of RNTL (& React Native, React, React Test Renderer). If so, could you please provide repro repository hopefully based on ours `examples/basic` app in our repo.

[2022-09-26 13:15] mdjastrzebski commented on #995
Closing as stale.

[2022-09-26 13:15] #995 closed

[2022-09-26 13:28] Niryo commented on #886
Yea, I'll check it later this week

[2022-09-26 15:16] matt-dalton commented on #750
I'm going to have to perform all the upgrades to be able to check that, so unfortunately won't be able to check soon

[2022-09-26 15:52] #1030 closed

[2022-09-26 16:04] mdjastrzebski commented on #1030
Awesome, thanks for checking that @kylebake

[2022-09-26 18:20] pierrezimmermannbam commented on #937
@mdjastrzebski awesome ! I see you're now exporting a function instead of adding a toJSON method to the ReactTestInstance class, why is that ? Wouldn't it be more convenient to have the method on the class ? It would allow for instance to take snapshots of elements returned by query without having to call the toJSON function and still have the JSON representation

[2022-09-26 19:48] stevehanson commented on #379
This did fix this error for me. I am in a new codebase that I set up last week. I was on React Native Testing Library 11.1.0, and upgrading to 11.2.0 made it so the warning I was receiving went away. Here was the test where I had been getting the warning, though the test itself was passing. I presume I was getting the warning because I had multiple `await`s in it:

[code]

React Native: 0.70.1
RN

[2022-09-26 21:21] mdjastrzebski commented on #937
@pierrezimmermannbam I've started with implementing `toJSON` as a method on `ReactTestInstance`, however I've encountered two issues that made free function a more natural approach:
1. `testInstanceToJSON` is recursive, as it needs to call itself for child nodes, and that requires ability to pass node on which to run the function
2. `testInstanceToJSON` accepts either `ReactTestInstance | string`

[2022-09-27 08:58] mdjastrzebski commented on #937
@pierrezimmermannbam I refactored back into `toJSON` method on `ReactTestInstance` and I've submitted PR: https://github.com/facebook/react/pull/25329

[2022-09-27 09:22] AugustinLF opened #1140 "ByRole queries don't find node with name when the node with role has the name as a direct string child"
## Describe the bug

`getByRole(role, {name})` doesn't work when the target node doesn't have components as a child.

[code]

Issue open for better tracking, see #1139 for discussions.

## Versions
RNTL 11.2

[2022-09-27 11:35] AugustinLF commented on #1135
I love the suggested API by @mdjastrzebski. I feel `filterProps` should be renamed to something akin `mapNode`, or whatever, because here we don't filter a prop, we just rewrite what is printed.

And I think it'd be nice to also expose that as global configuration through an API akin to RTL's [configure](https://testing-library.com/docs/dom-testing-library/api-configuration). And with of course a

[2022-09-27 13:32] mdjastrzebski commented on #1135
I've submitted #1141 for adding `configure`

[2022-09-27 13:39] CodingItWrong commented on #714
I am hoping to be able to implement this feature. I have a hackathon on Oct 13 where I'm hoping to make significant progress on this. It's possible my time will be pulled away with some workshops, though, so if someone else would like to work on this feature, don't let me stop you 👍 I will post updates here.

[2022-09-27 15:24] thymikee commented on #1117
Simply because no-one sent a PR to upgrade yet :D RN internally upgraded Jest to 29 recently, so it should be fairly straightforward to upgrade, without being blocked by internal Meta stuff.

[2022-09-27 15:25] thymikee commented on #1117
I'll close this issue, as it's not relevant to the RNTL, but happy to keep the conversation going :)

[2022-09-27 15:25] #1117 closed

[2022-09-28 08:26] Niryo commented on #886
@mdjastrzebski yep, it's still an issue

[2022-09-28 09:00] mdjastrzebski commented on #886
@Niryo thanks for checking it. BTW Jest recently (v27 or v28) added more features to its fake timers implementation. Does sinon-fake-timers still has some features that Jest does not?

[2022-09-28 09:13] Niryo commented on #886
@mdjastrzebski jest still exposes only a subset of sinon's options

[2022-09-29 10:33] mdjastrzebski commented on #1132
I plan to submit such PR after we get #1139 merged.

[2022-09-29 10:37] mdjastrzebski commented on #1130
Do we know which implicit roles we want to support for which components?

Initially we could start with:

* `text` for `Text`
* `textbox` for `TextInput` (not present in [`AccessibilityRole`](https://reactnative.dev/docs/accessibility#accessibilityrole)!)
* `button` for `Pressable` and all `Touchable*` - not 100% sure about this, but seems reasonable

Implicit roles would be used by `*ByRole` quer

[2022-09-29 13:02] AugustinLF opened #1152 "Querying by role with name on nested touchables return multiple elements"
## Describe the bug

We have a problem when querying nested touchables, see the example for more details:

[code]

## Versions

RNTL 11.2

[2022-09-29 13:34] mdjastrzebski commented on #1152
I think that this might actually be a more general aspect of out tree walking code that uses [`findAll`](https://github.com/facebook/react/blob/8003ab9cf5c711eb00f741bbd89def56b066b999/packages/react-test-renderer/src/ReactTestRenderer.js#L390) from RTR.

I imagine that it also should manifest itself for any scenario with matching nested elements, like: `*ByLabel` with following setup:
[code]

or

[2022-09-29 17:13] AugustinLF commented on #1152
Overall I agree, that sounds fair and we should probably use the same API/behaviour. I do think the `accessible={true}` might be a special case, even though ideally the developer would use an `onPress` with a role on the parent element.

[2022-09-29 17:23] AugustinLF commented on #1130
I think we could take some inspiration from [aria role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles), which is more exhaustive than `AccessibilityRole` (that I feel designed as something to set, rather than to query).

If we follow their logic:

- `Text` by itself doesn't have a role, `<p>` doesn't have one on web
- `TextInput` is a hard one, web makes a difference betwee

[2022-09-29 18:04] mdjastrzebski commented on #1130
I think we need to build some playground repos for native, so that we have easier job when examining these roles. For native we could build a sample Expo app and the test it using VoiceOver on iOS and TalkBack on Android. If I understand correctly these screen readers should announce roles for the elements.

It also seems that there are difference between [RN Accessiblity Roles](https://reactnativ

[2022-09-29 21:29] mdjastrzebski commented on #1130
Not sure how reliable is [ESLint A11y plugin](https://github.com/FormidableLabs/eslint-plugin-react-native-a11y), but there are some of interesting rules:
*  has-accessibility-props: Enforce that <Touchable\*> components only have either the accessibilityRole prop or both accessibilityTraits and accessibilityComponentType props set
* no-nested-touchables: Enforce if a view has accessible={true}, t

[2022-09-29 21:32] mdjastrzebski commented on #1130
BTW There seems to be some accessibility stuff that might help us with assumptions in RNTester app: https://github.com/facebook/react-native/blob/e8739e962de3398bc7e42675b1d87ab35993f705/packages/rn-tester/js/examples/Accessibility/AccessibilityExample.js

App itself is located here: https://github.com/facebook/react-native/blob/main/packages/rn-tester/README.md

[2022-09-30 09:48] mdjastrzebski commented on #1152
Regarding the original tests mentioned in this issue, we should consider excluding elements with explicit `accessible={false}` prop from `*ByRole` query, since these are explicitly marked as not being accessibility elements, and afaiu should not have a role.

@AugustinLF wdyt?

[2022-09-30 11:27] #379 closed

[2022-09-30 11:29] mdjastrzebski commented on #696
Closing as stale.

@gusbmurphy If the issue still occurs on the latest version of RNTL, please provide a minimal repro repository, hopefully based on `examples/basic` app from our repo.

[2022-09-30 11:29] #696 closed

[2022-09-30 11:31] mdjastrzebski commented on #714
@CodingItWrong looking forward to your PR. If you make a meaningful partial progress, do not hesitate to submit a draft PR.

[2022-09-30 11:33] mdjastrzebski commented on #750
@matt-dalton understand. I'll close the issue as non-actionable. If you are able to make a repro repository please create a new issue for that.

[2022-09-30 11:33] #750 closed

[2022-09-30 11:44] #785 closed

[2022-09-30 11:45] mdjastrzebski commented on #898
Closing as stale.

@florian-milky If the issue still occurs on the latest version of RNTL, please provide a minimal repro repository, hopefully based on `examples/basic` folder from our repo, so that we can better understand the issue.

[2022-09-30 11:45] #898 closed

[2022-09-30 11:47] mdjastrzebski commented on #953
Closing as implemented in in #1141.

[2022-09-30 11:47] #953 closed

[2022-09-30 11:49] mdjastrzebski commented on #1067
Closing as fixed.

@leepowelldev If the issue still occurs for you on the latest version of RNTL, please provide update the repo with latest RNTL, React, etc deps so that we are able to reproduce it on our end.

[2022-09-30 11:49] #1067 closed

[2022-09-30 11:58] leepowellnbs commented on #1067
@mdjastrzebski sorry, this was on my "todo" list, but it's been a busy few days and it slipped my mind. Thanks for the fix and for testing 🙇

[2022-09-30 12:04] #886 closed

[2022-09-30 12:27] douglasjunior commented on #953
Wow, amazing!

Thank you, @mdjastrzebski!

[2022-09-30 12:34] florian-milky commented on #898
Sorry didn't have time to really follow up on that. I will test again with the latest version and report at least

[2022-10-01 15:52] AugustinLF commented on #1152
Yes, I think that'd be a great start!

[2022-10-02 07:13] mdjastrzebski commented on #1130
In order to have more concrete information about iOS/Android behaviour, I've stared doing experiments how different a11y props combinations affects behaviour of assistive tech on iOS and Android. I share initial findings in newly created [wiki page](https://github.com/callstack/react-native-testing-library/wiki/Accessibility-Behavior). If you have time, please contribute your research for other co

[2022-10-02 07:51] Niryo commented on #886
I agree that it's a rare use case. what about introducing an env param? you already have this env param? you already have this `RNTL_SKIP_AUTO_CLEANUP`, I can add another one like  `RNTL_SKIP_SETTING_TIME_MOCKS`.

[2022-10-02 08:33] mdjastrzebski commented on #886
Sounds like a reasonable solution that would not complicate the API surface for regular users.

@Niryo would you be able to submit a PR for that?

[2022-10-02 09:42] Niryo commented on #886
yep, i'll do it

[2022-10-04 08:06] #1140 closed

[2022-10-05 15:28] kevinbror commented on #547
ok thanks. If I have some time to tinker with it I will go for a PR. But otherwise I'll go with 1:1 waitFor:expect

[2022-10-06 17:07] pierrezimmermannbam commented on #1135
@mdjastrzebski  @AugustinLF  I opened a draft pr with a first implem for the filterProps option, I'd appreciate if you could have a look and tell me what you think about it. I have some doubts regarding the implementation, namely I haven't understand why we use ReactComponent plugin in the format function as it seems to me it's never used. Also if this gets merged additional documentation on the w

[2022-10-06 23:08] jake-carpenter commented on #1066
I'm also seeing this issue in RNTL v9.1.0 with Jest 26.6.3 after upgrading to RN 0.69 (using Expo SDK 46). I don't mean to hijack this discussion - let me know if this warrants discussion and another ticket.

We've previously moved away from queries like `await waitForElementToBeRemoved(() => view.getByLabelText('Loading'))` in favor of `await view.findByLabelText('Foo')` which would wait for load

[2022-10-07 03:30] AugustinLF commented on #1066
That's going to be complicated, because RN 0.69 comes with react 18 which uses a different model for `act`, and we had to [change quite a bit of things for it](https://github.com/callstack/react-native-testing-library/pull/1131). You could try using a [patch package](https://www.npmjs.com/package/patch-package) and reimplement the changes, but that sounds like quite a hassle.

Regarding you RN rea

[2022-10-07 15:31] jake-carpenter commented on #1066
That's what I was afraid of. I'll move forward with using this `act()` hack to hide my problem for now, but probably get started on removing my dependency on react-native-reanimated, unless their fix gets merged soon.

[2022-10-08 09:46] mdjastrzebski opened #1163 "Effect of `accessible` prop on `*ByRole` + `hidden`, `inInaccessible`, etc"
## Describe the issue
According to [`accessible`](https://reactnative.dev/docs/accessibility#accessible) prop documentation, setting it to `true` "groups its children into a single selectable component". Then there is following example:

[code]
with following comment: "In the above example, we can't get accessibility focus separately on 'text one' and 'text two'. Instead we get focus on a parent v

[2022-10-08 10:06] mdjastrzebski opened #1164 "Release: coordination of recent `A11y` and element tree changes/proposal"
Recently we have a lot of activity related to accessibility as well as composite/host elements handling. All of these propositions seem to move RNTL into right direction due to more expressive queries (`*ByRole`), better matching accessibility behaviour of RN/iOS/Android, and increasing compatibility with RTL/DTL. However, the number of changes is getting high, some of which might be breaking chan

[2022-10-08 10:17] mdjastrzebski opened #1165 "bug: `*ByA11yState` query ignores default state values of false"
## Describe the bug

When using `*ByA11yState` queries they perform match given element only when given option has the exact values as passed.

## Current behavior

* `getByA11yState({ disabled: true })` will match `<View accessibilityState={{ disabled: true }} />` (OK)
* `getByA11yState({ disabled: false })` will match `<View accessibilityState={{ disabled: false }} />` (OK)
* `getByA11yState({ d

[2022-10-08 21:30] AugustinLF commented on #1165
I have one question, is state read by the screen reader if there's no role? Does it even make sense? Looking at the MDN docs, only `busy` works with any role. So I'd argue that querying by a11y state might not even be something we should promote, since only `busy` seems relevant as is (and RTL actually doesn't allow querying it).

[2022-10-08 22:28] mdjastrzebski commented on #1165
@AugustinLF this is a valid question, I guess we already have the `*ByA11yState` query. RTL/DTL indeed does not have it, and you can only query state when using `*ByRole` options. This approach makes sense, because if you are only querying state without any additional data this is very coarse query. But maybe some of our users are using it for component-level tests, and/or someone might be using i

[2022-10-08 22:56] AugustinLF commented on #1165
Yeah, I agree. We can fix the current behaviour for now, and see what is the future way forward.

[2022-10-09 02:38] AugustinLF commented on #1164
We've also had two valuable PR things [merged since last release](https://github.com/callstack/react-native-testing-library/compare/v11.2.0...main):
- `configure()` in #1141
- fix to text in `QueryByRole` #1141

Overall, I'm a proponent of releasing minor/patches as often as needed (as long as the release process is not too much of a burden). So I don't feel very strongly on bundling PRs together.

[2022-10-09 20:42] mdjastrzebski commented on #1164
@AugustinLF I agree on releasing minor/patches more frequently, so I've updated the original description to make that clear. What was my intention is to band breaking changes with common a11y/element tree theme into one single major release, instead of triggering a higher number of major releases.

[2022-10-10 17:14] pierrezimmermannbam commented on #1163
If I understand correctly, if this gets implemented with `hidden : true`, for the following component :

[code]

This wouldn't work anymore since the Text element is inaccessible

[code]

This means that we would systematically have to use byRole queries for pressing buttons by text (which if I'm correct requires to add the accessibilityRole prop for now). Even though it probably is a better way t

[2022-10-10 19:35] AugustinLF commented on #1163
I agree with @pierrezimmermannbam. I do think that the example provided should be valid, regardless of the options provided by the developer:
[code]

We might need more granularity when it comes to detecting `hidden`, or at least for some queries.

And we do want to raise an error for this case (because it is likely inaccessible), I don't think it should be done as part of any query, but a render

[2022-10-10 19:52] clytras commented on #329
Only a default `jest.fn()` worked for me on RN 0.69

[code]

[2022-10-11 12:55] Niryo commented on #886
https://github.com/callstack/react-native-testing-library/pull/1169

[2022-10-12 13:36] lubbo commented on #1030
I'm still reproducing the problem in v11.2.0!

[2022-10-12 14:31] AugustinLF commented on #1030
@lubbo could you please post a repro using https://github.com/callstack/react-native-testing-library/tree/main/examples/basic please? Without that, we can't figure out what is happening, since the issue has been solved for most (it seems) users.

Are you using react 18 by the way? Because there could still be problem with older versions of react, but I'm not sure we'll be able to prioritise work t

[2022-10-13 19:56] MattAgn commented on #1163
I also agree with @pierrezimmermannbam and @AugustinLF, it would be a major change for most projects and also not very natural at first. I feel like pressing buttons is one of the most common actions we do in tests.
I think my main concern is that if we need to rely on `testId` or `role` props to click on buttons, we'll be going away from the philosophy of testing library which is to test as much

[2022-10-14 10:49] CodingItWrong commented on #714
In a hackathon today we ended up exploring how the arguments to callbacks should work. We haven’t looked into the structure of the fake event so far.

I’ve pushed up a draft PR that shows the cases we covered, and the form the code took so far.

This investigation uncovered two questions that need to be answered to land this work:

## 1. In What Scenarios to Pass the Generated Event Object
Which t

[2022-10-14 20:19] mdjastrzebski commented on #714
@CodingItWrong thanks for taking care of this issue.

Couple of key points I've noticed while reviewing your code and researching RTL/DTL implementation [here](https://github.com/testing-library/dom-testing-library/blob/main/src/events.js)

1. We generally try to match RTL/DTL behaviour to maintain familiar behaviour with our bigger brother. But we also need to account for things that make React N

[2022-10-14 20:41] mdjastrzebski commented on #1163
Thanks for feedback. I share your concerns about affecting other queries, existing user tests, etc.

**accessible prop effect on screen reader**
In order to learn some more about how the things really behave in RN, I've done some tests using iOS accessibility inspector and Android TalkBack and found that:
* on Android you can nest accessibility elements inside others, and screen ready by default f

[2022-10-15 17:22] mdjastrzebski commented on #714
Seems like DTL has pretty good docs:
- [`fireEvent(name, event)`](https://testing-library.com/docs/dom-testing-library/api-events#fireevent)
- [`fireEvent[event](params)`](https://testing-library.com/docs/dom-testing-library/api-events#fireeventeventname)

We might also want to expose [`createEvent`](https://testing-library.com/docs/dom-testing-library/api-events#createeventeventname) which seems

[2022-10-16 08:24] mdjastrzebski commented on #699
It seems that it should be fixed by #906, which restricted pointer checks just to `press` event.

[2022-10-16 08:24] #699 closed

[2022-10-16 08:26] mdjastrzebski commented on #709
Closing as stale.

@Brad19 If the issue still occurs on the latest version of RNTL, please provide a minimal repro repository, hopefully based on `examples/basic` folder from our repo, so that we can better understand the issue.

[2022-10-16 08:26] #709 closed

[2022-10-16 08:31] mdjastrzebski commented on #1116
Closing as non-actionable. Without repro we cannot do anything more.

[2022-10-16 08:31] #1116 closed

[2022-10-16 17:13] pierrezimmermannbam opened #1176 "When using fake timers, waitFor still uses a setTimeout with real timers"
## Describe the bug

waitFor timeout is using real time when using fake timers, so the fake timers are not necessarily advanced of the timeout. This bug is visible only if the time to perform the check is greater than the interval but it can happen for queries on large components (I met this bug when working on a real codebase).

The following test will fail because the time needed to perform the

[2022-10-16 19:09] pierrezimmermannbam commented on #878
Hi @andrewmwhite ! Thanks for reporting this issue and providing a reproductible demo !

I investigated and it is not a bug on react-native-testing-library side. On your repo, when commenting the first test, the second one will only render a raw Text without props. This happens because the font is not loaded yet (see https://github.com/expo/vector-icons/blob/ef0f0e7654cae597a41843836cca950bf5ffaae

[2022-10-16 19:09] #878 closed

[2022-10-17 16:29] AlanSl commented on #786
I think the original "lack of understanding" was misunderstanding the old linked PR "to make sure getByTestId only returns native elements. https://github.com/callstack/react-native-testing-library/pull/324" - reading it as web vs native when it was actually nothing to do with web, and by "native elements" it meant React Native primitives (View, Text, TextInput) that directly correspond to an unde

[2022-10-17 18:03] mdjastrzebski commented on #786
@AlanSl due to various reasons (basically: available people & our time, solving one problem well instead of spreading thin), we focus on React Test Renderer-based tests. This assumption is reflected in how all our queries and event handling works, and what our own tests check. In a sense RNTL covers the general React Native platform (we do not run iOS or Android native code), so we also support RN

[2022-10-17 20:03] conor909 commented on #786
At the moment I believe the only solid approach to testing web and mobile is to write 2 tests, I’m sure it’s only a matter of time before someone can marry rntl and rtl successfully, or come up with a cool new library. If anyone has any other options please share

[2022-10-17 20:18] mdjastrzebski commented on #786
Please do not reopen this issue, as it is not actionable. If this is for reference then users can also browse closed issues. Otherwise it only clutters the overview of the features and issues we actually plan to work with.

BTW if someone is looking for an experimental side project, then building a small wrapper over RTL + RNTL to allow testing may be a way to go.

[2022-10-17 20:18] #786 closed

[2022-10-17 20:38] mdjastrzebski opened #1180 "*ByRole: return only elements with implicit or explicit `accessible={true}` prop"
## Describe the Feature

This is a proposed tweak to `*ByRole` query. It can be treated as either a fix or a (breaking) change.

Currently `getByRole` query is based on explicit role set in `accessibilityRole` prop. Other props are not taken into account (at least until #1064 is merged). This behaviour while basic can be problematic as according to screen readers, elements with `accessible={false}

[2022-10-17 20:40] mdjastrzebski commented on #1152
Closing in favour of #1180 with more clear scope.

[2022-10-17 20:40] #1152 closed

[2022-10-17 20:40] mdjastrzebski commented on #1163
Thank you all for discussion. Closing in favour of #1180 with more clear scope.

[2022-10-17 20:40] #1163 closed

[2022-10-17 20:52] mdjastrzebski opened #1181 "Feature: improved `findAll` method"
## Describe the Feature
We currently use [`ReactTestInstance.findAll`](https://github.com/facebook/react/blob/9ecf84ed7ffb21c8746ecf227209c050d99393cd/packages/react-test-renderer/src/ReactTestRenderer.js#L402) method in order to traverse element tree. This is a basic tree walking algorithm that starts at the root and traverses recursively to the children.

There is one major issue with the curren

[2022-10-17 21:03] mdjastrzebski opened #1182 "Feature: missing `TextMatcherOptions` for `*ByLabelText` and `*ByHintText` queries"
## Describe the Feature
All basic attribute matcher queries (`*ByText`, `*ByTestId`, ...) accept `TextMatcherOptions` (`exact` and `normalizer`). However `*ByLabelText` and `*ByHintText` do not.

The goal of this task is to add the same options to that queries.

## Possible Implementations
This should be relatively straightforward copying of code from e.g. `*ByTestId` and applying it to *ByLabelTe

[2022-10-17 21:10] mdjastrzebski opened #1183 "Feature: `*ByLabelText` to support `accessibilityLabelledBy`"
## Describe the Feature
Currently when using `*ByLabelText` it only gets the label value from `accessibilityLabel` props. The goal of this request is to get it also from control referred by [`accessibilityLabelledBy`](https://reactnative.dev/docs/accessibility#accessibilitylabelledby-android) prop if present. This props refers to other view using its `nativeID` identifier.

## Possible Implementat

[2022-10-18 06:00] mdjastrzebski commented on #1176
Fixed by #1177

[2022-10-18 07:39] rparthas commented on #1181
I am interested to work on it.

[2022-10-18 07:49] mdjastrzebski commented on #1181
Go ahead @rparthas

[2022-10-18 09:45] mdjastrzebski opened #1184 "RFC: simplify `Text` and `TextInput` related queries"
## Describe the Feature
Currently when looking for `Text` and `TextInput` instances we compare to tree elements type with components exported from React Native. This is problematic because exported components are composite ones, while we try to work primarily with host components. It leads to methods like: `isHostElementForType` which try to navigate from host to composite parent of certain type t

[2022-10-18 10:27] ShaswatPrabhat commented on #1182
I can give it a shot @mdjastrzebski

[2022-10-18 10:37] mdjastrzebski commented on #1182
Go ahead @ShaswatPrabhat

[2022-10-19 06:10] Norfeldt commented on #696
Going from `"^11.2.0"` to `"^11.3.0"` fixed it for me

[2022-10-19 06:22] pafry7 commented on #1183
Hey @mdjastrzebski, I would like to work on this one.

[2022-10-19 07:48] mdjastrzebski commented on #1183
Go ahead @pafry7 !

[2022-10-19 08:04] thymikee commented on #1184
I wouldn't be opposed to use this kind of config. Additionally, can you post a RNTL perspective to this public API discussion? https://github.com/react-native-community/discussions-and-proposals/discussions/523 We could ask if displayName for host components to be defined as public facing, not an implementation detail. Or ask for better alternatives

[2022-10-19 09:16] mdjastrzebski opened #1186 "feature: setup code coverage reporting"
## Describe the Feature
Setup code coverage reporting so that we are aware how well are out code paths covered.

## Possible Implementations
Popular solution seems to be: https://about.codecov.io/ we could use something else if there are compelling reasons to do so.

## Related Issues
N/A

[2022-10-19 09:19] mdjastrzebski commented on #1184
Thanks @thymikee, I was looking especially for your feedback as you were proponent of current approach. We can contribute to the RN discussion, but I think we should proceed regardless of that, as any RN changes would take time to iron out and be merged into codebase.

[2022-10-19 09:23] mdjastrzebski commented on #547
@kevinbror KCD also recommends using only single assertion for `waitFor` queries in his [Common mistakes with RTL](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#having-multiple-assertions-in-a-single-waitfor-callback) article. The reasoning is as follows:
[code]

[2022-10-19 09:55] thymikee commented on #1184
Agree, it's only to secure the future of this approach

[2022-10-19 14:50] AugustinLF commented on #786
We're using that in our app, with a small shim `testing-library.native.ts` and `testing-library.web.ts`, using some nice module resolution, and it works without much problems tbh. So IMO not really a need for a separate library :)

[2022-10-19 14:57] AugustinLF commented on #1184
`autodetectHostComponentNames` could eventually use some caching to make it a bit cheaper, so the rendering would be done only once by test. This ofc assumes that you can't use different versions of RN in the same test, but I guess they could switch to something manual in this specific case.

[2022-10-19 15:02] AugustinLF commented on #1183
Please do that in the same, I don't think it'd make things really more complicated, and it could lead to a confusing error if we don't.

[2022-10-19 17:15] conor909 commented on #786
@AugustinLF that's interesting, do you have any gists?  It could help a lot of people in the react native web world

[2022-10-19 20:55] pierrezimmermannbam commented on #1184
This is a very interesting approach and I like the idea of suggesting proper config for users.

I'm thinking of an alternative approach where on failed query we'd match the component name in the config against the actual component name of RN (by running autoDetectHostComponentNames) and we may then suggest the appropriate component name to use in configure. This way failing tests would explain how

[2022-10-19 21:03] mdjastrzebski commented on #1184
Running `autoDetectHostComponentNames` sounds like an interesting idea. That removes the need for feature 3.

We should take care though to suggest changing the config only if the found component name is different than the current config, as we want to avoid showing suggestion that would not fix anything.

[2022-10-19 22:59] conor909 commented on #786
I've asked [this question](https://stackoverflow.com/questions/74132753/web-mobile-cross-platform-tests-by-merging-react-testing-library-with-react-na) on SO if it's more appropriate place to discuss.

[2022-10-20 08:26] AugustinLF commented on #786
Our tooling knows how to resolve `.(web|native|ios|android)` files, both in tests and build. Based on that, from a test I can import an internal package that has will resolve either to `@testing-library/react` on web, or `@testing-library/react-native`. And then we run the test twice, once with a native configuration, and once with a web one. Implementation is not really interesting, there's not m

[2022-10-20 09:52] #1134 closed

[2022-10-20 16:02] ShaswatPrabhat commented on #1182
Have added the changes (here)[https://github.com/callstack/react-native-testing-library/pull/1193] @mdjastrzebski

But two tests are failing for me.  Can you please spare some time to help me with the same?

Thanks in advance.

[2022-10-21 09:06] #1165 closed

[2022-10-21 09:33] mdjastrzebski opened #1194 "RFC: readability vs RTL compatibility in API naming"
RNTL is modelled after RTL, as one of our unstated goals we strive to reimplement RTL for React Native platform, expose familiar features and APIs while accounting for platform differences.

So far we have been reasonably successful with this approach as it delivered familiar and well thought out API. However recently, when we started to implement A11y-related features I’ve found that some of them

[2022-10-21 15:01] AugustinLF commented on #1194
I vote for the third solution. Or even better, suggest RTL to change :) I agree that we need better name, and RTL's naming shouldn't be the lowest denominator. However having the same names is very important
- for people working with both web and native, this'll lead to painful times where you end up using the wrong variable name
- at Klarna we have a wrapper library to be able to write our tests

[2022-10-24 09:49] pierrezimmermannbam commented on #1194
I agree with @AugustinLF , the naming hidden is very confusing to me so I think it should change so I'm not in favor of the first option and keeping compatibility with RTL is also very important so having both names seems like the better option

[2022-10-25 09:37] speackme opened #1198 "The fireEvent.press event does not work as a result of the render function."
The fireEvent.press event does not work as a result of the render function.

When doing a console.log of the rendering element, it is seen that the Pressable instead of having the onPress event, it converts it to an onClick.

In the logic of the code, therefore, it is not correct.

[code]

[2022-10-27 06:45] MattAgn commented on #1194
I agree with the third option as well, even though I've been working on the hidden option for quite some time now, I still have a hard time remembering what hidden:true means.
For hidden, I might even go for `includeHiddenElements`. If we wanted to be super clear, I'd say `includeElementsHiddenFromAccessibility` or `includeElementsHiddenFromA11y` but that might be a bit long

[2022-10-27 08:38] AugustinLF commented on #1194
IMO the length of the param shouldn't necessarily be a problem. Ideally you want to enable that as a global settings, and only change it when needed, which hopefully should be almost never.

[2022-10-27 11:42] SupriyaPKalghatgi commented on #781
@CodySwannGT I tried your approach, does not work for me
![image](https://user-images.githubusercontent.com/95462949/198275236-6c02516c-5956-4103-a61a-5ded1f8b2d79.png)

[2022-10-27 13:10] SupriyaPKalghatgi opened #1202 "onPress mock() does not get called"
## Describe the bug
I want to mock `onPress` of a form component into my test component.

## Expected behavior
Working code
[code]

Failing code
[code]

## Screenshots

![image](https://user-images.githubusercontent.com/95462949/198293009-7cd9395e-3dcd-467d-a0ab-ad5dbae7cd54.png)

## Versions

![image](https://user-images.githubusercontent.com/95462949/198293171-15c49b76-9b86-4eba-bd63-3b47e2c2e67

[2022-10-28 05:35] SupriyaPKalghatgi commented on #1202
Anybody facing similar issues?

[2022-10-28 10:33] SupriyaPKalghatgi commented on #1202
@thymikee Can you tell me where am I going wrong here

[2022-10-28 11:23] pierrezimmermannbam commented on #1198
This is the intended behavior, queries by testId return native components, and Pressable will render a View with an onClick prop as native component. The idea is that native components (host components) are the ones that are actually rendered and that's why it makes more sense to interact with them, rather than the function components (composite components). Some queries return presently composite

[2022-10-28 11:32] pierrezimmermannbam commented on #1202
It's hard to tell what's not working based on the code you provided, does it work if you replace in the working example the button by the button you use in EducationForm ?

Mayve it's because in EducationForm you change the testProp value so I'd expect onPressMock not to have been called. Do you get the log though ?

[2022-10-28 11:50] pierrezimmermannbam commented on #1194
I agree with both @AugustinLF  and @MattAgn on having a name as explicit as possible

[2022-10-28 11:59] SupriyaPKalghatgi commented on #1202
@pierrezimmermannbam Thank you for looking into this
Working Example Button is from React Native

Not Working Example Button is from NativeBase, hence needs the wrapper.
Yes I get the log

[2022-10-28 12:04] SupriyaPKalghatgi commented on #1202
@pierrezimmermannbam Replaced NativeBase Button with React Native Button into Failing code
Does not work

[2022-10-28 12:14] pierrezimmermannbam commented on #1202
What if you delete those lines ?

[code]

testProp is correctly being called since you get a log, but onPressMock is not called because you override testProp I think

[2022-10-28 13:49] SupriyaPKalghatgi commented on #1202
Currently `testProp` is doing some other job
I want to mock this from test case, hence checking this by log statement

[2022-10-28 14:27] SupriyaPKalghatgi commented on #1202
@pierrezimmermannbam I commented out `testProp` and it works
But my requirement is that currently `testProp` is doing some other job, making API call
Whereas I want to mock this from test case to avoid making API call

[2022-10-28 14:59] pierrezimmermannbam commented on #1202
I don't really understand your use case, if testProp is a jest.fn(), no api call will be made no ? But if you call something else than onPressMock then it's normal that your test fails if you expect onPressMock to have been called

[2022-10-28 15:00] pierrezimmermannbam commented on #1202
To mock http i'd recommend using a dedicated library such as [nock](https://github.com/nock/nock) or [msw](https://github.com/mswjs/msw)

[2022-10-31 05:06] SupriyaPKalghatgi commented on #1202
@pierrezimmermannbam I want `testProp` to return success status (assuming API returns success response)

[2022-10-31 08:35] #1186 closed

[2022-10-31 09:26] mdjastrzebski commented on #781
@CodySwannGT this looks like a setup issue with your test. Please provide a minimal reproduction repo so we could reproduce and diagnose the issue.  It also looks that you are using non-matching `react` and `react-test-renderer` package versions which is known to cause issues: see more [here](https://callstack.github.io/react-native-testing-library/docs/troubleshooting#matching-react-native-react-

[2022-10-31 09:34] mdjastrzebski commented on #1202
@SupriyaPKalghatgi this looks like a setup issue with your test code. Pls provide a minimal reproduction repository so we can reproduce the error on our side, otherwise we cannot say much what is the issue here.

[2022-10-31 09:42] SupriyaPKalghatgi commented on #1202
@mdjastrzebski The issue of calling `onPress` mock is resolved
Moving further, this is something that I want to achieve
https://github.com/callstack/react-native-testing-library/issues/1202#issuecomment-1296547810

[2022-10-31 10:22] #1176 closed

[2022-10-31 10:23] mdjastrzebski commented on #1202
@SupriyaPKalghatgi it seems like you are overwriting passed `testProp` param, hence it does not get called:

[code]

[2022-10-31 10:45] SupriyaPKalghatgi commented on #1202
@mdjastrzebski I have fixed that issue

[2022-10-31 10:52] mdjastrzebski commented on #1202
@SupriyaPKalghatgi closing as there is no issue with RNTL itself. In case you need specific assistance in writing test code please use e.g. StackOverflow: https://stackoverflow.com/questions/tagged/react-native-testing-library

[2022-10-31 10:52] #1202 closed

[2022-10-31 10:56] mdjastrzebski commented on #1198
@speackme I've adapted your code as a test and it works fine under the current versions of RNTL & RN:

[code]

Could you clarify what is the issue your facing?

[2022-11-02 06:04] bkdev98 commented on #1030
Hi @AugustinLF here is my repro using the basic example: https://github.com/bkdev98/rn-testing-lib-waitfor-issue. The __tests__/asyncHooks.spec.tsx failed and `waitFor` does not await for new state updated.

[2022-11-02 08:20] mdjastrzebski commented on #1030
@bkdev98 you should you `waitFor` with an expectation, i.e. something that throws when the expectation is failed. Returning `false` does not work, as `waitFor` considers that a legit return value.

That should be relatively easy to fix:
[code]

@bkdev98 if that does not fix the issue for you, please adjust your code to use `except` as shown above and create a new GH issues for your case.

[2022-11-02 08:23] pierrezimmermannbam commented on #1030
@bkdev98 I made the following changes in your test and it now works

[code]

As @mdjastrzebski mentioned the callback provided to waitFor should throw when the expectation is not met and also since you have a setTimeout of 2000ms, you need to increase the waitFor timeout which is of 1000ms per default so that fake timers are advanced by 2000ms, else it will timeout after 1000s

[2022-11-02 08:26] pierrezimmermannbam commented on #1030
We probably should revisit the documentation on waitFor, it says that the default timeout is 4500ms which is false and it does not clearly state that the expectation should throw so that it may work. Also I think it would be nice to mention that it behaves differently when using fake timers

[2022-11-02 08:33] bkdev98 commented on #1030
It works!! Thank you for your help! ❤️

[2022-11-02 09:58] mdjastrzebski commented on #1030
@pierrezimmermannbam would you have time to update `waitFor` documentation around timeout and making more explicit how the API works (throwing vs boolean)?

[2022-11-02 13:23] mdjastrzebski commented on #1066
Closing as original issue hasn't seen any action since August.

@leepowellnbs if the issue still occurs to you pls create a new issue with minimal repro repo based on our `examples/basic`.

@jake-carpenter Pls create a separate issue with minimal repro repo if needed.

[2022-11-02 13:23] #1066 closed

[2022-11-02 13:24] mdjastrzebski commented on #1181
@rparthas I wanted to check if you still plan to contribute this feature?

[2022-11-02 13:25] mdjastrzebski commented on #1182
Closing as done. @ShaswatPrabhat thanks for implementing this feature.

[2022-11-02 13:25] #1182 closed

[2022-11-02 16:54] mstykow opened #1207 "Typing of `act` broken"
## Describe the bug

The `act` function exported by `@testing-library/react-native` is always of type `(callback: () => void) => void`. However, the underlying function coming from react-test-renderer also has overloads for promises which are incorrectly suppressed.

This error in typing leads to linter errors when one tries to pass promise-returning callbacks to `act` or tries to await a promise-

[2022-11-02 19:34] mdjastrzebski commented on #1207
@mstykow Ciule you submit a PR for that?

[2022-11-03 08:07] mstykow commented on #1207
@mdjastrzebski the problem seems to be here in the flow typings: https://github.com/callstack/react-native-testing-library/blob/main/typings/index.flow.js#L421

Why are you using flow at all when your library is mostly TypeScript? Ideally we'd just forward the correct TypeScript type instead of overriding it with these flow definitions.

[2022-11-03 08:13] mstykow commented on #1207
Never mind, I misunderstood something. I see the problem now is in the actual `act.ts` file.

[2022-11-03 08:32] mstykow commented on #1207
OK, I can open a PR but it seems I don't have permissions to create a branch.

[2022-11-03 09:10] AugustinLF commented on #1207
You'll need to fork the repo and create a branch there. You'll then be able to create a PR back to this repo from yours.

Please modify both the TS and flow types :)

[2022-11-03 09:59] AugustinLF opened #1208 "Call for maintainers: Flow types"
## Describe the Feature
Currently we're maintaing flow types in the repo. We're not testing them in anyway (they could be broken), and I do see them as something not convenient for contribution, since it's most of the time missed by contributors, and for more complex types, it could even be a problem.

Flow is not targeting open source anymore, and even RN now by default suggest TS, see https://gi

[2022-11-03 10:43] mdjastrzebski commented on #1208
I support the idea idea. Let's drop them in v12. None of the maintainers seems to be using Flow, so it became something we try to maintain but we don't really know if it's actually working.

I think we should actually drop Flow types without moving them to FlowTyped by ourselves because we are equality unqualified to support them either here or there. We would announce that we are looking for some

[2022-11-03 12:06] AugustinLF commented on #1208
That sounds ok to me, people could still copy our definitions and add them there if needed. Might be good though to have another minor release before that.

[2022-11-03 12:15] mdjastrzebski commented on #1208
We will probably have at least one minor release with #1064 and maybe #1191 if that would be ready. After that I think we should do all the planned breaking changes: #1208, #1184, #1180, #1132, maybe #1130 and release them together as v14.

[2022-11-03 12:19] mdjastrzebski commented on #1135
Implemented by #1160

[2022-11-03 12:19] #1135 closed

[2022-11-03 12:27] thymikee commented on #1208
I asked on Twitter: https://twitter.com/thymikee/status/1588145699304218624. Please share if you can and let's see what at least a part of our user base thinks about it

[2022-11-03 18:15] mdjastrzebski opened #1209 "RFC: deprecate some a11y queries"
## Problem

Some of our a11y queries are underwhelming:

- `getByA11yState({ disabled: true })` - does not give any control over which control we are trying to find. Can be problematic if there are 2+ controls with matching state, we also might accidentally match another disabled control leading to false negative result.
- `getByA11yValue({ min: 100 })` - similar issues

Note: these queries have n

[2022-11-03 19:07] pierrezimmermannbam commented on #1209
I think this is a really good idea ! However I wonder if the `byLabelText` and `byA11yValue` make sense on their own. It makes sense to keep them if they have a counterpart in RTL, but I'm not sure about keeping queries, not mark them as deprecated and only indicate in documentation that we recommend using getByRole. Most users won't read the documentation so if we really think that using `byRole`

[2022-11-03 20:41] thymikee commented on #1209
If we want to discourage usage, a good start would be to leverage that most of the users use TS, and use the deprecated comment.

To further improve adoption we could create a codemod, ideally applicable through npx so it's a one-liner.

[2022-11-04 16:38] mdjastrzebski commented on #1208
We've got 41 answers to @thymikee survey so far:
<img width="729" alt="image" src="https://user-images.githubusercontent.com/6368606/200025460-047bf4f6-2bf6-4755-82f4-0de443f7b260.png">

Seems like around 22% users who voted still favour supporting Flow in some form. I think this percent might be inflated due to vocal minority of Flow users voicing their concern, while many TS users might ignore i

[2022-11-04 16:42] mdjastrzebski commented on #1209
@thymikee I think there might be problem with both ideas:
1. @deprecated annotation would be easy for explicit function definitions but we have `makeQueries` and also do query binding to root instance, hence all function information is inferred.
2. Codemode will not be possible, as user will have to figure out relevant role values for each affected query.

That leaves use with deprecating warning,

[2022-11-04 21:44] #970 closed

[2022-11-08 10:27] mdjastrzebski commented on #1194
`isInaccessible` alias to `isHiddenFromAccessibility` merged as #1211.

How should we proceed with `hidden` renaming? I would opt for `includeHidden` naming because my only problem with original prop name is that `hidden: true` or `hidden: false` does not give a clear whether hidden elements are actually included or not. Changing that to `includeHidden: true` makes it clear.

Regarding using `incl

[2022-11-08 13:29] cybafelo commented on #995
Oh wait - JUST USE MOCHA

It works.

[2022-11-08 17:42] cybafelo commented on #995
Yes exactly, try to confuse everyone with your acronyms.

Your tool sucks, I would not use it if it werent made to believe popar by
all sheep and asked over and over to use it

I take my rudeness somewhere else

On Tue, 8 Nov 2022, 17:08 Maciej Jastrzebski, ***@***.***>
wrote:

[2022-11-09 07:14] MattAgn commented on #1194
I agree that the most important is to know what hidden true or false means

As for `includeHiddenFromAccessibility`, I don't think it matters that much if it's too verbose, as @AugustinLF said, most of the time, this option will be rarely used in the queries and the global config should be enough. Furthermore, since it will be rarely be used people might go a few month without using it or seeing i

[2022-11-09 07:22] MattAgn commented on #1194
For the implementation, here are some of my thoughts and questions (if we were to go with `includeHidden` for instance):
- for the typing of the queries and the `configure` function, we should only be able to specify either `hidden` or `includeHidden`, not both at the same time. Otherwise we would have to prioritise one over the other which would not be clear
- inside the code (mostly in our custo

[2022-11-09 09:34] mdjastrzebski commented on #1194
@MattAgn Pls go ahead the PR, I will release RNTL after merging that 🚢

I think we should not complicate things and we should assume that if both options are present then the preferred one (`includeHidden`) takes precedence over alias one (`hidden`).

Re naming, let's seen in a PR how the use cases in our tests and doc read with shorter (`includeHidden`) and/or longer version (`includeHiddenFromAc

[2022-11-09 13:21] rkaartikeyan opened #1219 "How to trigger onRequestClose of React Native Modal"
## Ask your Question
How to trigger `onRequestClose` event of React Native Modal? I am trying with below code, but the callback is not getting triggered.

`await fireEvent(screen.getByTestId('error-modal'), 'onRequestClose');`

[2022-11-09 14:53] #1219 closed

[2022-11-10 11:16] MattAgn commented on #1194
Alright I'm on it

[2022-11-10 11:55] pierrezimmermannbam commented on #971
@V1shvesh have you been able to make some progress on this ?

[2022-11-10 12:09] mdjastrzebski commented on #971
@pierrezimmermannbam I went quite far with the protype implementation of options 3 in #973. You can start by reviewing that PR.

[2022-11-10 15:09] leepowelldev opened #1221 "ByText queries don't seem to match across multiple Text elements"
Give this test:
[code]
I would expect the test to pass, according to the docs the `Text` elements should be joined together. I've tried various permutations (regex's, non-exact match, extra Text with a space) and nothing seems to match.

## Expected behavior

Test should pass

## Steps to Reproduce

Run simple test as above (I can put in a repo if it helps)

## Screenshots

<img width="698" alt="S

[2022-11-10 15:28] mdjastrzebski commented on #1221
The behaviour is party correct. In my opinion it should behave in this way if `Text` elements are separate. The issue is however that it should match if in following case:

[code]

However it does not, and this is the bug that we should fix.

As a temporary workaround I can suggest using some other query + `toHaveTextContent` matcher from Jest Native.

[2022-11-10 15:42] leepowelldev commented on #1221
Sure, it's just we're in the middle of a upgrade and lots of our tests are now breaking on this one.

[2022-11-10 15:51] mdjastrzebski commented on #1221
Understood, I cannot promise any fix date for that bug, as proper text matching subject is more complex than it looks at first glance, we had couple of back and forth changes in the implementation, and we are ware around introducing potential breaking changes to other users.

If you have interest in this issue and some spare time I invite to provide a PR for that issue. Otherwise, changing query t

[2022-11-10 21:03] mdjastrzebski commented on #1221
The reason why current implementation is not recursive, is that in following example:

[code]

recursive query for `Hello` will match both `text-1` and `outer-text`. A proper implementation should match only `text-1`, while in case of querying for `Hello World` it should match `outer-text`. That leads to implementation that match given `Text` element, only if none of its children is matched. So th

[2022-11-14 08:53] AugustinLF commented on #1209
I agree with the whole train of thought, `getByRole`. We should also update the doc of those given queries, advising people to go to `*ByRole`, and not limit ourselves with just the overall doc on query preference.

[2022-11-14 15:49] oatsoda opened #1223 "Log screen.debug() if waitFor gets a timeout"
It would be great if failures in `waitFor` output the `screen.debug()` on failure so that the component output is written to the console on failures.

In the [same way it was done in the this library](https://github.com/testing-library/dom-testing-library/issues/559) - though not sure how you can capture the component output in this case.

[2022-11-15 10:18] #1194 closed

[2022-11-15 12:31] mdjastrzebski commented on #1223
@oatsoda looks like a good idea. Would you be able to submit a PR for that?

[2022-11-15 12:32] mdjastrzebski commented on #1208
@AugustinLF @thymikee wdyt? Should we do something regarding flow types?

[2022-11-15 12:32] mdjastrzebski commented on #1164
Closing as no longer relevant

[2022-11-15 12:32] #1164 closed

[2022-11-15 14:12] AugustinLF commented on #1208
It'd be nice to do it, and shouldn't be too hard. But I don't know if anyone feels like doing so^^'

I'm short on time right now and I barely can review the PRs in the repo, so I can't do it in the upcoming weeks.

[2022-11-15 14:41] thymikee commented on #1208
I believe we should pause this until we find someone from the community to maintain the types. I suggest rename this to "Call for Flow types maintainer" and ideally create a corresponding issue in flow-typed repo

[2022-11-17 12:08] #1221 closed

[2022-11-17 12:08] #1181 closed

[2022-11-17 12:25] mdjastrzebski commented on #1221
@leepowelldev v11.5.0 contains a fix for matching nested `Text` content.

 It should work with:
[code]

but not with
[code]

[2022-11-18 07:28] bonusrk commented on #743
maybe it will help someone in 2022.
i figured it out bumping all libraries connected with jest to the same (as jest) version. for me it was:

[code]

[2022-11-19 18:15] pierrezimmermannbam commented on #1223
I'm not sure adding this to waitFor is the best solution. There are cases where this wouldn't be relevant, for instance when expecting some function has been called or when testing hooks. I think this would be useful only when using queries so maybe this should be called when getBy queries fail instead ? A potential issue with this approach is it wouldn't work when checking that an element is not

[2022-11-20 16:48] MattAgn commented on #1180
I'm willing to work on that :)

[2022-11-20 21:11] mdjastrzebski commented on #1180
@MattAgn great! Go ahead.

I've got some initial research done on this subject:
1. `View` seems to default to `accessible={false}` when observed under Xcode Accessibility Inspector and/or iOS/Android screen reader. But some other controls like `Text` and `TextInput` behave the same without `accessible` prop as when set `accessibile={true}`. In order to implement this properly we should analyse all

[2022-11-22 06:29] MattAgn commented on #1180
Alright sounds good to me!
For the the function `isAccessibilityElement`, i would rather go for `isElementAccessible` in terms of naming. The term `accessible element` makes more to sense to me than `accessibility element` wdyt?

[2022-11-22 11:01] mdjastrzebski commented on #1180
There seems to be a difference between "accessible element" vs "accessibility element". We already have `isInaccessible` which when negated would be `isAccessible` but actually conveys idea of "hidden from accessibility" rather than being accessibility element ("focusable by screen reader").

RN docs uses the ["accessibility element"](https://reactnative.dev/docs/accessibility#accessible) naming s

[2022-11-23 07:36] MattAgn commented on #1180
Oh indeed, did not see it was the term used in the RN documentation, fine by me then 👍

[2022-11-23 12:44] byyoungjin opened #1238 "how to solve peer dependency error"
## Ask your Question

I got this error when I tried to install @testing-library/react-native@9.0.0
I got same error when I tried to install latest version. I thought It would be resolved If I choose legacy one( version 9.0.0)  but got the same error.

It is my first time thinking about these peer dependencies seriously.
I want to install without --force or --legacy-peer-deps

I cannot understand w

[2022-11-23 13:50] mdjastrzebski commented on #1238
@byyoungjin you can try specific exact version for `react-test-renderer` (without the `^` sign):
[code]

[2022-11-23 14:18] pierrezimmermannbam opened #1239 "Max length prop of TextInput is ignored"
## Describe the bug

It is possible to change the value of a TextInput that has a maxLength prop. The following test fails for instance :

[code]

## Expected behavior

I'd expect that only the substring of length equal to maxlength is set as value.

Regarding the implementation I'm not sure though if this should be done by fireEvent because it just calls props and we'd have to check what the even

[2022-11-23 15:20] mdjastrzebski commented on #1239
@pierrezimmermannbam that would fall under environment simulation category. I'm not sure whether this is worth adding since this feature would simulate RN env for test, while not really guaranteeing that RN will behave the same.  If this is something that concerns you you can do it, however as part of the research please analyse how real RN apps behave regarding this prop under iOS and Android. At

[2022-11-25 07:27] sobernaut commented on #247
@thymikee This does not answer the question above.

[2022-11-25 09:43] thymikee commented on #247
@sobernaut please create a new issue with a clear description and repro steps :)

[2022-11-25 10:11] Mattan1999 commented on #1238
THANK YOU :)

[2022-11-27 00:06] matthew-dean opened #1242 "Please add `TextMatch` functions to the RNTL API"
## Describe the Feature
In the Core API, getBy* [allows a function to be passed in to test individual elements](https://testing-library.com/docs/queries/about#textmatch). This implementation for React Native only allows strings / regex.

## Possible Implementations
Align with the Core API

[2022-11-30 15:13] mdjastrzebski commented on #1207
@mstykow I've closed your PR without merging as it worked by overriding the `act` type definition instead of actually verifying the related types.

I am curious what is your use cases for needing explicit `act` access in your tests. RNTL should already wrap all relevant calls to React/React Test Render with `act` when needed.

BTW from your deps it seems that you have a mismatch between `react` an