[2018-10-03 18:37] thymikee opened #1 "Setup CI"
I think we'll go with CircleCI

[2018-10-03 18:38] thymikee opened #2 "Add contributing guides and goodies"
- [x] CONTRIBUTING.md
- [x] CODE_OF_CONDUCT.md
- [x] LICENSE.md

[2018-10-03 18:43] thymikee opened #3 "Setup test infra"
Currently the project is tested internally on a project I'm involved.

Technically we could test the library with pure React, without setting up React Native (by mocking some core components), which would massively simplify git checkout and maintenance, so I'm currently drawn into this direction. We can also think about using Expo as a testing example.

Looking forward for simplest, yet comprehens

[2018-10-03 18:43] thymikee opened #4 "Setup badges"
💅

[2018-10-03 20:57] thymikee opened #6 "Implement query* API"
See https://github.com/kentcdodds/react-testing-library#query-apis.
Basically: instead of throwing, return `null`.

[2018-10-04 07:05] thymikee opened #7 "Implement fireEvent API"
See https://github.com/kentcdodds/react-testing-library#fireeventeventnamenode-htmlelement-eventproperties-object.

In RN world we could use it like
[code]

I'd like this to only have events that can be triggered by the user.
Since any "basic" component like Picker, Checkbox, Radiobutton can (and usually is) be implemented in user-land, I don't think there's room for so many events as in DOM world

[2018-10-04 21:41] #3 closed

[2018-10-06 17:35] thymikee commented on #1
Closed via e22cedb72f0dab98906b4a610586656fccb6ffa9

[2018-10-06 17:35] #1 closed

[2018-10-06 17:41] thymikee commented on #4
Closed via 062a43d9e89e8d68f44db4d2f7bec0ee71d58209

[2018-10-06 17:41] #4 closed

[2018-10-06 17:48] #2 closed

[2018-10-07 08:59] #6 closed

[2018-10-07 09:43] thymikee opened #15 "Add TypeScript typings"
We use Flow internally, because that's what React Native comes with by default. Would be cool to add TS typings though :)

[2018-10-07 20:32] #15 closed

[2018-10-11 09:58] thymikee opened #23 "Setup automated release"
Linaria recently adopted `release-it`: https://github.com/callstack/linaria/pull/241
We should explore this too :)

[2018-10-11 10:46] thymikee commented on #23
@satya164 let me know if it works well for you.

[2018-10-11 12:47] thymikee commented on #23
Awesome, thanks!

[2018-10-11 17:14] shawnaxsom opened #24 "Update README overview comparison to Enzyme"
As discussed in this thread:

https://twitter.com/thymikee/status/1050432901945483265

It would be good to both spell out that Enzyme can be set up with deep rendering with `mount()`, which I plan to update documentation for here:

https://github.com/airbnb/enzyme/issues/1375

But it would also be good to highlight the benefits of using react-native-testing-library at the same time. As @thymikee m

[2018-10-11 21:48] thymikee opened #26 "Cleanup the Readme and setup docs website with Docusaurus"
There's a lot of information in the Readme right now. We should move the API and examples into separate files and then maybe generate a website out of it with Docusaurus.

[2018-10-11 21:50] thymikee opened #27 "Add more examples"
There's never too little. As a part of it we could show examples with Redux, Apollo, Relay, React Navigation, etc.

[2018-10-12 07:50] fwal opened #28 "fireEvent seems to always trigger event (on disabled TouchableOpacity)"
I'm trying to figure out why it seems like the `fireEvent.press` function always seem to trigger a callback even though it shouldn't be registered. My use case is that I'm trying to write a test that makes sure that `onPress` isn't called if the component is "disabled".

Trying to mimic the behaviour below...
[code]

[2018-10-12 07:58] fwal commented on #28
Hmm seems like `fireEvent` traverses up the tree and call the function if found, that would make my use-case a bit trickier... https://github.com/callstack/react-native-testing-library/blob/master/src/fireEvent.js#L18

[2018-10-12 08:00] thymikee commented on #28
Yup, that's a desired behavior – user may press a text, which in fact may trigger a parent press event handler.

[2018-10-12 08:03] fwal commented on #28
Any idea on how I could test my behaviour? I basically don't set `onPress` on the touchable component if my prop `disabled` is true...

[2018-10-12 08:03] thymikee commented on #28
cc @Esemesek

[2018-10-12 08:04] thymikee commented on #28
I think it makes sense to stop bubbling just before root component, that would prevent this and seems like a sane solution

[2018-10-12 08:05] fwal commented on #28
Ah I ~could~ probably should swallow the `onPress` event in the TouchableHighlight if disabled is true rather than omitting to set the prop... 🤔

[2018-10-12 08:08] fwal commented on #28
For example this works:
[code]

But then again I'm changing implementation to satisfy the test 😅

[2018-10-12 08:10] thymikee commented on #28
I usually do both just in case, but I guess we could detect the "disabled" prop on the Core RN components like `Touchable*`.

[2018-10-12 08:46] fwal commented on #28
There's probably more cases like this, like `onScroll` and `scrollEnabled` in `ScrollView`. However In my button case I'll probably leave it and rely on that the core components are properly tested.

[2018-10-12 08:48] thymikee commented on #28
Yup, we have an idea on how to make it more generic without changing implementation of `fireEvent`. Bare with us while we're fixing this.

[2018-10-12 19:06] wKovacs64 opened #29 "[Expo] waitForElement: Promise constructor's argument is not a function"
Created a fresh Expo app and tried to use `waitForElement`, but it throws. Works fine in vanilla RN app.

Test:
[code]
Result:
[code]

I'm assuming it has something to do with Expo's [jest-expo](https://github.com/expo/expo/tree/master/packages/jest-expo) preset, but I haven't narrowed it down yet.

Reproduction repo if anyone wants to mess with it: https://github.com/wKovacs64/rntl-expo-test

[2018-10-12 19:19] thymikee commented on #29
Based on stack trace looks like expo preset sets global promise to a npm promise module. Will have to investigate why it fails, but I have no access to my workstation this weekend

[2018-10-15 15:06] thymikee commented on #28
Just merged #30 so the bug is fixed now (not released yet). As for `disabled` prop, this is something that should be fixed in RN mocks tbh. We'll need to think about simulating native events capturing as close as possible though (e.g. including capturing phase).

[2018-10-15 15:43] wKovacs64 commented on #29
Looks like `react-native` itself sets the global promise in its [Jest setup script](https://github.com/facebook/react-native/blob/95174d4ea8d050305885f3cc2a4c99e2b83fc961/jest/setup.js#L21), and `jest-expo` includes that script in its `setupFiles` (as well as its own). But just glancing around `react-native-testing-library`, it doesn't seem like you're doing anything crazy that wouldn't work with

[2018-10-15 18:58] #29 closed

[2018-10-15 20:15] wKovacs64 opened #32 "render does not return the renderer"
The [`render` section of the README](https://github.com/callstack/react-native-testing-library/blob/6097c8f64ce6ad0b3626e2616615d74d73318b22/README.md#render) says:

But [it doesn't](https://github.com/callstack/react-native-testing-library/blob/6097c8f64ce6ad0b3626e2616615d74d73318b22/src/render.js#L18). But it should! 🙂 Looks like they were removed in e6ac5ad9977b81619ddf1e7cbdeb98cf553c82a8, bu

[2018-10-15 20:20] wKovacs64 commented on #29
Fixed by #31, in case anyone stumbles upon this later.

[2018-10-16 05:53] thymikee commented on #32
Renderer was removed so you're not allowed to access the component internal instance. What's your use case?

[2018-10-16 06:07] wKovacs64 commented on #32
The getBy APIs weren't finding something that I knew was there, so I needed to debug to see what react-native-testing-library was seeing. I was able to figure it out* using `renderer.toJSON()` (after modifying my local node_modules `render.js` to include `renderer`).

(* react-native's jest setup script was mocking out ScrollView, but that's neither here nor there)

[2018-10-16 07:10] thymikee commented on #32
Closing, as we've moved the discussion to the mentioned PR and changed the scope of the ticket.

[2018-10-16 07:10] #32 closed

[2018-10-17 14:18] #23 closed

[2018-10-19 08:36] thymikee commented on #26
Would also be cool to mention Rally.
cc @FLGMwt, feel free to send a PR with a wording of your preference :)

[2018-10-22 22:27] rajatvijay opened #44 "How to use this with Native Base?"
When I use `Picker` component of native base, it is not rendered as `select` in DOM. Is there a work around for that?

[2018-10-23 06:52] thymikee commented on #44
This library doesn't render to DOM. Possibly `Picker` from Native Base is mocked in tests and hides its implementation?

[2018-10-23 19:10] sibelius commented on #27
Relay Modern example here https://github.com/entria/ReactNavigationRelayModern/pull/32

not working yet \o/

any help is appreciated

[2018-10-23 20:12] thymikee commented on #27
I have no experience with Relay. I've checked out the code and it looks like `UserList`'s `render` method is not being called for some reason (perhaps `UserListPaginationContainer` is not calling it?). Try to investigate that.

You can also use `debug.deep(renderedComponent)` to take a look what's rendered.

[2018-10-24 21:11] harmeetjaipur opened #46 "How to handle promises?"
[code]

How can I access the result from `fireEvent.press(signIn)`? The result is a promise (JWT) that has token etc in it.

What's the best approach to handle this kind of a test that has promises in it?

[2018-10-24 21:14] sibelius commented on #46
you can use `wait`

[2018-10-24 21:32] thymikee commented on #46
As @sibelius already mentioned, I'd advise to use [waitForElement](https://github.com/callstack/react-native-testing-library#waitforelement) :).

[2018-10-24 21:32] #46 closed

[2018-10-25 09:45] #24 closed

[2018-10-25 17:57] jewseppi opened #48 "Is there a better way to get state from a rendered element?"
I wrote a helper function to retrieve state after a changeText or press event. Is there a better way to do this?

My components are all wrapped in styled-component tags as well..

[code]

[2018-10-25 18:00] sibelius commented on #48
the idea is not the test implementation

user can't change state (or validate state) itself, you should be able to validate state based on rendered components

[2018-10-25 18:00] jewseppi commented on #48
okay thanks that was my assumption, thanks!

[2018-10-25 18:03] thymikee commented on #48
State is an implementation detail of the component and shouldn't be asserted on in testes. Just don't do it. If your state is complex and you feel like testing it in units, extract it to functions.

Just 2h ago React team presented a new way of declaring stateful function components called Hooks. When you assert on the output, like you should, your test will pass even though you rewritten your tes

[2018-10-25 18:03] #48 closed

[2018-10-26 22:04] #44 closed

[2018-10-29 11:02] henrikra opened #49 "Tests won't compile because library is published as ES6"
I am trying to run simple test case in TypeScript project but I am getting

[code]

This means that you guys are publishing the project code in ES6 even though node_modules should be released as ES5.

Could you compile the library code to ES5 and republish that :)

[2018-10-29 11:04] sibelius commented on #49
You should ask Babel-jest to transpile this library instead

[2018-10-29 11:06] henrikra commented on #49
I am using mocha. I think the library code should be available as possible like other libraries are doing. If you really really really want to have library code in ES6 then there should be some steps on the README on how to run it. But that doesn't make any sense since that would require different guides to all different tests runners

[2018-10-29 11:07] thymikee commented on #49
We mainly target React Native, where projects are released as source. Before you feed this lib to your TS compiler, you'll need to run it through Babel with `metro-react-native-babel-preset`.

I think we could compile it to ES5 though, I'm happy to review and accept the PR with that change :)

[2018-10-29 11:31] thymikee commented on #49
Feel free to fix it, this is an open source project and I didn't say no to this kind of improvement 😃.

[2018-10-29 11:32] henrikra commented on #49
@thymikee Okay do you have something in mind that you would use to compile this to ES5?

[2018-10-29 11:35] thymikee commented on #49
Yup, I'd go with `@babel/preset-env` with a target of Node 8 (that's the minimum required by React Native right now).

[2018-10-29 11:36] thymikee commented on #49
Or actually we could just go with `metro-react-native-babel-preset`, already available in dev deps. I think that will be simpler to set up

[2018-10-29 11:46] henrikra commented on #49
So should the compilation be in `release-it`? Looks like you guys are using that but I don't have experience with it

[2018-10-29 11:49] thymikee commented on #49
Don't worry about `release-it`. There should just be a git-ignored (but not npm-ignored) `build` folder with compiled sources, that would get created/updated on pre-release npm hook.

[2018-10-29 12:38] Jukkish commented on #49
@thymikee I made a PR based on your tips, can you check it out?

[2018-11-01 06:30] greenkeeper[bot] opened #53 "An in-range update of conventional-changelog-cli is breaking the build 🚨"
## The devDependency [conventional-changelog-cli](https://github.com/conventional-changelog/conventional-changelog) was updated from `2.0.5` to `2.0.7`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Fconventional-changelog-cli-2.0.7).

This version is **covered** by your **current version range** and after updating it in

[2018-11-13 16:20] greenkeeper[bot] opened #56 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.4` to `0.57.5`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Freact-native-0.57.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native

[2018-11-13 18:37] #56 closed

[2018-11-14 12:09] thymikee opened #59 "Usage with Flow requires react-test-renderer types to be installed"
We should either
1) make it explicit to install the typings using `flow-typed` or
1) add `node_modules/react-native-testing-library/flow-typed/` to `[libs]` in `.flowconfig`
1) move the `ReactTestInstance`/`ReactTestRendererJSON` to our codebase.

I'm leaning towards options 1 & 2 as both make sense in some scenarios.

cc @Esemesek

[2018-11-15 08:34] flpStrri opened #61 "Add waitForElementToDiminish to helper functions"
I started using the library in our react-native project and I keep facing problems to wait until ApolloClient finish loading. Why don't we implement a waitForElementToDiminish so we can always add the loading label/testID and simplify our waits.

[2018-11-15 08:38] thymikee commented on #61
I'm not sure if I understand your request. Can you write a proper RFC with API proposal and how would that works?

[2018-11-15 08:54] flpStrri commented on #61
[code]
it is the exact oposite of waitForElement, it stop waiting when an element desapear.

[2018-11-15 09:16] flpStrri commented on #61
@thymikee I don't know how to make an RFC, can you point me out to a reference?

[2018-11-15 10:37] thymikee commented on #61
I'm really not sure if we should add this to official helpers. I'm cool with this being a 3rd-party library, but having it here people may start using this API to test stuff that's technically unrelated – e.g. disappearing loading indicator could lead to a fallback rendered, not the actual component, and I think you should explicitly check fot something to appear.

cc @Esemesek @kpsroka

[2018-11-15 17:29] flpStrri commented on #61
Another option is to include the `wait` the same way @kentcdodds did: https://github.com/kentcdodds/react-testing-library#wait

[2018-11-15 17:39] Esemesek commented on #53
Fixed by: https://github.com/callstack/react-native-testing-library/pull/58

[2018-11-15 17:39] #53 closed

[2018-11-21 16:02] brooksbecton commented on #26
Docusaurus creates a new website with it's own package.json
Here is an example of the structure: https://docusaurus.io/docs/en/installation#verifying-installation

Are ya'll wanting to keep this Docusaurus site within this repo or have a seperate repo for the doc site?

I was just going move stuff into a "docs/" folder, but having 2 package.jsons seemed weird to me.

Any thoughts on where to put t

[2018-11-21 16:15] thymikee commented on #26
Thanks for offering help!
I'm cool with this sitting in `docs/` directory, no need to sync between repos.
cc @Esemesek as he started to work on this but didn't have time to finish.

[2018-11-22 19:08] robertovg opened #68 "Problem rendering FlatElements"
I love to have `react-native-testing` testing approach in RN, and I'm starting to use it.

I can render almost any RN element, unless FlatList and SectionList. Somehow they are never renderer when I try to access the elements I render with `renderItem`, additionally when I check with `debug()` is like if they are omitted from the rendering.

What should I do to get them working?

[2018-11-22 21:42] thymikee commented on #68
Hey! Can you post an example? I'd like to have this tested inside this repo

[2018-11-23 08:47] kdbcinco opened #69 "[TypeScript] Typings for GetByApi and QueryByApi breaks with components that has required props"

[2018-11-23 08:59] thymikee commented on #69
Do you know any better type for this other than `React.ComponentType`?
cc @Esemesek

[2018-11-23 09:04] kdbcinco commented on #69
@thymikee I tried creating a function with `(type: React.ComponentType<any>)` and it's working. I'm not sure though if it'll affect anything internally with how react-native-testing-library works. I think the issue with just using plain `React.ComponentType` is that it sets the `P`rops template parameter with an empty object by default.

[code]

[2018-11-23 09:07] #49 closed

[2018-11-23 09:16] thymikee commented on #49
Just published `@1.4.1-es5.0` with compiled sources. Let me know if it works for you, both TS and Flow users

[2018-11-23 10:43] thymikee commented on #69
But isn't it right? By default `props` is an empty object. Sounds like a bug in `react-native-elements` typings to me.

[2018-11-23 11:45] thymikee commented on #26
FYI @brooksbecton #70 brings `docs/api.md` to the table. So adding Docusaurus should be easier once that's merged.

[2018-11-23 13:09] henrikra commented on #69
Can you give more detailed example with more example code?

[2018-11-23 13:18] robertovg commented on #68
Of course, I wanted to share an isolated case to show you the problem via http://snack.expo.io but is not possible, because snack doesn't allow the unit test.

So I created a simple project with `expo init` and I build the "same implementation" with and without `FlatList`, here in Github: https://github.com/robertovg/React-Native-Testing-Library-Flat-List

I wrote 3 tests:

- One just with a snaps

[2018-11-23 13:34] kdbcinco commented on #69
The Icon component from RNE has this type definition:

[code]

With `IconProps` defined as:

[code]

Now when using `getByType(type: React.ComponentType)` (which really means this `getByType(type: React.ComponentType<{}>)`), `IconProps` will not be compatible anymore because `{}` does not have `name`.

For now, I'm using the `*ByName` APIs as a workaround, though they're now deprecated.

[2018-11-23 13:37] thymikee commented on #69
So, will changing `React.ComponentType` to `React.ComponentClass<any, any> | React.StatelessComponent<any>` do the trick? Maybe there's more permissive type provided by TS itself?

[2018-11-23 13:41] kdbcinco commented on #69
I'm thinking of `function getByType<P>(type: React.ComponentType<P>)`. That way, the function will follow the Prop type defined for the given type.

[2018-11-23 13:42] thymikee commented on #69
Mind sending a PR plus adding a typing test in  `typings/__tests__`?

[2018-11-23 13:43] kdbcinco commented on #69
Sure, tomorrow as I'm already heading out of the office. 😄

[2018-11-23 13:45] thymikee commented on #68
Thanks! I'll have a look at the code soon and will see what can be done on our side or in RN itself

[2018-11-23 13:45] thymikee commented on #69
No rush, enjoy your weekend!

[2018-11-23 14:16] thymikee commented on #68
Ok, so I created a small sample based on your component and it works just fine. See:

[code]

I caused a re-render by changing state here. Maybe your component doesn't re-render for some reason (I didn't look too much at your sample)

[2018-11-23 14:45] robertovg commented on #68
Ok, I'm sure there is something wrong with my configuration, on the same project I just added a new Test Case with your code called `SmallIsolatedSample.test.js`. And now I got the same output as before:

As you can see, after the button, there are no projects.

So **could you check this project configuration or share yours?**, as this is the source of all my problems to use this lib.

Thanks in a

[2018-11-23 14:52] thymikee commented on #68
`FlatList` is cleary rendered as null and doesn't show in component tree. Is it possible that `jest-expo` preset mocks FlatList like that?

[2018-11-23 15:04] robertovg commented on #68
It is strange this, but could be. Could you share with me a project with your example so I can compare the ’package’ configuration?

Because you also tried to download and try this repo with the same result, right?

[2018-11-23 15:06] thymikee commented on #68
I literally copied my example to his repo's test suite. I'm looking at your project and there's something strange indeed.

[2018-11-23 15:37] robertovg commented on #68
Just to be clear, your test suit doesn't work in my project in your machine, that's why my project report has something wrong, right?

I just tried using the same repo with `presset: react-native` instead of `jest-expo` as it's recommended here: https://jestjs.io/docs/en/tutorial-react-native, with the same result.
Expo is a must for us, as is already part of our dev workflow, but we could change

[2018-11-23 15:43] thymikee commented on #68
I just checked with plain `react-test-renderer` and the same happens (not surprised though, as we don't change anything render outputs).
Someone from the Expo team would need to weigh in.

[2018-11-23 16:05] robertovg commented on #68
Will post them but maybe you could share a project where your example was
working to check if I can use Expo for app running and your conf without
Expo for tests.
On Fri, 23 Nov 2018 at 16:43, Michał Pierzchała <notifications@github.com>
wrote:

--

--
Roberto Vázquez González

[2018-11-23 16:12] thymikee commented on #68
Also confirmed that this helps (obviously a hack):
[code]
So there's definitely some extra work Expo is doing with FlatList/VirtualizedList or their deps that prevents rendering items in test environment.

You can find the example that works on this branch: https://github.com/callstack/react-native-testing-library/tree/expo-bug/flatlist

[2018-11-25 22:36] thymikee commented on #68
Closing this issue then. Let us know what you found out and when it's fixed :)

[2018-11-25 22:36] #68 closed

[2018-11-26 06:00] kdbcinco commented on #69
@thymikee Done creating a PR. Might've messed it up a bit. 😅

[2018-11-26 17:27] greenkeeper[bot] opened #72 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.5` to `0.57.6`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Freact-native-0.57.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native

[2018-11-27 17:31] thymikee commented on #26
Awesome! Can you send a PR btw?

[2018-11-27 18:32] #72 closed

[2018-11-27 18:33] thymikee commented on #49
@henrikra @Jukkish ping ^

[2018-11-28 20:34] thymikee opened #78 "RFC: Investigate shallow equivalents of render getBy APIs"
Currently we use shallow rendering as a way to generate small snapshots, e.g. for snapshot-diff lib.
As much as I'm a fan of deep rendering I think in some cases, e.g. if one wants to test components as units, or speed up some tests that don't require deep rendering, it may make sense to assert on shallow output.
However, due to shallow renderer limitations, one couldn't rely on all lifecycle meth

[2018-11-30 01:10] greenkeeper[bot] opened #81 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.7.8` to `16.7.9`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2F%40types%2Freact-16.7.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2018-12-01 07:48] thymikee commented on #81
@Esemesek mind taking a look?

[2018-12-01 13:43] #81 closed

[2018-12-03 08:36] janhesters opened #83 "Unexpected behavior for <Text /> element"
In React Native it is okay to pass a number as a child for a `<Text />` element. So
[code]
is the same as
[code]
or
[code]
But since `getByText` only accepts a string as it's input, you can't find the element if it's being rendered in the first way.

This took me quite some time to debug and I think it's very counter-intuitive. Maybe there is a good solution so `getByText` finds everything rendere

[2018-12-03 11:30] janhesters commented on #83
@thymikee Thank you for your help! I'm unfamiliar with regexes. Is there a way to convert an object to a regex?

Meaning ideally the test would look like this:
[code]
which doesn't work because of the described problem.

Is there something like
[code]
?

[2018-12-03 11:32] thymikee commented on #83
Yup, you can create a new regex out of a string: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp

[2018-12-03 12:19] janhesters commented on #83
Hmm, thank you again for your help. I tried doing what you said. I found [this stackoverflow question](https://stackoverflow.com/questions/5752829/regular-expression-for-exact-match-of-a-string) and answer Following this I tried to match the string like this:

[code]

Do you have any idea what is going wrong?

[2018-12-03 12:36] janhesters commented on #83
I tried that way, too

[code]

and still the component isn't found.

[2018-12-03 12:38] #83 closed

[2018-12-03 12:38] thymikee commented on #83
Awesome you made it!

[2018-12-03 14:41] thymikee opened #84 "Use `@babel/preset-env` for ES6 transpilation"
Currently we use Metro preset to transpile our files, which does a lot of transforms, that are not really necessary for running in Node 6+ (lowest actively supported version) environment.

It should be totally fine if we transformed our sources with `@babel/preset-env` with Node 6 target.

[2018-12-10 17:25] joshuakelly opened #85 "Press doesn't exist on element"
If i have the following component setup and then `render(<SignUp />);` in a test file. Trying to check if the event fires on press does not register.

[code]

[2018-12-10 17:41] thymikee commented on #85
Let's have a look at your test:
[code]
You're declaring a mock handler, but not passing it to the component. The component is calling `handleSignUp` – but the one which is inside your component instance, no the one you declared earlier and never passed anywhere.

Usually you'd pass it as a prop:
[code]

This way you pass a mock, so it actually has an ability to be called.

[2018-12-10 17:41] #85 closed

[2018-12-10 17:54] joshuakelly commented on #85
How would I test a class method using this though? If I make a press on the button that calls a class method, the class method should fire. There's no props on this component.

[2018-12-10 17:57] thymikee commented on #85
And how does user know that this method fired? What happens? Whether a method fired inside a component it's its own business, it's private, it's an implementation detail. You should be only interested in observable output.

So, what happens? Either a prop call (not this case) or setState (the output will change then and you should assert on that), or an API call (you'll need to mock network reques

[2018-12-10 20:52] thymikee commented on #84
Ok, it doesn't add [this many transforms](https://github.com/facebook/metro/blob/master/packages/metro-react-native-babel-preset/src/configs/main.js), we can live with that :)

[2018-12-10 20:52] #84 closed

[2018-12-11 19:07] thymikee commented on #26
#74 by @brooksbecton is merged, which means we have a website set up (but not running yet)! Now we need to polish it a bit, add nice icons, and publish. Anybody interested in doing so? 😃

[2018-12-12 01:57] juddey opened #88 "getByText fails to get text when using alternate ui lib implementation"
I'm using wix's `react-native-ui-lib` with `react-native-testing-library`. They have extended some core rn elements (eg Text) so that their elements are used instead. Example: https://github.com/wix/react-native-ui-lib/wiki/USAGE

When I use Text element from `react-native-ui-lib`, the getByText helper fails to find the text. However, when I switch to the RN Text component, the tests pass as I exp

[2018-12-12 09:20] thymikee commented on #88
We're currently only looking for `Text` component exported directly from `react-native`, because looking for strings turned out bad and unreliable.

It works like this:
https://github.com/callstack/react-native-testing-library/blob/ad61c409e9f5908a746a87ded92dcd0b7736036a/src/helpers/getByAPI.js#L17-L28

We've written this with more platforms in mind, but nothing prevents us adding `Text` from oth

[2018-12-13 04:58] juddey commented on #88
Well, I managed to fork and clone the repo today to have a go at this, but thats as far as I got. More tomorrow!

[2018-12-13 10:34] greenkeeper[bot] opened #89 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.7` to `0.57.8`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Freact-native-0.57.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native

[2018-12-17 19:05] CodingItWrong opened #96 "Component not rendering in Mocha"
I'm attempting to create a "Hello World" component to try out RNTL with Mocha and I'm getting an error attempting to render the component.

Full reproduction repo: https://github.com/CodingItWrong/RNTLTestMocha

Component:

[code]

Test:

[code]

Error:

[code]

I have `react-test-renderer` installed. Does RNTL work with Mocha? Am I missing another dependency? If it's Jest-only I think it would be

[2018-12-17 19:32] thymikee commented on #96
I only tested it with Jest, but cannot think of anything that would prevent this working with Mocha 🤔

[2018-12-17 19:39] thymikee commented on #96
I don't see any setup for Haste in your example, which RN still uses. Not sure how that works with Mocha, but that's definitely an issue. Maybe check some articles on making that work? https://blog.addjam.com/testing-react-native-with-mocha-and-enzyme-6b77cd9e52a1

Curious what's your motivation for using Mocha with RN? Curiosity, research or something lacking in Jest?

[2018-12-17 19:39] #89 closed

[2018-12-17 19:50] CodingItWrong commented on #96
I don't have a strong enough preference for Mocha to journey off the beaten path here; using it with Jest would work well enough. So I'm good to go for my own personal project 👍

Using Jest with RN has had some stability issues that Mocha hasn't suffered from; just now installing RN 0.57.8 I ran into https://github.com/facebook/react-native/issues/21241, and around the time of the upgrade to Babel

[2018-12-17 20:02] thymikee commented on #96
Honestly, these are mainly issues with React Native preset, not Jest itself. The thing is RN is just not tested well enough, and there's so many setups. Jest is however making its path to work with Babel 7, so it should all be smoother with the next major release (v24).

Haste is a module system used by Facebook, Enzyme has nothing to do with it. It's your runtime environment (Metro, Jest, Webpack

[2018-12-19 09:19] artyorsh opened #97 "FireEvent: press"
Hi guys, thanks for cool library!
Have a question for you:
Is there any way I can test `onPressIn` and `onPressOut`?

[2018-12-21 14:13] maitriyogin opened #99 "jest-dom extend-expect"
Hi,
love this library!
just wondering if your planning to get the jest-dom/extend-expect functions converted to Native?
I have a bunch of tests where I introspect text results ...
I can do a getByText but in some cases I need to get all text for a parent Text component that contains a bunch of child Text components.
Thanks for your help,
/Stephen.

[2018-12-21 14:16] thymikee commented on #99
Sounds like cool thing to have. Here's a list of all matchers: https://github.com/gnapse/jest-dom#custom-matchers

Does anybody feel like implementing this for native? :)

[2019-01-09 09:12] will-stone commented on #28
Hi @thymikee, thanks for all the hard work on the lib. I know this issue is closed and was a while ago but what was the conclusion on how to deal with a disabled prop? I'm struggling to get my test to pass.

[2019-01-09 10:51] will-stone commented on #28
So this...

[code]

is the way to go for now?

[2019-01-09 10:59] thymikee commented on #28
I'd extract `disabled` to a variable since it's reused, but yes.

[2019-01-09 15:02] FilipMessa opened #103 "Jest: expect(getByText('content')).not.toBeDefined(); throw exception"
I would expect that something like this will be possible.
In my test scenario at first I add text `content` to the TextInput, then I test if text content exists, then I click on the delete button and I would like to test if input will be clear.

```expect(getByText('content')).not.toBeDefined();```

but I throw the exception with this  **No instances found**

[2019-01-09 15:06] thymikee commented on #103
All `getBy*` throw when no components were found matching the predicate. If you want to assert that the component is not there use `queryBy*` APIs that return `null` when nothing is found:
[code]

It's all documented:
- getByText: https://github.com/callstack/react-native-testing-library/blob/master/docs/API.md#getbytext-text-string--regexp
- query APIs: https://github.com/callstack/react-native-t

[2019-01-09 15:06] #103 closed

[2019-01-30 04:23] lgandecki opened #106 "getByText doesn't find texts inside ScrollView (possibly others?)"
Took this code straight from your examples, but instead of looking for testId, I tried to look for the text:

[code]

Changing ScrollView to View makes it pass.

Am I doing something wrong?

[2019-01-30 05:49] thymikee commented on #106
Which version of the lib? What does debug returned from render show?

[2019-01-30 05:57] lgandecki commented on #106
"react-native-testing-library": "^1.5.0",

Seems like
[code]
doesn't show anything?

 But I have a different component that I tried to test:

[code]
this is what I see in the debug:

[code]

If I switch ScrollView to View, test passes, and I get :

[code]

in the debug

I import things from react-native:
[code]

I do use expo though, not sure if that changes things?

[2019-01-30 06:05] thymikee commented on #106
Unfortunately it changes things. Expo does something weird to their components in test env which I didn't have time to debug. See: https://github.com/callstack/react-native-testing-library/issues/68

[2019-01-30 07:47] lgandecki commented on #106
Ok. I'd suggest stating this in bold in the README.md, that there is no support for expo. :)

Thanks!

[2019-01-30 08:08] thymikee commented on #106
Happy to accept PR with a note on that. However I'd say this is a temporary bug on Expo side and I expect it to be fixed somewhat soon, because it also affect react-test-renderer.

[2019-01-30 08:08] #106 closed

[2019-01-30 21:51] #96 closed

[2019-02-04 21:45] greenkeeper[bot] opened #107 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `10.0.8` to `10.0.9`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Frelease-it-10.0.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDe

[2019-02-05 14:43] thymikee commented on #26
The website is started and lives under `website/` directory. We need to:

- clean it up from Docusaurus defaults
- set up a task for publishing docs to `gh-pages`

After we have docs set up and deployed to `gh-pages` branch, I'm planning to write a series of common examples for "how to write test for this use case".

I'd greatly appreciate help on the mentioned topics :)

[2019-02-06 09:27] thymikee opened #111 "Wrap render calls with act() for better Hooks integration"
Hooks work fine even without it, but you'll likely need to add asynchrony to your code. With `act()` you'll be able to achieve the same results in synchronous manner.

See: https://reactjs.org/blog/2019/02/06/react-v16.8.0.html#testing-hooks

[2019-02-07 06:25] #107 closed

[2019-02-07 12:06] LaurenceRolandJames commented on #27
I've added an example with redux integration here: https://github.com/LaurenceRolandJames/react-native-testing-library-redux-example

Feel free to use it however you wish.

[2019-02-07 12:07] thymikee commented on #27
Awesome, thank you @LaurenceRolandJames!

[2019-02-07 22:37] ethantran opened #112 "How to test children props as a function?"
I get an error

```    Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.```

when I test a component that looks something like this

[code]

[2019-02-07 22:57] ethantran commented on #112
Nevermind. It turns out that I had to mock components generated from https://github.com/kristerkari/react-native-svg-transformer.

[2019-02-07 22:57] #112 closed

[2019-02-08 13:57] #26 closed

[2019-02-14 11:55] janhesters opened #114 "Do you not need afterEach(cleanup)"
I noticed that this library doesn't expose a `cleanup` function like react-testing-library does. Is this intentional? Could you clear this issue up in the readme?

[2019-02-14 12:08] thymikee commented on #114
We don't interact with the DOM so there's nothing to clean up, it's not necessary.

[2019-02-14 18:31] janhesters commented on #114
@thymikee Thank you, I didn't know that 😊

[2019-02-14 18:32] thymikee commented on #114
Gonna close it then. Feel free to add a note to the docs if that's something not obvious for users of `react-testing-library` :)

[2019-02-14 18:32] #114 closed

[2019-02-14 18:37] janhesters commented on #114
@thymikee [Done](https://github.com/callstack/react-native-testing-library/pull/115)

[2019-02-18 18:43] greenkeeper[bot] opened #116 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.14.0` to `5.14.1`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Feslint-5.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this

[2019-02-20 14:22] wmcbain opened #117 "Tests fail when using a ListHeaderComponent on a FlatList or VirtualizedList"
Hey there,

I'm using a FlatList with a ListHeaderComponent in a component and I'm having issues getting render to work without errors. The error is below:

[code]

More detail:

[code]

Associated code:

https://github.com/facebook/react-native/blob/master/Libraries/Lists/VirtualizedList.js#L753

Versions:

[code]

Repro:

https://github.com/wmcbain/RNTestingTestingRepro

Is there a suggested way

[2019-02-20 14:24] sibelius commented on #117
in which version?

[2019-02-20 14:49] wmcbain commented on #117
[code]

Also added to issue

[2019-02-20 15:34] thymikee commented on #117
Can you post a repro we can download and inspect? Or send a PR with a failing test

[2019-02-21 09:21] oriharel opened #118 "Native Base <Content/> type is not rendered"
Hi,
I have this component:

[code]

But the test can't find the '`emptyCasesList`' element. when I run debug.deep, I can't see the `<Content/>` element nor the `<Text>`.
BUT - when I remove the `<Content/>` element (leaving just the `<Text/>`), test passes and I see the `<Text/>` element.
If the answer is something like "_NativeBase is mocking the_ `<Content/>` _in tests_" - could you please elabo

[2019-02-21 09:28] thymikee commented on #118
Can you post a repro we can debug? Otherwise it's not actionable

[2019-02-21 14:55] wmcbain commented on #117
@thymikee here you go https://github.com/wmcbain/RNTestingTestingRepro

[2019-02-22 08:30] thymikee commented on #117
I won't have time to triage this in next couple of days. Would use some help :)

[2019-02-22 16:01] seanfmcd opened #119 "Error when getByTestId used with fireEvent.changeText on a TextInput"
I have a TextInput component being rendered by a redux-form Field component.

When I call `fireEvent.changeText(input, 'hello')` on my component it works if I've fetched the input using `getByPlaceholder`, but fails if I use `getByTestId`. The error:

`No handler function found for event: changeText`

Here's code to reproduce the issue:
[code]
And the tests:
[code]
I noticed this when I removed th

[2019-02-22 21:30] #116 closed

[2019-02-22 22:46] Esemesek commented on #117
So I investigated this issue and I was able to fix it by removing unnecessary babel plugin.
[code]

This is not an issue with RNTL, just your repository setup.

[2019-02-23 04:21] #117 closed

[2019-02-23 06:38] hyochan commented on #48
@thymikee Could you provide an extra example? I can bearly understand what you are saying but I want to be more clear with some codes.

[2019-02-23 09:21] Esemesek commented on #119
Can you create a repository with reproduction of this issue? In addition, I have noticed that you are spreading all the props to `TextInput` - those props include `testID`. I have no idea what `reduxForm` HOC does under the hood nor `Field` component, but maybe they mess up this property. I have created a new project with a similar structure of components, but without using `reduxForm` HOC nor `Fi

[2019-02-28 20:53] #111 closed

[2019-03-04 12:59] ptrckhjnl opened #126 "TypeError: Cannot read property 'default' of undefined"
I am not sure if this is a problem of `react-native-testing-library` or `react-native-vector-icons`.

## Versions

[code]

## Description

[code]

## Reproducible Demo

The test where the error happens:

`MenuItems/test.tsx`

[code]
`MenuItems/index.tsx`
[code]

[2019-03-04 13:05] thymikee commented on #126
This is likely issue with transpiling `react-native-vector-icons` by Jest, not anything to do with this library. Can you provide a repro we can download? Adding Jest and Babel config will also be helpful.

[2019-03-04 13:11] ptrckhjnl commented on #126
@thymikee thank you for the fast reply!

Unfortunately not (it's a proprietary project). But i can add the Jest and Babel config.

`jest.config.js`
[code]
`babel.config.js`
[code]

[2019-03-04 13:22] thymikee commented on #126
Looks like an issue with `ts-jest` to me. Can you make sure you use it according to documentation? They do breaking change in minor releases (e.g. 23.10.x)

[2019-03-04 13:24] thymikee commented on #126
Anyway, this is not the issue with this library, it's with your Jest configuration, so closing.

Feel free to send your package.json and what it resolves to (run `npx envinfo --preset jest`)

[2019-03-04 13:24] #126 closed

[2019-03-04 13:55] ptrckhjnl commented on #126
`package.json`
[code]

[2019-03-06 22:42] Ingibjorg opened #127 "Using the library with Styled Components"
Hi, thank you for a great testing library!
Is there any additional setup I need to do to make the snapshot testing work smoothly with `[styled-components](https://github.com/styled-components/styled-components)`?

The generated snapshots are not useful as they're missing the entire CSS.

Snapshot with `react-test-renderer`:

[code]

Snapshot with `react-native-testing-library`:
[code]
As you can s

[2019-03-07 06:21] thymikee commented on #127
Looks like you snapshot shallow output. Try snapshot snpashotting render output. Although I don't recommend snpashotting components just like that, they're very prone to errors

[2019-03-07 17:55] Ingibjorg commented on #127
@thymikee thanks for the advice. Using `render` gives me CSS. I used `shallow` because it's recommended in the [API.md](https://github.com/callstack/react-native-testing-library/blob/11489b0e5e65cf279293d5074dba650683de3f0d/docs/API.md#shallow).

Shouldn't that be removed then?

Also, how else would you recommend snapshotting components if you don't think this is the way to go?

[2019-03-07 17:58] thymikee commented on #127
Ah, that's really misleading, yea. I'd recommend to used it only in pair with https://github.com/jest-community/snapshot-diff. Would you mind setting a PR? :)

[2019-03-07 17:59] Ingibjorg commented on #127
Ah gotcha. I'll set up a PR. Thanks!

[2019-03-07 17:59] #127 closed

[2019-03-12 17:16] hyochan opened #129 "More helpers for testing hooks"
## Ask your Question
I'd like to know how to test `context-api` with `react-native-testing-library`.
It is supported int `react-testing-library` as in [#296](https://github.com/kentcdodds/react-testing-library/pull/296). Also, [useContext] could be covered which was addressed in [#283](https://github.com/kentcdodds/react-testing-library/issues/283).

I searched for [api doc](https://callstack.gith

[2019-03-12 18:17] thymikee commented on #129
No, we don't have that.

[2019-03-12 21:29] hyochan commented on #129
I'd like to request feature for better `react-hook` support such as `useContext`, `useRef`.

[2019-03-13 12:25] tobiastimm opened #131 "Testing eventListener in `componentDidMount`"
## Testing eventListener in `componentDidMount`

Hey folks,

I have a `react-native` component that is listening to `Linking` url event. How would I fire that Event with `react-native-testing-library`?

Example:

[code]

[2019-03-13 14:27] thymikee commented on #131
This may be tricky, as you'd need to mock `Linking` in a way that allows you to call e.g. `emit('url', {url})`, mock `Linking.addEventListener` in a way that allows you to listen to such calls.

[2019-03-13 14:52] tobiastimm commented on #131
@thymikee thanks! I will ask the `react-native` folks if there is a way to test that, because it looks like there is no builtin way for linking to emit that event

[2019-03-13 14:53] #131 closed

[2019-03-18 22:17] wKovacs64 opened #135 "[1.6.1] Cannot read property 'toString' of null"
## Versions

- Expo v32.0.0
- jest-expo v32.0.0
- React v16.5.0
- NativeBase v2.12.1
- react-native-testing-library v1.6.1
- react-test-renderer v16.8.4
- OS: multiple

## Description

As of v1.6.1, I am receiving the following error when trying to test a NativeBase `Picker` using `getByText` (the same tests pass in v1.6.0):

[code]
This only seems to happen when there are **multiple tests**.

##

[2019-03-19 12:16] Chojecki commented on #135
same issue

[2019-03-19 15:32] ccfz commented on #111
It would be great if `update` is also be wrapped with act().

[2019-03-19 15:48] Esemesek commented on #111
@ccfz Would appreciate a PR with an example test for this functionality.

[2019-03-19 18:47] #135 closed

[2019-03-19 21:31] juddey commented on #88
rn-ui-lib _does_ use the react native text component, and it always has. https://z448401921.github.io/react-native-ui-lib/uilib-docs/public/docs/Text/

However, I've upgraded to `1.5` and now the tests are passing, so something must have happened in the interim. :tada:

Given this, and the fact most ui-libs would probably extend from react-native, I'll close off this issue now. Feel free to re-ope

[2019-03-19 21:31] #88 closed

[2019-03-22 03:05] brooksbecton commented on #99
I started something here: https://github.com/brooksbecton/react-native-jest-expect-extensions
as a proof of concept with a `.toBeDisabled` extension

Would this be part of 'react-native-testing-library' or would it be a separate repo?

[2019-03-22 07:51] thymikee commented on #99
I think @Esemesek started something around that as well, so feel free to collaborate :). I'd prefer to have the matchers live in this repository.

It's important to make them output high-quality error messages – I encourage you to take a look at Jest matchers recently getting improved by @pedrottimark, e.g. https://github.com/facebook/jest/blob/7e4e170023b29f1e78dbe757b12b291443a53c6a/packages/exp

[2019-03-25 14:53] brooksbecton commented on #99
I've got a few extensions going. Were ya'll wanting all of them in before I PR?

Also, where would you want these to go in the project?

[2019-03-25 16:41] thymikee commented on #99
I'd create a directory `src/custom-matchers` and store them there.

[2019-03-26 13:40] jackharding opened #139 "queryAllByProps returning incorrect number of elements"
I have a test with the following assertion:

expect(queryAllByProps({ testID: 'searchSuggestion' })).toHaveLength(1);

I know there is only one element with the testID 'searchSuggestion'. When I log the result of queryAllByProps, I get the following:

[code]

Am I misunderstanding how this should work? Or is this a bug?

[2019-03-26 14:06] thymikee commented on #139
Repro please, I don't see your code, so what can I say? There should be 1 element, but maybe some components inherit the `testID` prop and pass it further?

[2019-03-26 14:28] jackharding commented on #139
**SearchScreen.js**
[code]

**SearchSuggestions.js**
[code]

**SearchScreen-test.js**
[code]

Bear in mind I've stripped out irrelevant stuff for clarity. Excuse the mess!

[2019-03-26 14:29] thymikee commented on #139
Would you be so kind and put it in a repository we can download and investigate? :)

[2019-03-26 14:38] jackharding commented on #139
Oh, sorry. I'll do this later.

[2019-03-26 15:09] jackharding commented on #139
@thymikee I've just created [this repo](https://github.com/jackharding/rntl-example).

[2019-03-30 08:38] mgenov opened #142 "queryByText fails when component with icon is rendered"
## Versions
[code]

## Description
The queryByText call fails when is rendered component with venctor icons:
[code]
## Reproducible Demo

[code]
-->

[2019-04-01 11:31] jmporchet opened #143 "how to test componentDidUpdate?"
Thanks for the great work with this library!
I have a problem to make sure that `componentDidUpdate` triggers the correct code:

[code]

on https://github.com/kentcdodds/react-testing-library/issues/8, Kent suggests to use the following syntax:

[code]
But unfortunately container is `undefined` because it hasn't been implemented in the current version of RNTL.
How could I achieve the same effect?

[2019-04-01 11:38] thymikee commented on #143
You can use `update`:
[code]
See a sample test using that: https://github.com/callstack/react-native-testing-library/blob/f96d782d26dd4815dbfd01de6ef7a647efd1f693/src/__tests__/act.test.js#L31-L37

Hope this helps :)

[2019-04-01 11:38] #143 closed

[2019-04-01 14:23] jmporchet commented on #143
That's great thanks!

[2019-04-03 00:33] jakemmarsh commented on #142
Same issue here. Looks like it's been fixed in #136 but not released.

[2019-04-03 07:14] thymikee commented on #142
Released 1.6.2, thanks for a reminder @jakemmarsh :)

[2019-04-03 07:15] #142 closed

[2019-04-14 15:40] thymikee commented on #78
We're not going to pursue shallow APIs for this library. Feel free to create a separate lib compatible with our API if you need it!

[2019-04-14 15:40] #78 closed

[2019-04-15 01:52] abanik0831 opened #156 "TouchableOpacity not returned (some other Native events too)"
## Versions

react: 16.8.6
react-native: 0.59.4
react-native-testing-library: 1.7.0
react-test-renderer: 16.8.6
## Description

debug, snapshot not returning `<TouchableOpacity>`.

Sample test written:

[code]

**Expected output**

[code]

**Output returned**:

[code]

## Reproducible Demo

run the following test:

[code]

[2019-04-15 01:53] abanik0831 commented on #156
any idea what's going on? This is the first time i've integrated with react-native-testing-library and seeing this issue. Any help will be appreciated.

[2019-04-15 06:29] abanik0831 commented on #156
what i'm really looking to test here is if the `TouchableOpacity` is disabled or not..

[2019-04-15 06:35] thymikee commented on #156
Hey @abanik0831! The issue you deal with is quite similar to https://github.com/callstack/react-native-testing-library/issues/28#issuecomment-429891499. Please read through it.

What happens: `TouchableOpacity` is implemented using `View` in React Native, that's why you see the `View` in hierarchy. Additionally, the implementation of `View` is mocked inside `react-native` Jest preset and unfortuna

[2019-04-15 10:25] alexborton opened #157 "Is it possible to run RNTL and RTL together on a Hybrid application?"
I have two existing applications in separate code-bases that i would like to combine into a hybrid application (code-sharing for Web and Native).

Aside from the restructure to bring the two together, my major concern is running the Native and Web testing side-by-side.

My Native (Expo) application is already setup with RNTL and running just as it should.

Do you have an approach or any tips for c

[2019-04-15 10:32] thymikee commented on #157
You could define 2 [Jest projects](https://jestjs.io/docs/en/configuration#projects-array-string-projectconfig) with separate configurations, one would import native components, the other would import web components. You could use `moduleNameMapper` to override certain paths, if you care to have them the same, and they would resolve to different testing helpers.

Feel free to share more about your

[2019-04-16 10:42] alexborton commented on #157
Thanks @thymikee for the quick response. I will take a look into that approach and let you know some of my findings.

In honesty, configuration of Jest/RTL/RNTL is not something i have been heavily involved with, so it will all be pretty experimental for me. I was kind of hoping someone had already configured something similar already ;)

[2019-04-18 15:25] Esemesek opened #158 "Roadmap to 2.0"
# Roadmap to `v2.0`:

- [x] - Add `UNSAFE_` prefix to `byProp`, `byType` and `byName` queries (#261)
- [x] - Deprecate (then remove) `shallow`, provide migration path (#264)
- [x] - Add Accessibility (`ByA11yStates`, `ByA11yLabel`, `ByA11yRole`, `ByA11yHint`, `ByA11yState`, `ByA11yValue`) queries (#178, #260, #262)
- [x] - Add `ByDisplayValue` queries (#190)
- [x] - Fix `getByTestId` to only look

[2019-04-22 15:53] wtrocki commented on #59
Vote for Option 1

[2019-04-24 11:29] ccfz opened #161 "getAllByTestId is missing"
## Versions

    "react": "16.8.3",
    "react-native": "0.59.0",
    "react-native-testing-library": "^1.6.0",
    "react-test-renderer": "^16.8.4"

## Description
getAllByTestId appears to be missing, it is listed as a query in the [docs](https://callstack.github.io/react-native-testing-library/docs/api-queries#bytestid).

<img width="400" alt="Screenshot 2019-04-24 at 13 28 58" src="https://use

[2019-04-26 07:59] oshimayoan commented on #158
What about `byDisplayValue` for TextInput?

[2019-04-26 11:09] thymikee commented on #158
Sure we can add that

[2019-04-28 19:32] betoharres commented on #158
Will we have support to async `act`? https://github.com/testing-library/react-testing-library/releases/tag/v6.1.0
I'm getting the same console errors they were trying to fix on that realease.

Thanks for the hard work on the library ❤

[2019-04-29 13:30] maximmcnair opened #163 "`queryAllByProps` returns the wrong amount of elements"
## Versions
[code]

## Description
`queryAllByProps` returns the wrong amount of elements.

## Reproducible Demo
[code]

[code]

[2019-04-29 13:41] thymikee commented on #163
We're aware of that (see https://github.com/callstack/react-native-testing-library/issues/139). We also have plans to remove it in next major, so please don't use it

[2019-04-29 13:41] #163 closed

[2019-04-29 14:17] maximmcnair commented on #163
For reference it looks like `react-test-renderer` has the same issue:

[code]

[code]

[2019-04-29 17:46] Hongarc opened #164 "Featuring React Native Testing Library in Docusaurus"
Hello, we would like to feature your project to the Docusaurus users page.

Are you with me on this?

More info about this [here](https://github.com/facebook/Docusaurus/issues/1080)

I created Pull request facebook/Docusaurus#1419

[2019-04-30 06:09] thymikee commented on #164
Sure!

[2019-04-30 06:17] #164 closed

[2019-04-30 06:59] Hongarc commented on #164
![image](https://user-images.githubusercontent.com/19208123/56945125-2d1de380-6b50-11e9-8643-04138b820464.png)

[2019-05-01 12:24] alexborton opened #165 "Firing/Testing a function within a Class"
I want to test a `handle...` function within a class.

NB: This could be completely the wrong approach - please tell me if so.

I have a container than renders a button which will navigate to a new screen, taking with it a callback function that is triggered on complete.

The function it transports should live in this container (i think) as it's logic is related.

The container class looks somethi

[2019-05-03 06:55] dev-evans commented on #161
Since get/queryByTestId uses findByProps under the hood and get/queryAllByProps is [being deprecated](https://github.com/callstack/react-native-testing-library/issues/163#issuecomment-487584089) in the next major version due to, I'm guessing, issues with the underlying findAllByProps from `react-test-renderer` (based on the comment below that one), I'm curious if this is something we'll even see a

[2019-05-03 08:45] ccfz commented on #161
Should definitely be removed from the docs if it is not implemented 😄. I tried finding an issue concerning querryAllByProps in react-testing-library but couldn't find any, which seems suspicious. in terms of where the root problem is located. I think we can close this issue, I might have a look at the code and see if I can figure out where the duplicity is coming from. FYI my workaround was using

[2019-05-06 08:41] thymikee commented on #165
This is pretty deep integration test. I'd suggest using e2e testing for that. However, you can still do it with this library if you use JS-based navigation (like `react-navigation`.

You'll need to wrap your test components with a navigator, create `renderWithNavigation` that renders (with `render` helper) a small navigator with 2 routes you want to test with your base component being the first on

[2019-05-06 08:41] #165 closed

[2019-05-07 08:46] alexborton commented on #165
Thanks @thymikee

I am not completely sure what steps you mean to take after the react-navigation has been mocked in? I already have RN mocked into a renderWithNavigation (as you suggested) for other testing scenarios;

[code]

Not sure if that helps at all with the context of your explanation? :)

[2019-05-08 13:10] greenkeeper[bot] opened #167 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.59.6` to `0.59.7`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Freact-native-0.59.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native

[2019-05-13 01:07] greenkeeper[bot] opened #170 "An in-range update of flow-copy-source is breaking the build 🚨"
## The devDependency [flow-copy-source](https://github.com/Macil/flow-copy-source) was updated from `2.0.4` to `2.0.5`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2Fflow-copy-source-2.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

flow-co

[2019-05-16 05:40] OzzieOrca opened #172 "Support for wrapper on render"
## Describe the Feature

Add a `wrapper` option to `render`. This would allow you to provide all the Providers and wrapping components the component under test needs to render. This would improve error messages by not having having all the irrelevant wrapping components in error logs and make [`update`](https://callstack.github.io/react-native-testing-library/docs/api#update) no longer require you

[2019-05-16 07:12] thymikee commented on #172
I'm more of a fan of helper functions :D But I'd happily accept a contribution with that feature added. Would you take a stab at it? :)

[2019-05-19 10:35] mgcrea opened #174 "Invalid hook call. Hooks can only be called inside of the body of a function component."
## Versions

[code]

## Description

Trying to test hooks based code. Not sure what I'm doing wrong as hooks look like to be supported in the docs & I've seen PR's about it but adding a simple `const [isVisible, setIsVisible] = useState(true);` to a working (test passing) component ends up with the error:
[code]

## Reproducible Demo

[code]

[2019-05-19 10:48] mgcrea opened #175 "getInstance() vs getByType(Component)"
## Ask your Question

I've seen that you've explicitly removed the `getInstance()` API, as it implied testing implementation details. However isn't it equivalent to just do `getByType(Component)`? How would you "properly" test a onClick handler, eg. the case below:

Might be nice to add "guides" to the doc on how to properly test such basic cases as it looks like you have quite thought about it.

[2019-05-19 12:16] thymikee commented on #175
The test like this have no point, because you're testing React, not your component. The idea is that the component renders actual Views and Texts etc, that are supposed to render to native ones – and these are the handles you should check.

I'd use `getByText` in this scenario:
[code]
as this is what your user does – press on the text (or a button with a text)

[2019-05-19 12:16] #175 closed

[2019-05-19 12:21] thymikee commented on #174
Attaching a package.json doesn't tell me what the version are resolved to. For example, with React Native 0.59.8 it's supposed to look like this (irrelevant parts excluded):

[code]

Notice how exact versions are passed to `react` and `react-test-renderer` without a caret `^`, because React Native is synchronized with React and expects certain version (or it may be buggy). Please verify that.

[2019-05-22 12:44] Iskander508 opened #176 "act does not support async callback"
## Versions
[code]

## Description
Unable to use async function as `act` callback without console errors.
Either a console.error is emitted when not using `act` in the test (see Demo 1)
or the test fails by using async callback in `act` (see Demo 2)

Now supported in `react-testing-library`:
https://github.com/testing-library/react-testing-library/releases/tag/v6.1.0

## Demo 1 (not wrapping in `a

[2019-05-22 13:41] Iskander508 commented on #176
I have just tried to update the dependencies to:
[code]
which solves the issues and enables the `Demo 2` syntax. So we probably just need to wait for react update.

[2019-05-22 13:43] thymikee commented on #176
Yup, but it's still not yet supported by RN. Hopefully you won't mind me closing this issue. Thanks for reporting and coming back!

[2019-05-22 13:43] #176 closed

[2019-05-22 20:22] ellipticaldoor commented on #158
Yes, will be really nice to have async act

[2019-05-22 21:13] betoharres commented on #158
@ellipticaldoor
`Just by updating react-test-renderer we should have the update right?`
No, because it's not in the library `package.json`.
As the README says, it's heavily **inspired** but it does not have `react-testing-library` as dependency, :( but `react-test-renderer` is so if we ever need to stay up to date we just update the library! 😄

[2019-05-22 21:15] ellipticaldoor commented on #158
Oh I see, do you need some help to add this?

I can offer a hand if you point me on the right direction

[2019-05-22 21:22] betoharres commented on #158
@ellipticaldoor Sorry I can't help you with this, I'm just a user of this library and short on time to solve this, but I was watching the issue testing-library/react-testing-library#281 and I think @threepointone could help us giving a good hint of what could be done.

[2019-05-22 21:23] threepointone commented on #158
async act will be available on react-test-renderer too with the 16.9 release(it’s already in the alpha)

[2019-05-22 21:24] threepointone commented on #158
Specifically, it’ll be Testrenderer.act

[2019-05-22 21:27] betoharres commented on #158
@threepointone wow thanks for the quickly response! I'm happy we will see support for `async act` soon! 😃

[2019-05-22 22:03] ellipticaldoor commented on #158
awesome!

[2019-05-23 15:44] rafaalb opened #177 "Test fails when component includes react native vector icon children"
## Versions

React: 16.8.3
React native: 0.59.3
React native testing library: 1.7.0
## Description
When i try to run a snapshot test, and the rendered component has a react-native-vector-icons children, the test fails.

![Screenshot 2019-05-23 at 5 42 53 PM](https://user-images.githubusercontent.com/9601447/58266572-37638400-7d82-11e9-87c1-9263ab4d6697.png)

## Reproducible Demo

I have the follow

[2019-05-23 16:00] thymikee commented on #177
This is a native library and you need to mock it

[2019-05-24 07:56] rafaalb commented on #177
Any example on how to mock a native library? I tried creating a __mock__ folder at same level than node_modules, but i have no experience doing this.

[2019-05-24 08:02] thymikee commented on #177
@rafaalb please check Jest docs on mocking, it's all there :) https://jestjs.io/docs/en/manual-mocks

[2019-05-24 08:03] #177 closed

[2019-05-27 22:33] pedrohbtp commented on #118
First, thank you very much for the great library!
I have the same issue. The inside of <Content> is generated when running the code on the phone or emulator, but when trying to test it does not show up.
 The Code below should illustrate it. Really could not figure out why that is the case

[code]

The versions of packages I am using are the following:

`"expo": "^32.0.0",
"react": "16.5.0",
"nativ

[2019-05-28 20:27] #170 closed

[2019-05-28 20:28] #167 closed

[2019-05-28 20:31] #172 closed

[2019-05-28 20:39] thymikee commented on #161
Yep, we should add that. Anybody willing to contribute? :)

[2019-05-28 20:39] thymikee commented on #174
Closing, as there's no response from the OP

[2019-05-28 20:39] #174 closed

[2019-05-28 20:42] thymikee commented on #139
Thanks! FYI, `ByProps` matchers are going to be deprecated in v2. Please migrate off this API, e.g. to `ByText`, `ById` or `ByA11y*` (to be released in v1.8). We'll try to fix it for 1.x, but it's not going to be a priority.

[2019-05-28 20:51] thymikee commented on #157
Ping @alexborton have you managed to make it work? :)
I'm gonna close this, but would be nice to link to a write-up on the topic.

[2019-05-28 20:51] #157 closed

[2019-05-28 20:52] #59 closed

[2019-05-28 20:53] thymikee commented on #119
Closing due to inactivity. Happy to reopen once OP provides a repro :)

[2019-05-28 20:53] #119 closed

[2019-05-29 11:55] alexborton commented on #157
@thymikee the Hybrid approach is very much on our roadmap over the coming months, but as of yet, i don't have anything to add in terms of approach.

As soon as i do, i will add some info to this issue for others looking to do something similar 👍

[2019-06-03 18:11] pedrohbtp commented on #118
@oriharel , have you have any luck with the issue?

@thymikee, would there be any way of helping you with this?

Thanks

[2019-06-03 18:16] thymikee commented on #118
Sure, as soon as anybody provides a repro I can download :)

[2019-06-03 21:11] pedrohbtp commented on #118
@thymikee , thank you for the reply and I apologize for the misunderstanding.

I created the following repository to reproduce the behavior:
https://github.com/pedrohbtp/rntl-content-bug

[2019-06-04 11:01] thymikee commented on #118
Hey! I looked into the example and it indeed doesn't work. So I jumped into `native-base` internals and found this: https://github.com/GeekyAnts/NativeBase/blob/65f0bc7ff53b28099d177813d2b33ffd987cadcd/src/basic/Content.js#L90-L95

The `Content` component uses `react-native-keyboard-aware-scroll-view` under the hood, which is just not mocked properly. I can see it's even named `KeyboardAwareScroll

[2019-06-04 11:01] #118 closed

[2019-06-09 20:34] greenkeeper[bot] opened #188 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/callstack/react-native-testing-library/compare/master...callstack:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-1.10.0).

This version is **covered** by your **current version range** and after updatin

[2019-06-10 16:28] #188 closed

[2019-06-10 16:28] thymikee commented on #158
@oshimayoan is available in 1.9.1, enjoy!

[2019-06-12 13:56] terreb opened #193 "Any way to fire swipe event?"
I'm using native-base library swiperow component and looking to test for a function to be called on swipe. I'm trying

[code]

...but not to avail. I'm getting ` No handler function found for event: pan`

[2019-06-12 14:27] thymikee commented on #193
Seems like there's no such event on SwipeRow component? https://docs.nativebase.io/Components.html#swipeable-single-def-headref

[2019-06-12 14:27] #193 closed

[2019-06-13 06:44] terreb commented on #193
I see, but they have `onRowOpen` property and that's where I have my function. Do I understand right that the only way to test my function to be called is to call onRowOpen directly? How do I do that with react-native-testing-library? I don't see it exposes an instance of the rendered component...

[2019-06-13 06:45] thymikee commented on #193
[code]

[2019-06-13 06:47] terreb commented on #193
Ahh sure, thank you!

[2019-06-18 08:29] reaktivo commented on #28
Hi @thymikee, I just bumped into this same issue myself. Is there any newer workaround that doesn't involve modifying the component itself?

[2019-06-18 08:44] thymikee commented on #28
You can mock the TouchableOpacity and pass it default implementation plus disabled prop set correctly.

We may introduce some special handling to `disabled` prop in touchable elements, e.g. as an option to `fireEvent`, but this is clearly a hack and we don't want to bake it into the library for good.

This is unfortunately a shortcoming of our event triggering system and we'd like to create someth

[2019-06-18 08:45] #156 closed

[2019-06-18 08:51] thymikee commented on #129
If you are interested in testing a custom hook, check out [react-hooks-testing-library](https://github.com/mpeyper/react-hooks-testing-library).

[2019-06-18 08:51] #129 closed

[2019-06-18 09:57] reaktivo commented on #28
Thanks for the quick reply, your response is quite reasonable. For now as a temporary workaround I'm first checking the element's disabled prop and running my expectations based on that.

[2019-06-23 05:01] alexanderkrum commented on #176
For now I am using the ```jest --silent``` to disable react logging

[2019-06-29 11:25] maximedupre commented on #126
Hey @ptrckhjnl! Did you find a solution? Thanks :).

[2019-07-02 10:02] reaktivo opened #197 "Any way of triggering the onValueChange event of a Picker element?"
## Describe the Feature
Not a feature request per se. Just wanted to ask if there's a recommended way of calling the onValueChange event on the Picker element

[2019-07-02 10:09] thymikee commented on #197
Hey! There's no recommended way. You should be good using something like:
[code]

[2019-07-03 08:17] #161 closed

[2019-07-08 13:06] armandomagalhesJEAN commented on #197
SOOOO HOW IS IT TO PUSH YOUR SHIT ON OTHERS? ​​​​​​​
HELLO!! LOOKING FOR A GREAT BLOWJOB?? CALL CAROLINE +33661818188 OR VERO +33667301419!! OR CONTACT THEIR SLUTTY FRIEND @IRINAKS1 ;) THEY KNOW HOW TO SUCK WELL!! JEAN BAUDIN KNOWS THAT FOR SURE! HE ENJOYED THE CAROLINE THE MOST !! DON’T BELIVE? CALL HIM AND ASK +31657697635 or +31655935354 XOXO

[2019-07-08 13:06] armandomagalhesJEAN commented on #197
SOOOO HOW IS IT TO PUSH YOUR SHIT ON OTHERS? ​​​​​​​
HELLO!! LOOKING FOR A GREAT BLOWJOB?? CALL CAROLINE +33661818188 OR VERO +33667301419!! OR CONTACT THEIR SLUTTY FRIEND @IRINAKS1 ;) THEY KNOW HOW TO SUCK WELL!! JEAN BAUDIN KNOWS THAT FOR SURE! HE ENJOYED THE CAROLINE THE MOST !! DON’T BELIVE? CALL HIM AND ASK +31657697635 or +31655935354 XOXO

[2019-07-09 21:21] CodingItWrong opened #200 "Async data load with `useEffect` still triggers `act` warning"
## Versions

- React: 16.8.6
- React Native: 0.60.0
- RNTL: 1.10.0
- React-Test-Renderer: 16.8.6

## Description

I'm attempting to test asynchronous data loads within `useEffect`, and I'm getting that old React "An update to [your component] inside a test was not wrapped in act(...)"

I see in #111 that changes were merged related to adding `act` to various RNTL calls, but that doesn't seem to ad

[2019-07-09 21:51] thymikee commented on #200
Gonna have a look tomorrow, thanks for the report!

[2019-07-10 13:09] thymikee commented on #200
Unfortunately, there's nothing on our side we can do. This is a `react-test-renderer` issue and needs to be fixed upstream, as said by Sunil: https://github.com/facebook/react/issues/14769#issuecomment-462528230. You can apply various workarounds in your testing environment though:
- mock `console.error` and filter out those messages for now
- transform `async`/`await` to `global.Promise` and mock

[2019-07-10 13:09] #200 closed

[2019-07-15 21:56] OzzieOrca opened #202 "Asserting that scroll events happen"
## Ask your Question

Say I have a component that calls https://facebook.github.io/react-native/docs/flatlist#scrolltoindex either on mount or when a specific user interaction happens. How can I assert that `scrollToIndex` has been called/that the scroll has happened?

We have an old enzyme test that dug into the implementation, replaced that function with `jest.fn()`, and asserted that it was cal

[2019-07-16 07:27] thymikee commented on #202
That's a good question. For now, I'd make the scrollToIndex handler injectable via props (with a default prop value of what you have there already). Then you'll be able to replace it with `jest.fn()` in the test.

Ideally we should be able to check if the element is visible on the screen. However, we're likely hitting JS<->Native limitations here, as we'd need to account for screen size, and `onLa

[2019-07-23 11:22] codenaz commented on #99
Use @testing-library/jest-native. Then import like this
 ```import '@testing-library/jest-native/extend-expect';```

[2019-08-01 18:10] neiker commented on #200
I add this to my jest setup file, maybe someone find it useful;

[code]

[2019-08-01 18:18] thymikee commented on #200
Thanks @neiker, appreciated!

[2019-08-07 13:20] teo029 commented on #139
I have the same issue when only running `getByTestId`

[2019-08-08 09:58] wave-light commented on #119
I am having what appears to be a related issue.
I would like to test the behavior of a button when no onPress prop is passed.

`import React from 'react';
import { Alert, Text, TouchableOpacity } from 'react-native';
import { render, fireEvent } from 'react-native-testing-library';

const MyButton = ({ onPress }) => (
  <TouchableOpacity
    onPress={() => onPress
      ? onPress()
      : Alert.a

[2019-08-13 22:54] benmonro opened #218 "Alert.alert"
Looking for a way to test Alert.alert 'onPress' is that even possible?

[2019-08-14 06:49] thymikee commented on #218
sure, use `jest.spyOn(Alert, 'alert')`

[2019-08-14 06:49] #218 closed

[2019-08-14 08:39] benmonro commented on #218
But then the code coverage for onPress is going to be zero....

[2019-08-14 09:26] thymikee commented on #218
If you call `fireEvent.press`, the `onPress` handler should be called. And `jest.spyOn` doesn't change implementation by default, so all the code inside will be called

[2019-08-27 00:09] Noitidart opened #220 "Select various segments on SegmentedControlIOS"
## Ask your Question

I have a `<SegmentedControlIOS>` - https://facebook.github.io/react-native/docs/segmentedcontrolios

I want to pres the first segment. I am doing this:

    const testID = "SegmentedControl";
    const stub = jest.fn();
    const values = [{ label: "foo" }];
    const { getByTestId } = render(
      <SegmentedControlIOS values={['foo', 'bar']} onChange={stub} testID={testID}

[2019-09-11 13:52] Thomazella opened #221 "[docs] render return value"
## Describe the Feature
return value of render should ideally be documented. on 1.11.1 it seems to return:
[code]

## Possible Implementations

## Related Issues

[2019-09-11 13:54] thymikee commented on #221
It is documented, but in a less verbose way. How do you think we could improve it?

[2019-09-11 22:17] Thomazella commented on #221
I'll think about it and send a pr shortly

Sent from my iPhone

[2019-09-18 21:33] dcalhoun commented on #131
For posterity, it looks like @tobiastimm created facebook/react-native#23990, but it was closed due to lack of adhering to the project's issue template.

The issue did include a link the StackOverflow question, which I [posted my current solution](https://stackoverflow.com/a/58000966/378228) to this problem. Hopefully anyone coming across this finds it helpful.

[2019-09-19 07:39] SophieDonut opened #222 "Use async act in render (and all other helpers really)"
## Describe the Feature
Since React and `react-test-renderer` 16.9.0 we have async act. This would be super helpful in the tests to remove all the act warnings and make a few tests pass that are failing otherwise

## Possible Implementations
The easiest option would just be to update `react-test-renderer` and then making all act calls async by default. However, I'm not sure how that would work wit

[2019-09-19 07:49] thymikee commented on #222
We need some compat layer – checking whether react is at certain version or so

[2019-09-19 11:30] alexborton commented on #28
We also just came across this issues. I have added a mock in the `setup.js` to keep it tucked away and ignore moving forward 🙄

[code]

[2019-09-26 15:19] SophieAu commented on #222
in the last two days, React Native updated to `0.61.1` which includes async act. Would be great if we could get it working in this library. From what I could tell, there's already an act helper file in the repo (https://github.com/callstack/react-native-testing-library/blob/master/src/act.js) that should cover the case of no act at all, however just wrapping that exported act in async should be po

[2019-09-26 15:37] thymikee commented on #222
A PR to support both regular and async act would be great!

[2019-10-04 14:43] jdmg94 opened #224 "How deep do we render components"
## Ask your Question
I am writing tests for a component that contains `react-intl` components for pluralization.

in this specific scenario I intend to get text content of `1 Night • 1 Adult` from a Text component whose children holds a couple of template literals and a couple of `FormattedPlural` for pluralization.

the resulting children looks something like this:
[code]

I can pass these compon

[2019-10-05 18:04] jdmg94 commented on #224
I've uploaded a repo to replicate the issue described: https://github.com/jdmg94/react-native-intl-test-instance-bug

I created a custom matcher to achieve the desired result, if you use the regular matcher `toHaveTextContent` it will skip the formatted components, if you inspect the children you'll see the elements that got skipped where not rendered, they don't yet have the `children` prop and t

[2019-10-07 06:40] thymikee commented on #224
We rely on `react-test-renderer` for this, which renders everything to host components. If the component is not rendered, maybe there's a reason for that?

With this library, if you want to find text, you need to go with:
[code]
and expect it not to throw, as it only throw if the text is not found.
You definitely shouldn't render recursively, because it's already handled by the test renderer.

[2019-10-07 06:40] #224 closed

[2019-10-11 13:21] brooksbecton commented on #220
I believe the event should be "onChange"

[2019-10-11 13:37] brooksbecton commented on #220
[code]

[2019-10-11 14:07] Noitidart commented on #220
Thank you! Will try that tongiht!

[2019-10-12 09:35] Croftyland opened #225 "Migration Website to Docusaurus 2 Alpha"
## Describe the Feature

Hi there! The Docusaurus team is currently developing Docusaurus 2 and are almost done with an MVP that doesn't include translations and versioning features, which means there's feature parity with your website's current usage of Docusaurus.

Docusaurus 2 brings about many improvements:

- Client-side rendering with prerendering (site renders without JavaScript!)
- More fl

[2019-10-13 21:48] yangshun commented on #225
Ref: https://github.com/facebook/docusaurus/issues/1834

[2019-10-15 12:31] brooksbecton commented on #225
https://v2.docusaurus.io/docs/migrating-from-v1-to-v2

[2019-10-17 03:25] swingywc commented on #28
In my point of view, I don't think testing should override any component, and should not change the implementation to satisfy the test.
@thymikee Is there any update on the `disabled` property in the fireEvent? Thank you.

[2019-10-17 07:42] thymikee commented on #28
@swingywc no updates yet.

I see your point, but I have to disagree here. Sometimes, an inability to write a test for a piece of code indicates an accessibility issue with it – e.g. it's not usable by someone using a screen reader.

[2019-10-17 16:11] brooksbecton commented on #225
Working on this here: https://github.com/brooksbecton/react-native-testing-library/tree/Update-to-Docusaurus-v2

[2019-10-17 16:41] brooksbecton commented on #225
@Croftyland  beat me!
#226

[2019-10-21 14:16] leeferfeefer opened #227 "Is CreateNodeMock supported?"
Is CreateNodeMock supported?

I am not sure if I am using this wrong, but I am trying to mock a ref method. According to the API for the render function, it states:

[code]

I am passing in the options like so (which I got from [react-test-renderer](https://reactjs.org/docs/test-renderer.html#testrenderercreate))

[code]

I never see the console.log print anything and I cannot find a test in rende

[2019-10-21 14:37] thymikee commented on #227
We pass it to react-test-renderer, but it doesn't seem to work with react-native, at least the last time I tried to use it. Didn't dig it too much though. We'd be glad if you helped us get it working :)

[2019-10-21 14:56] leeferfeefer commented on #227
I see. So react-test-renderer doesn't interact with it?

[2019-10-21 15:05] thymikee commented on #227
That's how I recall it

[2019-10-21 16:46] leeferfeefer commented on #227
Ok well thanks for the info. I will see if I can find anything

[2019-10-23 07:20] rogger-frogger commented on #119
In your BaseInput add a prop: testID={props.testID + 'someUniqueIdentifier'}. Then use that testID to find your component

[2019-10-23 20:09] leeferfeefer opened #228 "Is getAllByType limited to returning 10 elements?"
I am not sure if this is how the API works or if its based on my component tree, but is the use of getAllByType limited to retrieving only 10 elements? Does it only return visible elements? Visible as in to the user, not in terms of existing in the tree.

[2019-10-23 20:10] leeferfeefer commented on #227
I'm going to close this for now and reopen later if I have any insight in this issue. Thanks for the quick replies!

[2019-10-23 20:10] #227 closed

[2019-10-23 20:39] leeferfeefer commented on #228
Ah so by default, flatlist renders only 10 items. ```initialNumToRender``` is a prop that you can change.

https://facebook.github.io/react-native/docs/flatlist#initialnumtorender

[2019-10-23 20:39] #228 closed

[2019-11-01 07:49] nielskrijger commented on #222
I'm working on a RN 0.59 project; updating 0.6X is a big change and we're tackling it one step at a time.
In our proces to ditch Enzyme we started migrating to this library. For us the main reason to use this library over https://www.npmjs.com/package/@testing-library/react-native was @testing-library/react-native requires async act which is only available in the newest RN versions.

I'm really ha

[2019-11-01 14:03] anothersaddeveloper opened #229 "React Paper Snackbar doesn't get retrieved using any of getBy* queries"
## Versions

react@16.8.3
react-test-renderer@16.8.3
react-native@0.59.10
react-native-paper@2.16.0
react-native-testing-library@1.11.1

## Description

The render function does not fully render all of the components for Snackbar from React-native-paper dependency. Even though it doesn't, it still should retrieve component with accessibility label, but for some reason it doesn't. I have tried all

[2019-11-06 09:26] automatensalat opened #230 "How to get text as string from node children"
Hi there,

I switched over from Enzyme for my current RN project and I'm wondering how to handle a specific assertion.

Say I have a component like this:
[code]

I now want to test that the component renders the value in the Text node:
[code]
However, the test fails: `Expected: "Value is xyz", Received: ["Value is ", "xyz"]`

In Enzyme there is a .text() method on the node which flatly returns the

[2019-11-06 09:38] thymikee commented on #230
Are you using the latest version? I think we fixed that: https://github.com/callstack/react-native-testing-library/pull/132

[2019-11-06 10:58] automatensalat commented on #230
I'm using v1.11.1 which seems to be the latest version.

The PR you liked to is very similar to my question, however the changes are only related to the `getNodeByText` method, i.e. searching for a node by its text.

My use case is slightly different: I already have a node which I find e.g. with its `testID`, now I want to assert against its properties, which is the text in this case. It's basical

[2019-11-06 11:16] thymikee commented on #230
Oh, so there's nothing really we can do in the library. You check for `text.props.children`, which we don't alter, so either create a custom matcher that would do what you expect, or assert on an array.

[2019-11-06 11:16] #230 closed

[2019-11-07 06:41] deepakaggarwal7 opened #231 "snapshot has more instances than actual render"
## Ask your Question

    "react": "16.9.0",
    "react-native": "0.60.5",
    "react-native-swiper": "https://github.com/deepakaggarwal7/react-native-swiper/tarball/master",

I've created a swiper with two text elements. When I run the application, two items are rendered as expected. However, my unit test fails as it gets 4 text items. using more console, I found that the componentTree generated

[2019-11-07 08:56] thymikee commented on #231
A lot of "swipers" out there create duplicates for continuous scrolling. Isn't this the case?

[2019-11-07 08:58] thymikee commented on #231
Also, please don't rely on ByType, or ByProps matchers. They have issues and we're going to deprecate them. See: https://github.com/callstack/react-native-testing-library/issues/139 – it's likely connected.

[2019-11-07 08:58] #231 closed

[2019-11-07 09:36] deepakaggarwal7 commented on #231
The problem is that ultimately what is rendering is different than what debug() returns. I see only two items getting rendered but this library returns me 4 which means there's some gap between ultimate output and what library returns

[2019-11-07 09:51] thymikee commented on #231
What happens if you inspect the hierarchy in React Devtools? Is it only 2 items, or 4 there? Without a repro we can download it's hard to tell the actual issue.

[2019-11-07 10:06] deepakaggarwal7 commented on #231
Makes sense! Thanks. Going off-topic (feel free to ignore), I wonder that in your documentation, there's always a reference to a QuestionBoard app, but I could never find that sample code. Could you please suggest if it is accessible to us?

[2019-11-07 16:44] deepakaggarwal7 commented on #231
Solved. The problem was with swiper. Whenever swiper children > 1, it would add a hidden child at the start and at the end for loop. I set the loop={false} property after which it started working fine.
THE ISSUE WASN'T WITH react-native-testing-library

[2019-11-07 16:49] thymikee commented on #231
Awesome, thanks for getting back with it, appreciated :)

[2019-11-08 04:18] mav10 commented on #222
I would join other guys about implementation of both variants.
We have updated to latest react and RN and are waiting for supporting this feature.

[2019-11-10 12:45] deepakaggarwal7 opened #232 "HOC - Can't access .root on unmounted test renderer"
I've a logging HOC:
[code]

and a simple component
[code]

While I am still thinking on the best way to validate it, but the test crashes at the render level itself:
with an error "Can't access .root on unmounted test renderer"
[code]

Any thoughts on a mistake I'm making or it's a library issue?

[2019-11-10 12:56] thymikee commented on #232
You don't return anything from the `hasLogger` HOC

[2019-11-10 13:02] deepakaggarwal7 commented on #232
Sorry, I missed to copy last two lines:

[code]

[2019-11-10 13:07] thymikee commented on #232
The issue is what you pass to `render`:
[code]
A typical HOC expects a React Component, not React Element which you pass.

To fix this, pass a component:
[code]

[2019-11-10 13:07] #232 closed

[2019-11-11 16:33] serggin opened #233 "queryByText() error"
## Versions

    "react": "16",
    "react-native": "0.61.4",
    "react-native-testing-library": "^1.11.1",
    "react-test-renderer": "16.9.0"

## Description

The "doc" says:

queryBy* queries returns the first matching node for a query, and return null if no elements match. This is useful for asserting an element is not present.

But in my test there must be 2 matching nodes. I am expecting th

[2019-11-11 19:29] thymikee commented on #233
Can you setup a repro we can download?

[2019-11-12 08:34] serggin commented on #233
Hello, Michał Pierzchała!

You've written:

Do you mean repository? Here you are:

[https://github.com/serggin/jestRNTL_Demo.git](https://github.com/serggin/jestRNTL_Demo.git)

Best regards, Serggin.

[2019-11-12 08:37] thymikee commented on #233
Yes, "repro" is a jargon for "repository with a _reproduction_ of the issue". Thanks!

[2019-11-18 01:43] aleclarson opened #234 "Automatic unmount of rendered components at end of each test"
## Describe the Feature
I'm testing hooks that modify the global state of a library, so they need to be unmounted before the next test begins. Currently, I'm using this workaround:
[code]

Ideally, `react-native-testing-library` would export a function that lets developers opt-in to this behavior, like the following:

[code]

Then I wouldn't need to maintain this code myself. :)

## Possible Imple

[2019-11-18 12:59] LeoMosiah opened #236 "Invariant Violation: Unable to find node on an unmounted component. When Using fireEvent.press"
## Unable to find node on an unmounted component.
I am getting this error when I try to press my TouchableOpacity component on my tests. My test looks like this:
[code]
![image](https://user-images.githubusercontent.com/37636805/69055957-c11ca300-09ed-11ea-8de1-cce297ebd743.png)

https://github.com/mtg-community/trading-card-manager/blob/bc99849b3f66596af97ce49ef309139376ff920d/packages/frontend/s

[2019-11-18 18:44] #236 closed

[2019-11-19 21:22] thymikee commented on #234
Um, why not leveraging Jest APIs then?:

[code]

[2019-11-19 21:30] aleclarson commented on #234
Good question! That's certainly a valid solution, but all of my tests are actually ignoring the return value of `render`, so it's merely bloat to assign to `component` when I'm not using it.

[2019-11-19 21:33] thymikee commented on #234
I see that RTL has something similar built-in and it's called `cleanup`: https://testing-library.com/docs/react-testing-library/api#cleanup

Could you evaluate if this is the same use case and we could mimic its behavior in RNTL?

[2019-11-19 21:36] aleclarson commented on #234
That looks perfect! nice find

[2019-11-19 21:38] thymikee commented on #234
I'd be happy to get this onboard and turn on by default in v2

[2019-11-19 22:26] aleclarson commented on #234
v1 #237
v2 #238

[2019-11-20 23:37] Noitidart commented on #220
I forgot to say, it works! Thank you!

[2019-11-20 23:37] #220 closed

[2019-11-29 20:29] acollazomayer opened #240 "How to trigger View onLayout event"
I dont know if it is a bug or not, But I have a onLayout event on a screen that is setting some value in the store. When I first render the view with the render function, the onLayout event is not triggering.

I tried to call a custom event onLayout but is not working either. Any suggestions

[2019-11-29 20:41] thymikee commented on #240
Since you're not in a native environment, the onLayout is not triggering, because there's no layout phase. You'll need to mock it

[2019-11-29 20:41] #240 closed

[2019-11-29 20:43] acollazomayer commented on #240
@thymikee please dont close the issue, any help with this. Ok I mock it, but how do I trigger it

[2019-12-23 08:45] hengvenchang opened #243 "How to get element on react native navigation header"
Great Library! I enjoy using it so far, but i came across this problem that i have to access a component on navigation header:

export default class AddAlarmScreen extends Component {
  static navigationOptions = () => {
    return {
      headerTitle: 'Add New Alarm',
      headerRight: (
        <TouchableOpacity
          testID="addIconButton"
          <Text>Save</Text>
        </TouchableOpa

[2019-12-23 12:11] thymikee commented on #243
You need to render your component inside navigator context. Something like this (here I a:
[code]

[2019-12-23 12:11] #243 closed

[2019-12-24 04:03] hengvenchang commented on #243
Ma Man! Thank you so much

[2019-12-30 19:06] sweatC opened #245 "Blog post about testing"
## Describe the Feature
I am writing a blog post about the modern way of testing React Native apps and want to include one paragraph about `react-native-testing-library` as a unit testing tool.

## Possible Implementations
I need one well-described paragraph about your tool and one simple example of using.
Instead, I want you to promote my article on your site or blog.

[2020-01-03 13:42] thymikee commented on #245
Thanks, I'm happy to put the article somewhere on the docs, but unfortunately I don't have time to write the paragraph for you. Feel free to use existing resources in the current docs, it's all there really :)

[2020-01-03 13:42] #245 closed

[2020-01-10 08:13] deepakaggarwal7 opened #246 "It prevents implementation details"
Hi,

I've two questions:
1) In the introduction page, there's a quote - "But really not any, it prevents you from testing implementation details because we stand this is a very bad practice."
Could you please help me understand this better? May be any example or reference.
Where to draw a line of what should I unit test with it and not.

2) Also, in my previous few questions, you always discourage

[2020-01-10 08:22] thymikee commented on #246
1. testing implementation details would be e.g. modifying internal component state (possible with Enzyme) or querying on that state.
2. I recommend grabbing by text and accessibility queries, because that's what user sees. Using `testID` is the last resort, when you're out of ideas on how to grab something. Querying by type is discouraged, because it may be possible that the user can't see/interac

[2020-01-10 08:22] #246 closed

[2020-01-10 11:38] deepakaggarwal7 commented on #246
Thanks for your prompt response (as always). I found an article and a podcast as well from michał-pierzchała explaining the difference.

I recently had a component where an array rendered with following tree:
<TOUCHABLE1><VIEW1><TETXT1/></VIEW1></TOUCHABLE1>
<TOUCHABLE2><VIEW2><TETXT1/></VIEW2></TOUCHABLE2>
Using getBytText, I could get the text but to press the event I had to do
getByText(element

[2020-01-10 11:41] thymikee commented on #246
You don't need to strictly select touchable to press it. The event will bubble to parent components, so pressing on text (as user does) is perfectly fine

[2020-01-13 13:00] deepakaggarwal7 opened #247 "Unable to get AnimatedOpacity"
I want to test a button with visibility toggle based on isVisible prop (Buttin has no text). As most of the recommended queries are text driven (which doesn't exist in my comp), I opted for test ID. I wanted to test that based on the ```isvisible``` property, animated opacity value is either 0 or 100.

TEST
[code]

 I reckon toJSON() is more for debug and shouldn't be used for an assertion. Hence,

[2020-01-13 18:12] lucasluca commented on #174
I have the same error

[2020-01-14 06:44] MattAgn commented on #28
I stumbled upon the same issue and the best workaround was to use [this jest extension for react native](https://github.com/testing-library/jest-native). It extends the jest "expect" function with helpers like .toBeDisabled, toBeEmpty, toHaveProp etc... Very useful!

[2020-01-15 12:36] MattAgn commented on #233
Is anyone currently working on this issue? Otherwise I'm willing to give it a try!

[2020-01-15 13:39] thymikee commented on #233
Feel free to triage it and take it :)

[2020-01-16 13:00] MattAgn commented on #233
Thanks!

Here's what I found:
- the `queryBy` methods use the `getBy` methods
- the `getBy` methods use the `find` methods from react-test-renderer
- the `find` methods expect only one instance as shown in for the findByProps function below (extracted from react-test-renderer)
[code]

A possible solution would be to use the `getAllBy` methods in the `getBy` methods and return only the first elemen

[2020-01-17 13:03] thymikee commented on #233
I'll have a look at this next week, sorry to keep you waiting 😅

[2020-01-17 17:16] MattAgn commented on #233
Haha no problem 😄

[2020-01-21 07:34] deepakaggarwal7 opened #248 "Should and how to test redux connected components?"
As component testing doesn't include full app, there's no store. Based on my search, some suggest not to do component testing of redux connected components and to do ETE testing instead (which makes many components out of component testing scope) OR use mock to test (which might dilute the essence of component testing where an event in one makes some change in other)
Could you please share some op

[2020-01-21 16:48] thymikee commented on #248
You can expose a custom render which wraps your component with a custom provider, like:

[code]

and then use `renderWithRedux` instead of original `render` where applicable.

[2020-01-21 16:48] #248 closed

[2020-01-28 16:56] MattAgn commented on #233
Any news @thymikee? 😃

[2020-01-30 16:37] MuhmdRaouf opened #250 "render component that set state inside of useEffect at component mount."
Hey, I am trying to test a component that has `useEffect`  and I am setting a state inside of it.

everytime tun the following test
[code]
 I got the following error
[code]
 however, my test passes and works well.
I have searched for a solution for this and did as the error message suggested and wrapped my render method inside of act like the following

[code]

and I ended up with the following er

[2020-01-30 21:25] thymikee commented on #233
Unfortunately not yet, busy traveling :< I would appreciate sending a PR to our test suite with a failing test :)

[2020-02-01 14:13] thymikee commented on #233
Ok, finally had some time to have a look at that. It's intended behavior. If you expect more than 1 element to be present, use `queryAllByText`. That's an API decision we derive from React Testing Library. However now I see we miss an important bit in the documentation, which is:

Will add that shortly.

@MattAgn appreciate your willingness to help resolve the issue. Looking forward to seeing more

[2020-02-01 14:13] #233 closed

[2020-02-01 14:27] thymikee commented on #139
@jackharding in this case you can use `getAllByTestId`.
@teo029 thanks for pointing this out. Turns out that the behavior of `getByTestId` (searching across _all_ components, incorrect) is different than `getAllByTestId` (searching across _host_ components, correct). However changing this behavior would be pretty breaking, because some of our users use `testID` to find a specific custom component,

[2020-02-01 14:27] #139 closed

[2020-02-04 06:29] karlmarxlopez opened #252 "`getByType` not working on memoized component"
## Versions

`1.12.0`

## Description
This is similar to [react-test-renderer issue](https://github.com/facebook/react/issues/17301)

## Reproducible Demo
[code]

[2020-02-04 07:36] thymikee commented on #252
As you noticed, it's an upstream issue in `react-test-renderer`, which we depend on. This is not actionable.

[2020-02-04 07:36] #252 closed

[2020-02-04 20:39] MattAgn commented on #233
Thanks @thymikee! I'll try my best :)

[2020-02-04 21:00] MattAgn commented on #229
I haven't yet tried  with your version of the packages but at least it works with the most recent versions:
    - "react": "16.9.0",
    - "react-native": "0.61.5",
    - "react-native-paper": "3.6.0",
    - "react-native-testing-library": "1.12.0"
	- "react-test-renderer": "16.12.0",

![image](https://user-images.githubusercontent.com/32499425/73786504-b9bd9800-4799-11ea-8a76-e1057cadf531.png)

[2020-02-17 14:14] lucasbento commented on #250
I'm here for this as well, @thymikee is this still the same case mentioned in https://github.com/callstack/react-native-testing-library/issues/200#issuecomment-510054053?

[2020-02-17 14:38] thymikee commented on #250
Will try to prioritize this, thanks for the report

[2020-02-20 10:43] strdr4605 opened #253 "react-native-testing-library vs @testing-library/react-native vs detox"
This issue is more **React Native Testing** related that specific to `react-native-testing-library`.
And hope discussion will help others to understand **React Native Testing** approach.

---

A long time ago I wrote some tests with enzyme, but did like the experience and ignored tests on components.

Now I want to start again. Heard about `react-native-testing-library` in a podcast. Researching h

[2020-02-20 11:01] thymikee commented on #253
1. Slight differences, mostly a preference
2. No, detox runs on simulator/emulator, RNTL runs in Node.js environment
3. No, they're independent. Detox is e2e testing library, RNTL is "unit/integration" testing library
4. Use detox to cover user flows from screen to screen and vital functionalities like payments. Use RNTL for everything else, like testing components or single screens (but nothing p

[2020-02-20 11:01] #253 closed

[2020-02-22 14:39] lucasgouvea opened #255 "React Paper Button doesn't work with fireEvent"
This doesn't work:

[code]

This does:

[code]

"react-native": "0.61.5"
"react-native-paper": "^3.5.0"

[2020-02-22 15:15] thymikee commented on #255
Please provide a repro. Also, avoid using `getByTestId`. It's meant only as an escape hatch, because user can't interact with it. You can query by title text or accessibility labels, something that user can actually see or hear.

[2020-02-22 18:33] lucasgouvea commented on #255
I tried with getByText instead and it is now workinkg. Thanks!

[2020-02-25 19:23] thymikee commented on #250
Have you seen this? https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning

[2020-02-27 08:24] artyorsh opened #256 "Question: how to mock UI Manager?"
## Ask your Question

Hi!

I need help. Any chance to mock UI Manager with Jest? My setup requires mocking `measureInWindow` and probably `findNodeHandle` to perform testing components that relies on this module and native measurements.

What I do (here `Modal` is a custom component)

[code]

But this seems not to work, since making query with `getBy` api  throws and `queryBy` always returns null

[2020-02-27 08:32] thymikee commented on #256
Don't test private APIs like jest.mock('react-native/Libraries/ReactNative/UIManager')
UIManager is exposed through `react-native` and that's what you need to mock

Example:
[code]

[2020-02-27 08:32] #256 closed

[2020-02-27 09:28] artyorsh commented on #256
Many thanks @thymikee, you made it work 👍

[2020-03-16 14:03] LydGol90 commented on #250
This works for me

[code]

[2020-03-18 09:55] #197 closed

[2020-03-18 09:56] #202 closed

[2020-03-18 09:57] #229 closed

[2020-03-18 09:58] #255 closed

[2020-03-18 12:46] Kida007 opened #265 "flushMicrotasksQueue functionality"
Here is a test that intend to check whether loading state is working properly .
I made it work somehow but i can't understand why and how flushMicroTasksQueue is functioning ?

![image](https://user-images.githubusercontent.com/22558035/76961876-2e145b00-6944-11ea-8a88-863b0e03c3eb.png)

Actual  Flow :
1) on button press
2) component state changes to {  loading: true }
3) then API is called (which

[2020-03-18 19:03] PMabMI opened #270 "getAllByTestId returns empty list while getByTestId returns an item"
## Versions

react: 16.9.0
react-native: 0.61.5
react-native-testing-library: 1.13.0
react-test-renderer: 16.9.0

## Description

When attempting to find multiple items with the same testID property (FlatList render item), I am unable to fetch any test components using getAllByTestId.

getByTestId does return the first item with that test ID in the virtual DOM.

I am able to get all of the test it

[2020-03-18 19:04] thymikee commented on #270
There's a bug in how `getByTestId` works. `getAllByTestId` is correct. Will leave that open so it stays clear. Fixing that means a breaking change.

[2020-03-18 19:05] thymikee commented on #270
In the meantime, do yourself a favor and, please, never use `ById` queries. You don't need them really.

[2020-03-18 19:28] PMabMI commented on #270
Ok, I looked at the source code and see that there's a filter where the type of "type" should be string. I'm new to React and React Native, so forgive me if this is a dumb question, but all of the "type"s that I have in my test are "object" and "function". What am I doing wrong here, as I am unable to get any of the test instances from the queries that have this filter?

[2020-03-18 19:37] thymikee commented on #270
The type of string for a react element means it's "host" element - platform specific, like div or View. The purpose of testID is that it propagates to the native view, so it's accessible by e2e test frameworks. We don't do that filtering in getById and that's wrong.

Instead of grabbing components by id you should check something observable - a text, a value or accessibility props. Use these march

[2020-03-18 19:53] PMabMI commented on #270
Ok, I understand how it works now. The problem I was running into was I was attempting to use the props on custom components to fetch them in unit tests. Now that I read the updated documentation after the last release that renamed "getByType" I see that it wasn't saying I should move away from those for all cases, and they are still useful in unit testing scenarios.

I appreciate your help, it ga

[2020-03-21 02:35] #61 closed

[2020-03-24 16:14] almeynman commented on #227
For those who will encounter this problem in the future.

Worked around it by
1. Introduce a useRef optional prop and by default use react's one
[code]
2. in test mock useRef
[code]

[2020-03-26 21:58] danielholmes commented on #218
I couldn't get `fireEvent.press` to work for me. I ended up with this helper function for testing alerts (WARNING!! Not thoroughly tested yet):

[code]

Which you would use like so:

[code]

[2020-03-31 19:44] erikmueller opened #271 "How to use queries on rerendered component"
First: I love the library and how it encourages best testing pratices!

I don't know if I missed the part in the docs that describes that but I am unable to query component (tree) updates after having done a `rerender` (`update`). The code in `componentDidUpdate` works just fine and is easy to test but once I try to re-query elements (`getAllByA11yLabel`) I seem to get back the old elements (the `

[2020-03-31 20:33] thymikee commented on #271
That's a great question. Short answer: this won't work with how we currently build queries (hint: closures). You can see the updated tree with `debug` for example, but the React Test Renderer instance is closed over in queries and doesn't respond to mutation done by its `update` function.

We can think about how to achieve this without changes to the public API of the library, but it's not a prior

[2020-04-03 18:06] costerik opened #272 "FlowJS Errors"
## FlowJS errors
Hey guys, I started a project and I will use FlowJS but when I run the command `yarn flow` is throwing me these errors:

[code]
This is my `package.json` file

[code]

Any advice?
Thanks!

[2020-04-03 20:19] thymikee commented on #272
You need to install typings for react-test-renderer: https://github.com/callstack/react-native-testing-library#installation

[2020-04-03 20:19] #272 closed

[2020-04-06 18:22] DanyGZ opened #274 "Invariant Violation: Element type is invalid: expected a string"
## Versions
"react": "16.9.0",
"react-native": "0.61.5",
"react-native-testing-library": "^1.13.0",
"react-test-renderer": "^16.9.0"

## Description
I am creating test files for "Scenes". I am creating one test file per scene. In some scenes, I'm using custom components. When I try to render a scene, I'm getting an error related to my custom component:
[code]

## Reproducible Demo
This is the code

[2020-04-06 19:45] thymikee commented on #274
Do you have a repro we could download? Hard to say what's wrong from this code

[2020-04-14 10:32] Trancever opened #275 "Ability to query by text that is not a single node."
## Describe the Feature

It is very common to wrap one text into another to apply some additional styles. Unfortunately, this doesn't work well with testing. Currently, there is no way to query the whole text e.g.

[code]

currently `queryByText('Hello World')` won't find the text, but it would be really handy if it finds it.

There is also an option to change the structure of rendered components

[2020-04-14 20:36] Eldjotnar opened #276 "Unable to test isFocused on TextInput"
## Ask your Question

I'm attempting to test the native methods of TextInput, but am unable to test `isFocused` or `clear`, but `focus` and `blur` work fine.

My test file:
[code]

`* blur` passes, but `* isFocused` fails:
[code]

`package.json` has:
[code]

Any ideas what's going on?

[2020-04-14 20:41] thymikee commented on #276
What happens if you `console.log(componentRef.current)`?

[2020-04-14 20:45] Eldjotnar commented on #276
[code]

[2020-04-14 21:00] thymikee commented on #276
Does `isFocused` exist when you console / debug it directly in the component? Maybe there's something funky going on in the TextInput implementation as well? Worth checking :)

[2020-04-14 21:08] Eldjotnar commented on #276
If I use it in a regular component, it seems to work fine:
[code]
which logs `false` like I'd expect.

[2020-04-14 21:14] thymikee commented on #276
Mhm, so the ref state is cleared after render I suppose. It's interesting that the this function is undefined, while blur is – likely an implementation detail, not sure how it's supposed to react though.

Anyway, "focus" is something given by TextInput itself, so it's not something that you need to test (we assume it's tested by the framework). Unless, it controls some observable state of your com

[2020-04-14 21:14] #276 closed

[2020-04-17 02:27] brunohkbx commented on #222
Any updates on this?

[2020-04-17 07:24] thymikee commented on #250
Closing, as there's not much more we can do from the library perspective to deal with it. Sometimes we won't avoid using `act` directly, as it's stated in the mentioned blog post from my previous message.

[2020-04-17 07:24] #250 closed

[2020-04-17 07:26] thymikee commented on #222
Using async act won't magically fix your problems, because rendering is sync anyway. Please see this issue: https://github.com/callstack/react-native-testing-library/issues/250
and this blog post https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning to learn how to deal with `act` warnings.

[2020-04-17 07:26] #222 closed

[2020-04-22 14:01] cross19xx opened #279 "Creating an example directory in root folder"
## Describe the Feature

As a way to improve the documentation, we will place an example directory in the project root so that people can simply clone from this either onto their local machine or into CodeSandbox.

[2020-04-22 14:03] thymikee commented on #279
Would be lovely to have "Open in CodeSandbox" badge in the readme 🚀 https://twitter.com/dferber90/status/1252876456394289153

[2020-04-22 14:12] cross19xx opened #280 "Integration with react-navigation"
## Describe the Feature

As part of the `examples` directory, include an example which involves react-navigation

[2020-04-22 14:14] cross19xx opened #281 "Integration with redux"
## Describe the Feature
As part of the example directory that is being created, please add an example for redux.

[2020-04-22 14:15] cross19xx opened #282 "Include an example for mocking native modules"
## Describe the Feature
As part of the examples being created, please include an example of mocking native modules.

[2020-04-22 14:20] thymikee commented on #280
cc @Esemesek @satya164. Feel free to share anything in this topic.

[2020-04-23 12:50] thymikee opened #283 "Don't use *ByTestId queries in documentation examples"
## Describe the Feature

A few examples in the documentation use `getByTestId` and alike. We need to get rid of that and change to safer queries, because querying by `testID` encourages low-quality tests.

[2020-04-27 03:16] sammysium opened #289 "fireEvent Cannot read property 'charAt' of undefined"
## Ask your Question

I doubt it is a bug but I have a Picker component and I am the following, trying to fire onValueChange:

 const onEventMock = jest.fn();
    const {getByTestId} = render(<ComponentLanguageSelector   handleLanguageChangeSelection={onEventMock} />);

    const picker = getByTestId('TID_Language_Selector');

    fireEvent(picker, 'onValueChange', 'ab');
    expect(onEventMock).t

[2020-04-27 03:49] sammysium commented on #197
Ever solved that? I get TypeError: Cannot read property 'charAt' of undefined when I do fireEvent(pickerItem, 'onValueChange', {someData})

[2020-05-05 08:51] thymikee commented on #281
Closed via #291

[2020-05-05 08:51] #281 closed

[2020-05-07 06:37] thymikee commented on #289
What is Picker? Please provide as much detail as possible, libs used, their versions etc

[2020-05-07 06:41] sammysium commented on #289
@thymikee sorry. I have solved it. Sorry I didn't update this ticket.

[2020-05-07 06:41] #289 closed

[2020-05-07 06:42] thymikee commented on #289
Would be lovely to post the steps to solve it if someone stumps upon a similar problem :)

[2020-05-08 13:15] cross19xx commented on #283
This has been addressed in PR #294

[2020-05-08 14:37] #283 closed

[2020-05-11 06:35] thymikee commented on #279
This is already happening, and we have Redux and React Navigation guides for starters

[2020-05-11 06:35] #279 closed

[2020-05-11 06:39] thymikee commented on #282
FYI, you may find this helpful: https://github.com/facebook/react-native/issues/28839#issuecomment-625453688 in the meantime, or as a reference to contribute the example.

[2020-05-11 06:40] thymikee commented on #274
@DanyGZ ping :)

[2020-05-11 06:45] thymikee commented on #265
It will advance your microtask (promises) queue to the next one. You can find a really solid article on that here: https://jakearchibald.com/2015/tasks-microtasks-queues-and-schedules/

However, I wouldn't use this API, it's quite brittle and likely works only because you mock your API request to return a promise immediately (in next microtask). What's better is to use `waitForElement`: https://ca

[2020-05-11 06:45] #265 closed

[2020-05-11 06:48] #221 closed

[2020-05-11 07:39] thymikee opened #295 "Compatibility with eslint-plugin-testing-library"
## Describe the Feature

It would be lovely to verify that our library is compatible with [eslint-plugin-testing-library](https://testing-library.com/docs/ecosystem-eslint-plugin-testing-library), determine what's missing and plan the necessary work to make it usable.

## Possible Implementations

I'd like avoid creating another plugin based on the existing one. I'd prefer documenting the shortcom

[2020-05-11 08:17] thymikee commented on #295
cc @mdjastrzebski

[2020-05-11 09:42] mdjastrzebski opened #296 "Add FindBy* queries"
## Describe the Feature
The original React Testing Library uses findBy* queries for async element queries ([docs](https://testing-library.com/docs/dom-testing-library/api-queries#findby)). Essentially it combines getBy* query with waitFor, providing a cleaner shorter syntax for async queries.

Using findBy* queries is mentioned as high importance pattern by @kcdodds in [this article](https://kentc

[2020-05-11 10:14] thymikee commented on #296
Yea let's do it!

[2020-05-11 10:43] mdjastrzebski opened #297 "Ability to query children of given element"
## Describe the Feature
In certain scenarios it is useful to restrict query to only a part of component tree.
Sample use cases:
1. when displaying a `FlatList` of items we might want to find a certain item and query for some views inside it
2. when rendering multi-screen integration test using react-navigation and navigating from list screen to details screen. The global query still returns elemen

[2020-05-11 10:45] thymikee commented on #297
I think I like the `within` helper more, let's implement it 👍

[2020-05-11 11:08] mdjastrzebski opened #298 "Make sure we support @testing-library/jest-native"
## Describe the Feature
Current set of jest matchers is limited only to the base ones provided by jest. This makes simple queries like checking the text content of found element rather non-intuitive be directly working with its `children` prop.

The @testing-library/jest-native adds a number of useful React Native specific queries like: toHaveTextContent, toHaveStyle, toBeEnabled/Disabled, etc.

S

[2020-05-11 11:08] mdjastrzebski commented on #298
cc @thymikee

[2020-05-11 11:14] thymikee commented on #298
We should include this as our dev dependency, write some smoke tests, and provide documentation in Getting Started guide and Readme (they're similar) on how to include it. Should be opt in though

[2020-05-11 15:51] JulioOrellana opened #300 "No handler function found for event: "scroll""
What I am missing in my test? since I am following the same code as in documentation for `fireEvent`

Using `"react-native-testing-library": "^1.13.2"`

My test:

[code]
[code]

[2020-05-11 17:13] #275 closed

[2020-05-11 18:27] thymikee commented on #300
Definitely missing the `SideMenuBody` component, not sure what's there.

[2020-05-11 18:30] thymikee commented on #99
Closing in favor of #298. I see some of you already use `@testing-library/jest-native` so I hope it will only be a matter of documenting it and providing some tests that we're compatible :)

[2020-05-11 18:30] #99 closed

[2020-05-13 08:28] #225 closed

[2020-05-13 08:53] thymikee commented on #270
Just to be clear, we will fix that bug in v2. Until then, if you want to use `getByTestId` reliably, please use `getAllByTestId('id')[0]` or better, migrate off of `testID`s.

In one of the last 1.x versions we may output a warning to make you aware that current behavior is buggy. We could also add a hint in v2 that "you may rely on buggy behavior from v1" when getByTestId fails.

[2020-05-13 09:05] thymikee opened #303 "Update docs to mention buggy behavior of `getByTestId` and `queryByTestId`"
## Describe the Feature

Add a warnings under `getByTestId` and `queryByTestId` queries:

[code]

And a second one, a bit unrelated by why not:

[code]

## Related Issues

See https://github.com/callstack/react-native-testing-library/issues/270

[2020-05-14 08:26] #303 closed

[2020-05-14 10:51] #297 closed

[2020-05-14 17:01] alexborton opened #307 "getByText fails with react-intl FormattedMessage"
react-native-testing-library @ `^1.13.2`
react @ `16.9.0`
react-test-renderer @ `^16.9.0`
react-native @ `https://github.com/expo/react-native/archive/sdk-36.0.0.tar.gz` (I believe this is v0.60)

I have updated to react-intl @ `^3.12.1` from `2.x.x` and now my native tests are failing at any `getByText` assertions. It throws a `No instances found` error.

If i `debug()` i can clearly see the text

[2020-05-14 17:02] thymikee commented on #307
This is likely fixed by https://github.com/callstack/react-native-testing-library/pull/293. We'll release it soon.

[2020-05-14 18:18] alexborton commented on #307
I'm not sure... as this problem didn't persist before and there text would still render nested then.

Below is a `debug()` with the same component, same test, but `react-intl` at `2.x.x` and rntl @ `1.11.1`.

The strange part is that both the debugs _show_ the same code ...

[code]

[2020-05-14 18:22] thymikee commented on #307
Interesting. Can you put up a minimal repro we could download? Or try investigating further yourself?

[2020-05-14 18:52] alexborton commented on #307
Sure, let me have a play around and see what i can do

[2020-05-14 19:59] thymikee commented on #27
Closing this, since we now have more specific issues like #281 or #280

[2020-05-14 19:59] #27 closed

[2020-05-15 07:52] #296 closed

[2020-05-15 10:33] thymikee opened #311 "Design an API for providing custom ByText implementation"
## Describe the Feature

Right now, we rely on grabbing `Text` from `react-native` in `*ByText` queries. We should make it possible for users to replace it with `Text` from other libraries, like `react-native-windows` or `react-xp`. Or make it possible to extend `*ByText` queries to have a custom implementation.

## Possible Implementations

TBD

[2020-05-15 14:32] alexborton commented on #307
Annoyingly, i have carried out a fresh minimal install and the problem does not persist... The tests pass exactly as expected.

I am at a total loss as to what to try, although it very much looks like it's something, somewhere in my unique setup.

[2020-05-15 14:48] thymikee commented on #307
Have you tried running `jest --clearCache` and see if that helps? Sometimes, the caches get corrupted when upgrading stuff

[2020-05-15 15:57] alexborton commented on #307
Didn't make any difference - but thanks for the suggestion.

I have, however, updated to the latest version of `react-intl` @ `4.5.3` and although i am getting a number of other issues in my tests, the original issue does not persist anymore! So strange..

I've looked through the release notes on react-intl and i can't see anything that would cause the issue.

[2020-05-17 18:56] #280 closed

[2020-05-18 07:18] thymikee opened #317 "Remove `debug` export from the library"
## Describe the Feature

There are 2 ways to `debug` in RNTL at the moment.
The legacy way:
[code]
The correct way:
[code]

We'd like to get rid of "the legacy way". It was introduced first and proven to be worse API to the later-introduced "the correct way", which is easier to use – less typing and scoped to the component we're currently testing. It's confusing we have 2 ways to do the same thing

[2020-05-18 07:38] #298 closed

[2020-05-18 08:27] mdjastrzebski opened #318 "Unify `waitForElement` to Testing Library signature"
## Describe the Feature
Current signature for `waitForElement` is:
[code]

Testing Library, has a similar signature
[code]

where timeout and interval are moved into optional `options` object. Benefits of `options` object vs positional arguments are:
1. better usage readability: named options `{ timeout: 1000 }` vs positional argument (`..., 1000)`)
2. `options` arguments is open for extension of

[2020-05-18 08:37] mdjastrzebski commented on #318
cc @thymikee  @cross19xx

[2020-05-18 10:14] mdjastrzebski opened #325 "Reorganize internal queries code by predicate typ"
## Describe the Issue

Current queries are organized in files by return type (`getByAPI.js`, `queryByAPI.js`, `findByAPI.js`) with exception for `A11yAPI.js` which is organized by predicate (byA11yLabel, byA11yHint, etc). Generally `getBy` and `getAllBy` queries are used as core query, with `queryBy`/`queryAllBy` and `findBy`/`findAllBy` as manually written wrappers around `getBy`/`getAllBy` qurie

[2020-05-18 10:19] thymikee commented on #325
Good call, let's do it.

This is an implementation detail. I guess that in some far-away future some optimizations may be added, but it's not the case now, and I don't think it has any priority. Once RTR does that, we can think about including these optimizations.

[2020-05-18 13:31] i-mighty commented on #289
Could this issue be opened again?
I'm having a similar issue for fireEvent(button, 'press')
button is a TestInstance for a NativeBase Button

[2020-05-18 13:36] thymikee commented on #289
@i-mighty please provide a repro we can download.

[2020-05-18 16:35] Pardiez opened #329 "Error for every fireEvent changing state in a component with a Switch"
## Versions

    "react": "16.11.0",
    "react-native": "0.62.0"
    "react-native-testing-library": "1.14.0",
    "react-test-renderer": "16.11.0"

## Description

I'm getting a console error for every fire event that changes the component state in a component with a Switch.
[code]
![Screenshot 2020-05-18 at 18 30 48](https://user-images.githubusercontent.com/2436316/82237404-e014d700-9935-11ea-

[2020-05-18 16:41] thymikee commented on #329
Can you create a repro we can download?

[2020-05-18 16:42] thymikee commented on #317
Closed via #328

[2020-05-18 16:42] #317 closed

[2020-05-18 16:42] thymikee commented on #318
Closed via #327

[2020-05-18 16:42] #318 closed

[2020-05-18 16:43] thymikee commented on #247
Hey! Can you provide a minimal repro we can download and verify?

[2020-05-18 16:44] thymikee commented on #270
The fix is on the `next` branch and will be featured in 2.0 release. We'll let you know once this is ready for testing

[2020-05-18 16:46] thymikee commented on #295
@cross19xx please put your findings here :)

[2020-05-18 17:25] cross19xx commented on #295
With the exception of the following syntaxes, all other rules are valid and compatible with `eslint-plugin-testing-library`.

- [`no-debug`](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/no-debug.md): Using the default `debug` is seen as a valid syntax, whereas using the `debug` inside the `render` method is seen as an invalid syntax, i.e.

[code]

  Lucki

[2020-05-18 20:35] thymikee commented on #295
Thanks! Now w need to document it

[2020-05-18 22:13] DracotMolver opened #330 "Default props coverage"
Hi. First of all, I'm not sure if it is related to `react-native-testing-library` or to `jest`. I'm testing two components and they both have different default events.

* component 1:
[code]
and the other component 2:

[code]
When I'm testing, I've got 100% coverage my *component1*, even the default props without testing them directly. But I couldn't achive the same with the `onPress` event on the

[2020-05-19 06:40] thymikee commented on #330
I don't see how `mockFunc` can be called, since it' not passed anywhere? You could check `expect(props.onPress).toHaveBeenCalled()`. Anyway, it's most likely not an issue with this library. Make sure the function is actually called and move on.

And don't use `defaultProps` when working with functions, use default function parameters:
[code]

[2020-05-19 06:40] #330 closed

[2020-05-19 11:55] Pardiez commented on #329
Updated with repro link. Just a `react-native init`with react-native-testing-library and that dummy component/test.
I have also tested it with RN0.61 without errors, so the error is logged only in 0.62+

[2020-05-19 13:46] thymikee commented on #329
Thanks! I think it's something specific to React Native then, and not to tests, but definitely worth to check and understand what's going on.

[2020-05-19 16:49] morris14 opened #336 "What should we use instead of queryByType?"
We use 'queryByType' to query a react component/object but I can see that will be deprecated in the next release. What's the best way to query a react component/object?

[code]
and
[code]

[2020-05-19 16:59] thymikee commented on #336
`queryByType` is not going anywhere. We're keeping this API but under a different name with `UNSAFE_` prefix: `UNSAFE_queryByType`, so you can still use it. It's generally advised to not use this API unless you have a good reason too (unit testing your components instead of integration testing), so be mindful.

It will all be included in the migration guide we're preparing on the `next` branch, so

[2020-05-19 16:59] #336 closed

[2020-05-19 17:06] morris14 commented on #336
Many thanks @thymikee !

[2020-05-20 08:26] Pardiez commented on #329
Maybe, but the error is logged when I run the test. I don't have any error/warning firing the same events on an emulator 🤔

[2020-05-20 08:53] thymikee commented on #329
Remember you're running your test in different environment (Node) than your emulator (JSC/Hermes). There may be slight differences, not sure if that's the case though. Let's wait for somebody to triage and investigate this. cc @mdjastrzebski @cross19xx

[2020-05-20 12:52] mdjastrzebski opened #339 "Deprecate `flushMicrotaskQueue`"
## Summary

Writing async tests using `flushMicrotasksQueue` is quite not intuitive, as there are better alternatives available like `waitFor` or `findBy` queries. Similar function while contained in RTL is not exported from it.

Let's deprecate it in 2.x release and the remove it in 3.x. Users still relying on it, will be able to replace it with copy-paste implementation.

[2020-05-20 12:52] mdjastrzebski commented on #339
cc @thymikee @cross19xx @Esemesek

[2020-05-20 19:03] thymikee commented on #339
Closed via #340

[2020-05-20 19:03] #339 closed

[2020-05-20 19:03] thymikee commented on #234
Closed via #238

[2020-05-20 19:03] #234 closed

[2020-05-21 09:11] thymikee opened #343 "Wrap `waitFor` with async `act`"
## Describe the Feature

React batches updates to the underlying native platform using `act` helper. We already use that for sync calls to `render`, `update` and `fireEvent`. However, it's common to put side effects updating React component state inside `useEffect`. Doing that will produce the dreaded "updates should be wrapped into act(...)" warning. To account for that, React introduced async ve

[2020-05-21 14:29] #343 closed

[2020-05-23 16:54] nise2 commented on #289
Hi, same problem there. I am trying to implement the [react-native-picker](https://github.com/react-native-community/react-native-picker) with [react-native-testing-library](https://www.npmjs.com/package/@testing-library/react-native) latest version (v5.0.3).

The implementation have changed from my latest version of react-native-testing-library (v.1.13.2).

Here is a working example with _press_

[2020-05-23 17:05] sammysium commented on #289
Hey,

I got it to work by:

 fireEvent(getByTestId('TID_Language_Selector'), 'valueChange', 'en_US');

where

TID_Language_Selector is the picker testID
en_US is the JSON language file

On Sat, May 23, 2020 at 9:54 AM nise2 <notifications@github.com> wrote:

--
Regards,

Sium
One Acre Fund | *Farmers First*

[2020-05-23 17:16] nise2 commented on #289
@sammysium Well thanks for your answer, unfortunately it still fails with the same error. Here is my code (with myComponent showed) :
[code]

Which version of react-testing-library are you using ?

[2020-05-23 17:20] sammysium commented on #289
I am using

 "@react-native-community/picker": "^1.3.0",
Can you post the full code of your component with the picker?

On Sat, May 23, 2020 at 10:17 AM nise2 <notifications@github.com> wrote:

--
Regards,

Sium
One Acre Fund | *Farmers First*

[2020-05-23 17:42] sammysium commented on #289
sorry:

 "react-native-testing-library": "^1.13.2",

On Sat, May 23, 2020 at 10:20 AM Sium Kiflemariam <
sium.kiflemariam@oneacrefund.org> wrote:

--
Regards,

Sium
One Acre Fund | *Farmers First*

[2020-05-23 19:47] nise2 commented on #289
Actually I just found out I mixed up the two libraries...

I asked on your feed (concerning react-native-testing-library) instead of https://github.com/testing-library/native-testing-library. My bad... Yup, this is working fine as expected with this current library.

I'm gonna ask on the other thread. Thanks !

[2020-05-25 06:51] kkh975 opened #345 "testing not finishing..."
## Versions
I just used under command.

## Description
My Simple Components(.tsx) is:
[code]

and Test Code(.tsx) is:
[code]

but result is:
<img width="326" alt="스크린샷 2020-05-25 오후 3 47 26" src="https://user-images.githubusercontent.com/1680132/82786164-0f2fc900-9e9f-11ea-8ce0-4c84e81e0aa7.png">

It was not finish ;;;

## Reproducible Demo

[2020-05-25 07:13] thymikee commented on #345
I'm sorry, but the screenshot clearly shows that the test run was finished. There is no snapshots in your examples, so there's none in the summary.

[2020-05-25 07:13] #345 closed

[2020-05-25 07:21] kkh975 commented on #345
It just looks like that because it is terminated by memory out.

[2020-05-25 07:23] thymikee commented on #345
I can't see that from your post.

[2020-05-25 07:27] kkh975 commented on #345
![image](https://user-images.githubusercontent.com/1680132/82789089-ab100380-9ea4-11ea-8c70-0f275979d7dd.png)

[2020-05-25 07:31] thymikee commented on #345
Try newer version of Node (if latest 12 won't work, try 14). It's possible that your machine has too little RAM for V8 to execute the tests that depend on React dependencies (Jest transpiles a lot with Babel and keep all of that in the memory).
If it only happens with this library, try plain "react-test-renderer", it's probably going to be the same, because we mostly forward to its APIs.

[2020-05-25 07:40] kkh975 commented on #345
Hum.. I updated to version 14 but it is the same. (My Mac has 16G 2400, DDR4)
I will try to "react-test-renderer".
Thanks~

[2020-05-25 08:09] kkh975 commented on #345
Hi, @thymikee
I finally realized what wrong.
Under code fired Loop.
[code]

[2020-05-25 08:10] thymikee commented on #345
Glad you worked it out!

[2020-05-27 18:59] iconicsammy opened #351 "check if a matching node doesn't exist"
Hi,

Perhaps this is found somewhere else but I couldn't find one. My scenario is straight forward:

 expect(UNSAFE_getByType(ComponentName)).toEqual(undefined)

I want to make sure the ComponentName doesn't exist. The above fails because ComponentName doesn't exist indeed (no instance with node exists error) but it should pass. Currently I am doing it in a trycatch but I was wondering if there is

[2020-05-27 19:07] thymikee commented on #351
You can use `toThrow` Jest matcher:
[code]
or use `queryByType` and assert `.toEqual(null)`

[2020-05-27 19:07] #351 closed

[2020-05-28 13:39] thymikee commented on #270
V2 is now released: https://github.com/callstack/react-native-testing-library/releases/tag/v2.0.0

[2020-05-28 13:39] #270 closed

[2020-05-29 09:54] thymikee commented on #158
2.0 is out, go grab it! 🔥
Blog post: https://callstack.com/blog/react-native-testing-library-2-0/

[2020-05-29 09:54] #158 closed

[2020-05-30 03:58] alexakasanjeev commented on #28
@thymikee Are you working on this bug???

I disagree with you, I don't understand how this falls under accessibility issue you are talking about, sending different function when disabled, is literally changing code just to pass my test, not because it is requirement, because I expect onPress to be disabled when pass `disabled` prop on Touch listener provided my `react-native`. ☺️

[2020-05-30 04:09] alexakasanjeev commented on #283
@thymikee Could you please explain reason for your above statement, why `testID` encourages low-quality tests?

[2020-05-30 04:40] alexakasanjeev opened #359 "getByText No instances found error"
## Ask your Question
I'm writing a simple Button component , which has a prop loading, if loading is send true, `Text` component is not rendered, in place of it a loader is rendered. I want to test, if I pass `loading` prop true, the `Text` component is not rendered but I'm getting `No instance found` when using `getByText`

**MyButton.js**
[code]

**MyButton.test.js**
[code]

But I'm getting `No

[2020-05-30 07:40] thymikee commented on #28
@alexakasanjeev we're not currently working on this. But the proper place to fix it is the `Touchable*` components in RN core. I won't patch the library to work around specific logic that lives on the native side.

For example, there's a new `Pressable` component coming up, which may or may not have this issue. Shall we patch it then as well? What about other components? I hope you see my point. T

[2020-05-30 07:42] thymikee commented on #283
@alexakasanjeev because a user can't interact with it, which may result in having a positive test for an interaction that may never happen. `testID` may be useful at times, but it should be avoided.

[2020-05-30 07:47] thymikee commented on #359
`loading` is true, so text doesn't render and hence `getByText` throws an error.

From the docs:

If you want to verify the text is not there, use `queryByText`

[2020-05-30 07:47] #359 closed

[2020-05-30 07:51] #274 closed

[2020-05-30 07:53] thymikee commented on #247
You need to pass the `testID` prop to the native `TouchableOpacity` component.

[2020-05-30 07:53] #247 closed

[2020-05-30 07:54] thymikee commented on #307
I'm going to close this issue, because there's nothing we can do at the moment to address it. Feel free to reopen once it happens again.

[2020-05-30 07:54] #307 closed

[2020-05-30 07:57] #300 closed

[2020-05-30 08:27] alexakasanjeev commented on #359
Thank you

[2020-05-30 08:30] alexakasanjeev commented on #283
@thymikee sorry, I didn't quite get it, could you state an example where it may render positive test but user will never interact with it

[2020-05-30 13:35] wwdrew opened #360 "Tests using React Navigation (including examples in documentation) fail with ForwardRef(NavigationContainer) error"
## Versions

react: 16.11.0
react-native: 0.62.2
react-native-testing-library: 2.0.0
react-navigation/native: 5.5.0
react-navigation/stack: 5.4.1

## Description

I've created a new RN project (0.62.2) and installed 2.0.0 of react-native-testing-library and the latest React Navigation. To test them out, I've recreated the two examples from here (https://callstack.github.io/react-native-testing-lib

[2020-05-30 17:37] thymikee commented on #360
Yea, we need to replace `getBy` queries with `await findBy`. Would you like to do that change? :)

[2020-05-30 17:49] wwdrew commented on #360
You are a legend, that worked!

For being so awesome, I'd absolutely be happy to do that change! Shall open a PR asap!

Thank you again so much!

[2020-05-30 17:49] #360 closed

[2020-05-30 17:49] alexakasanjeev opened #361 "Using custom matcher result in error from @testing-library/jest-native"
## Versions

| software              | version |
| --------------------- | ------- |
| react|    16.11.0     |
| react-native          |   0.62.1      |
| react-native-testing-library | 2.0.0 |
| react-test-renderer | 16.11.0 |
| @testing-library/jest-native | 3.1.0 |

## Description

I followed the [docs](https://callstack.github.io/react-native-testing-library/docs/getting-started) to add `@test

[2020-05-30 17:50] thymikee commented on #360
Ace attitude!

[2020-05-30 17:54] thymikee commented on #361
Can you hare your babel config and what the filename looks like? Ideally we'd appreciate a repository with minimal reproduction example we could download

[2020-05-30 17:57] alexakasanjeev commented on #361
Hi, this is my `babel.config.js`, I'm working on production code, I will create a dummy repo, and report the link 🙂

[code]

[2020-05-30 17:58] thymikee commented on #361
Oh, you're missing `"preset": "react-native"` from your Jest config!

[2020-05-30 18:02] alexakasanjeev commented on #361
Could you point out where I have to write `"preset": "react-native"`,in which file I have to write this, I tried writing this in `babel.config.js` & `jest.config.js` both are resulting in new error

[2020-05-30 18:16] #361 closed

[2020-06-01 07:33] cross19xx commented on #329
Error seems to come from the `<Switch />` componennt

[2020-06-01 09:38] QuevedoIB opened #367 "How to test styles"
Good morning and thanks for the library, I've been reading the documentation and I didn't see any reference about how to test a rendered component styles, is there any way to achieve that using react-native-testing-library? Any help is highly appreciated, thanks and have a nice day!

[2020-06-01 09:43] thymikee commented on #367
There's a couple of ways:
1. Use snapshot testing (but be cautious not to produce snapshots larger than you're able to review)
2. The queries return a TestRendererInstance, which has access to `props` so you can always check if the `props.style` has been set properly. `style` is a public API of almost all core React Native components, so you shouldn't be worried about accessing it.

Ideally a `.to

[2020-06-01 09:43] #367 closed

[2020-06-01 09:56] QuevedoIB commented on #367
Thanks a lot, .toHaveStyle is what I've tried but I see it's not yet implemented so I'll open the issue there and see If someone can implement it, meanwhile I will go for the second option you mentioned, again thanks a lot!.

[2020-06-04 16:21] VirtualDOMinic commented on #112
@ethantran Do you remember if you needed to do anything in addition to what's described in the [svg-transformer docs](https://github.com/kristerkari/react-native-svg-transformer#usage-with-jest)?

I can't get my tests to work on a component containing an SVG, and get the same error even after adding what's described in the `usage-with-jest` section

[2020-06-05 16:14] mdjastrzebski opened #375 "Add `waitForElementToBeRemoved` API"
## Describe the Feature
RTL contains a `waitForElementToBeRemoved` method for detecting if some element has been removed asynchronously (e.g. with animation). This type of query is not very straigthforward using existing `waitFor` method.

## Possible Implementations
Implement `waitForElementToBeRemoved` based on RTL's implementation. Note it seems that you can use `getBy`, `getAllBy` as well as `

[2020-06-05 16:15] mdjastrzebski commented on #375
CC @thymikee

[2020-06-09 10:13] jpmonette opened #379 "Error thrown - Warning: You called act(async () => ...) without await."
## Ask your Question

I have a simple test that seems to generate the right snapshot at the end of execution, but throws me a `console.error` during the execution.

Here are the steps to get to the expected component state:

1. Load the component
2. Wait for the `useEffect` asynchronous logic to be executed so that the `SegmentedControlIOS` is exposed (`testID` = `recordTypePicker`)
3. Set the `se

[2020-06-09 13:19] mdjastrzebski commented on #379
This particular line looks a bit odd to me:
[code]

I don't thing we support putting jest's `expect` into `waitFor`.

Could you try something like:
[code]

Let me know if you still got the same error.

[2020-06-09 13:49] defless opened #380 ""Cannot read property 'target' of undefined" with fireEvent.press()"
## Ask your question

During a **test** that I've made over one of my component, I wanted to 'click' on a **Button** .  This **button** worked perfectly out of the test. But wen the button is trigger by ``` fireEvent.press() ``` it seems to not recognise the event and so the target of it.

I'm a beginner in testing and moreover in react-native tests so it's quite possible that this issue is due to

[2020-06-09 14:14] jpmonette commented on #379
@mdjastrzebski
I did update my code and still get the issue. Here's the updated test:

[code]

[2020-06-09 18:11] mdjastrzebski commented on #379
@jpmonette can you provide a repro repo?

[2020-06-09 18:23] mdjastrzebski commented on #380
@defless I am not sure what do you want to achieve in your test.

From the console log I see that the second parameter passed to `onSubscribeClick` call (`e`) is undefined, so it throws `TypeError` when you try to read `target` property on it.

As a side note, `getBy` queries are kind of assertions by themselves, they throw if they cannot find element, so `const element = getByTestId('widgetView')

[2020-06-10 06:17] #375 closed

[2020-06-10 08:27] defless commented on #380
@mdjastrzebski  I didn't know for `getBy` queries ! I will remove de `expect().` .

What I want to achieve in my test , is to check if the component is rendering well. And in order to have a 100% coverage over my code I want to simulate clicks on buttons to tests the attached scripts to my event `onPress`. It maybe not the right way to do things.

What I wanted to do is to pass the event target to

[2020-06-11 12:34] defless commented on #380
Yeah that's exactly what I want to do with it. I want to be able to identify which button is pressed.

<img width="345" alt="Capture d’écran 2020-06-11 à 14 28 00" src="https://user-images.githubusercontent.com/43884154/84385424-d3f7fe80-abef-11ea-8de7-1d3218b1fd22.png">

Then that's what I'm going to look into ! Thank for your help @mdjastrzebski .

[2020-06-11 12:51] MartinCerny-awin commented on #119
I am having the same issue and I have created a small repository, where it can be tested https://github.com/MartinCerny-awin/ReactHookForm-ReactNativeTestingLibrary

[2020-06-11 14:22] medmo7 opened #383 "Test render a React-native component that uses context.consumer"
## Describe the bug
I use the react context api to set a global theme in the app. I'm trying to test a component that uses <ThemeContext.Consumer>.
 Here is how i use that in the component :
[code]
the unit test is like this:
[code]
The error i get is this:

![image](https://user-images.githubusercontent.com/32428883/84398191-8ed7ca80-abf7-11ea-9770-a4fb927aba0b.png)

**Thanks**

## Versions
react

[2020-06-12 06:54] mdjastrzebski commented on #380
Just to clarify by what I mean by passing button identifier in closure:
[code]

[2020-06-12 07:02] mdjastrzebski commented on #383
@medmo7 This is not RNTL-related question, as in your code you use `react-test-renderer` and not RNTL. Anyway I'll try to help :-)

In general the code setup looks ok, you render context `Provider` components around your context-consumer.

Can you provide a simple repro repository?

[2020-06-12 07:16] mdjastrzebski commented on #329
@Pardiez I was able to reproduce your issue using your code. Everything is a you diagnosed it, removing `<Switch>` or `setState` calls prevents the message.

So I've made a little experiment and swapped `setState` with `forceUpdate` calls that simply trigger render, and the message also appears. Moreover, when I ran your code as an app (not test) the warning does not appear.

This makes me believe

[2020-06-12 07:18] #383 closed

[2020-06-12 07:49] thymikee commented on #329
@mdjastrzebski is the link correct? It points to changes in `react-native-renderer`. I'm not sure how this PR is relevant to the problem space.

[2020-06-12 09:44] medmo7 commented on #383
Sorry guys, i've just copied an old version of my test, but i have actually used this library for the test, my bad.
My test looks this now:
[code]

[2020-06-12 09:45] mdjastrzebski commented on #329
@thymikee You're right, that this is from `react-native-renderer`. The warning message in the PR looks like the one @Pardiez is getting. His logs stack reference mentions `node_modules/react-native/Libraries/Renderer/implementations/ReactNativeRenderer-dev.js` so looks like it's somehow connected.

[2020-06-12 09:50] thymikee commented on #383
I assume your app's ThemeContext is different than the one `react-navigation-tabs` is expecting. Anyway, it doesn't seem like anything related to the testing library, but setup or mocks.

[2020-06-12 10:00] medmo7 commented on #383
Thanks the quick answer. Could the navigation mock be the problem?
I use `ThemeContext.Provider` like this:
[code]

[2020-06-15 10:43] petrkrejcik opened #386 "Allow debug() to return HTML (not only print)"
## Describe the Feature
Allow users to get the output of `debug()` as a regular string.
My use case is that I would like to see the HTML in a regular browser rather than in a terminal.

## Possible Implementations
Add `return format(instance)` to `debugDeep` and `debugShallow`.

[2020-06-15 10:46] thymikee commented on #386
I'm not sure I understand your intention. The `debug` already returns a string (but colored with ansi codes). Can you provide an example that makes it clearer?

[2020-06-15 11:23] petrkrejcik commented on #386
I am developing my native app in a browser (using Expo) and in my test I would like to do:
[code]
and then send this html to a browser to see what's actually rendered. It's easier for me to visually check in a browser what's rendered rather than reading the output of `debug` in a terminal.

I do the same in RTL (using `container.innerHTML`) but maybe I was too eager in writing this feature request

[2020-06-15 11:23] #386 closed

[2020-06-15 12:27] #380 closed

[2020-06-15 14:05] maloua commented on #307
I'm having the same issue (with up to date packages)

When I do `element.debug()` the text is visible:
[code]

Yet I also get "No instances found" when I do `element.getByText('Click here')`. Any ideas?

- react 16.13.1
- react-native 0.62.2
- react-intl 4.6.3
- react-native-testing-library 2.1.0
- react-test-renderer 16.13.1

[2020-06-15 14:19] thymikee commented on #307
Can you provide us with minimal reproduction repository?

[2020-06-18 15:52] RicardoBrito1938 opened #389 "@react-native-community/netinfo: NativeModule.RNCNetInfo is null. To fix this issue try these"
Hello Guys, sorry if that is dumb question, i am trying to configure and start working with tests, in the first case i just wanted to know if the component is capable of rendering so i wrote the following test

[code]

but i got the following error, i tried to rebuild the project, but error persists, see the error below, if there is further info i can provide, please let know

 FAIL  __tests__/com

[2020-06-19 12:31] Merlier commented on #329
@Pardiez I got the same error:
[code]

Effectively it seems to be link with the Switch component. When I removed it, there is no more error.
Maybe it could be link with native stuff of the Switch component.
There is a old post (maybe link) about this: https://stackoverflow.com/questions/47058905/using-react-test-renderer-with-switch-causes-stateless-function-components-ca

To pass through this war

[2020-06-19 15:28] Doaa-Ismael opened #390 "Unable to find node on an unmounted component."
I wrote this test and it worked perfectly
[code]
I wanted to test each text alone so I edited the code to be like this .. I expected to work but it gave me this error
[code]

## Versions

  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: 0.61.5 => 0.61.5
    react-native-testing-library: ^1.13.0 => 1.13.0
    react-test-renderer: ^16.13.1 => 16.13.1

[2020-06-19 15:31] thymikee commented on #390
It sounds like you're using RNTL v2, which runs `cleanup()` after each `test`. You'll need to move your render call to the `test` functions, even if it means more code to run – it's for the safety of running your component tests in isolation.

[2020-06-19 15:31] #390 closed

[2020-06-19 15:36] thymikee commented on #389
Hey! This library is `react-native-testing-library` and you're using similar `@testing-library/react-native`. Nonetheless, you need to mock the RNCNetInfo native module. They provide docs on how to do that: https://github.com/react-native-community/react-native-netinfo#errors-while-running-jest-tests :)

[2020-06-19 15:36] #389 closed

[2020-06-20 18:05] fabriziobertoglio1987 commented on #176
I experienced this problem. `act` would trigger the warning with this `async function`. Removing `async`..`await` would remove the warning.

[code]

This solution worked in my case:

1) Upgrade to `react-native@0.62.2`, `react@16.11.0`, `react-test-renderer@16.11.0` and `"react-native-testing-library": "^2.0.0`"

2) https://github.com/facebook/react/pull/14853#issue-253114353

[code]

[2020-06-21 18:14] RicardoBrito1938 commented on #389
Thank you Very much!!

[2020-06-22 07:25] ccfz opened #391 "Version 2.x not compatible with jest.useFakeTimers('modern');"
## Describe the bug

Using `jest.useFakeTimers('modern');` in any spec file, causes the tests to fail due to timeout error:

Downgrading to 1.14 fixes this, therefore I believe this is related to 2.x.

I am using  `jest.useFakeTimers('modern');` in order to call `jest.setSystemTime` in my test just FYI.

## Expected behavior

Tests should pass

## Steps to Reproduce

Simple component:
[code]

spec

[2020-06-22 08:33] thymikee commented on #391
Thanks, this is interesting. After a brief investigation, I've identified that this code is to "blame", specifically the `await flushMicroTasks();` call:
https://github.com/callstack/react-native-testing-library/blob/401d3d3daca737a317d906d9d9225dc976ec1db9/src/index.js#L12-L15

`flushMicroTasks` looks like this:
https://github.com/callstack/react-native-testing-library/blob/401d3d3daca737a317d906

[2020-06-22 09:30] ccfz commented on #391
@thymikee thanks for the very quick response! Workaround works as expected.

[2020-06-23 02:47] jonmchan opened #398 "Console.Error When Trying To Test NavigationContainer"
## Describe the bug

When trying to test NavigationContainer, I get a console.error log:

[code]

## Expected behavior

No console.error log.

## Steps to Reproduce

[code]

## Versions

  npmPackages:
    react: ~16.9.0 => 16.9.0
    react-native: ~0.61.5 => 0.61.5
    react-native-testing-library: ^2.0.1 => 2.0.1
    react-test-renderer: ^16.13.1 => 16.13.1

[2020-06-23 05:48] thymikee commented on #398
It's because your component wrapped in navigation perform some state updates that you don't await for. Instead of snapshotting the whole screen, it would be better to find certain elements in it and assert if they rendered or not. Using findBy queries the library would automatically wait for the elements to appear.

If you don't care about further updates to this component, you can call unmount on

[2020-06-23 05:49] #398 closed

[2020-06-23 06:57] entiendoNull opened #399 "App.tsx is of wrong type only when testing"
I have a small React Native (Expo) app written in TypeScript and have just began to write some tests for it. I started to write tests for some very simple components, and it seems to work out just fine.

However, when I try to write tests for my App.tsx I get the following error:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) bu

[2020-06-23 07:01] thymikee commented on #399
Can't tell without a repro. Please create one and share here :)

[2020-06-23 07:10] SimenB commented on #391
That's because they actually run immediates (and ticks) on real timers even when time is faked: https://github.com/facebook/jest/blob/4471bbbb2d009a5d71c7beb702cb3cadb46d0a94/packages/jest-fake-timers/src/legacyFakeTimers.ts#L443-L451

[2020-06-23 07:19] entiendoNull commented on #399
Wow, that was a quick reply :)

When playing around more with it the issue seems to be that it will use the app.json file instead of App.tsx file in my test - regardless of an accurate import following it in VSCode. Renaming app.json to whatever else it will actually go into the App.tsx.

Still need a repro?

[2020-06-23 07:28] thymikee commented on #399
Ah! I actually hit this issue with Jest recently (require should be case-sensitive), but didn't file it. There's nothing we can do from this library side anyway. Glad you worked it out.

As a workaround I'd rather change the `App.tsx` to something else, or require `App.tsx` instead of `App`. Expo relies on `app.json`, so it's dangerous to change its name.

[2020-06-23 07:28] #399 closed

[2020-06-23 08:00] entiendoNull commented on #399
Aww, alright!
I added a repo that reproduces the error here anyways:
https://github.com/entiendoNull/react-native-testing-library-repro

It also seem to dislike testing in App.tsx even when solving the name conflict (in the repo, just rename app.json meanwhile testing).

![Skärmavbild 2020-06-23 kl  09 57 24](https://user-images.githubusercontent.com/13820994/85376529-22829280-b538-11ea-9528-f3da

[2020-06-23 17:46] jonmchan commented on #398
I utilized async, await, and act to make it work without any warnings or errors.

[code]

Perhaps this will help someone...

[2020-07-01 00:52] rashtay opened #413 "Module '"react-native"' has no exported member 'AccessibilityStates'"
## Describe the bug

Typescript linter throws the below-given error:

[code]

## Expected behavior

The TSC linter shouldn't through any error and the type has a typo that needs to be fixed.

## Steps to Reproduce

Add `bash -c tsc` to husky commit hooks and try to commit the code or just run `tsc`

## Screenshots

<img width="650" alt="TSC issue" src="https://user-images.githubusercontent.com/854

[2020-07-01 08:11] thymikee commented on #413
Upgrade your TS typings? We run TS checks and it works fine.

[2020-07-01 12:11] rashtay commented on #413
@thymikee I can share the `tsconfig.json`

[code]

[2020-07-01 12:12] thymikee commented on #413
Do you have `@types/react-native` installed? Is it on the latest version?

[2020-07-01 20:07] rashtay commented on #413
Yes. Copying from my `package.json` and pasting it here:

[code]

[2020-07-02 13:08] bjjeong opened #418 "Unable to return a match if wrapped in any kind of <Provider />"
I'm running into a strange problem whenever I try to test a component that is wrapped in any type of Provider (`react-redux`, `react-native-safe-area-context`, `styled-components`).

When I run the following test, it successfully passes as expected,
[code]

However, as soon as I wrap the component in a Provider, the query returns no matches. This goes the same with all the other types of `queryBy`

[2020-07-02 23:25] Ostter commented on #413
Addition: @types/react-native": "^0.62.9" and newest don't have AccessibilityStates

[2020-07-03 08:14] thymikee commented on #413
Interesting that CI didn't catch it, even when upgrading the typings to the latest version. Would you like to help us improve the TS check on CI and fix this? I'm fine with stubbing out `AccessibilityStates` with `unknown` or previous implementation. The library supports older RN versions, so we can't remove these queries just yet.

[2020-07-06 18:19] LFSCamargo opened #427 "UNSAFE_getByType equivalent method"
## Ask your Question
There's a way that I can test the same way as the getByType or equivalent? And why this method is called as `UNSAFE`?
I just need to test the component props and how can I do this without needing to find a children with a test id or a text??
There's any way that I can test only the component props?

[2020-07-06 18:47] thymikee commented on #427
If you only want component props and you know what you're doing, then using the `UNSAFE_` method is totally fine :) We're not planning to remove those.

[2020-07-06 18:47] #427 closed

[2020-07-06 20:51] evargast commented on #236
@LeoMosiah  were you able to solve this ?

[2020-07-07 09:29] jagwingchoy opened #428 "No handler function found for event: "changeText" in custom component"
## Component
Here I have a component named `<TextInput />`:

    import React, { memo, useCallback, useState } from 'react';
    import { View, TextInput as Input, Text } from 'react-native';
    import PropTypes from 'prop-types';

    import { COLORS } from '@Styles';
    import { styles } from './styles';

    const TextInput = memo(({ name, form, error = '', ...props }) => {
      const [ focu

[2020-07-10 14:18] #391 closed

[2020-07-10 14:24] thymikee commented on #391
@SimenB the issue turned out to be using `Promise` and fixed by converting it to a "thenable", which works for both legacy and modern timers. If you have any ideas why Sinon timers have issues with it, please leave a comment. I'd like to understand that better.

[2020-07-10 14:31] BlinkVonDoom opened #431 "Navigation & Redux setup providing errors"
I am trying to write a test for an app using react-navigation and I am running into issues of the route and params being read correctly.

I am getting an error of

TypeError: Cannot read property 'params' of undefined

`on const [leadId] = useState(route.params.leadId);`

my components looks like

[code]
I have tried following [](https://callstack.github.io/react-native-testing-library/docs/react-

[2020-07-10 14:36] SimenB commented on #391
Only idea is https://github.com/facebook/jest/issues/10221#issuecomment-654687396

[2020-07-10 14:49] thymikee commented on #391
This suggestion seem to work with `Promise.resolve` and `setImmediate` or `new Promise` and `nextTick()`, spawning unhandled promise rejections. But it breaks with thenable (which is something that `react-testing-library` does as well) and `new Promise` and `setImmediate()`. Ugh 😛

[2020-07-10 14:51] thymikee commented on #431
Don't mock navigation and it will work.

[2020-07-10 14:51] #431 closed

[2020-07-12 09:07] KieranO547 commented on #399
I know this is closed but I believe (I did clone your repro and this plus adding preset:"react-native" successfully ran the tests) the fix rather than just renaming would be to add to your jest config:
[code]

[2020-07-13 23:53] mayconmesquita commented on #413
React Native v0.62 ChangeLog: [RN Changelog](https://reactnative.dev/blog/2020/03/26/version-0.62#breaking-changes)

@thymikee, i think we just need to rename **accessibilityStates** to **accessibilityState**, right?

[2020-07-14 06:42] thymikee commented on #413
Not quite, these are 2 different APIs and we actually use both.

[2020-07-14 16:18] mayconmesquita commented on #413
They were different API's.
Now on RN v0.63, only **accessibilityState** exists and is exported.

[2020-07-14 16:21] thymikee commented on #413
Yes. And this lib happens to support RN older than 0.63 :) Feel free to send a PR that will silence the TS errors if you care. I'm happy to merge.

[2020-07-16 12:39] kadikraman commented on #413
Encountering the same issue after upgrading `@types/react-native`. Not sure it's possible to update the types to support both RN0.63 and older, or did you mean you'd accept a PR with a `@ts-ignore`?

I added a patch package script to remove these types in our project so we could get CI running again, but I'd be happy to do a PR to silence the error if that's what you were suggesting!

[2020-07-16 12:41] thymikee commented on #413
Would be lovely to get a PR with ignore code, if that works for libraries :)

[2020-07-16 13:05] #413 closed

[2020-07-16 17:28] kentcdodds opened #442 "Migration guide?"
We're in the process of completely replacing https://github.com/testing-library/native-testing-library with this repo.

Would anyone be interested in writing a migration guide?

[2020-07-16 19:20] balavishnuvj commented on #442
I could help.

[2020-07-16 19:23] thymikee commented on #442
Awesome @balavishnuvj! Let me know if you need any help. So far, in terms of differences between the libs, I'm only aware of the "disabled" property being specially handled by the second library. Is there anything else?

[2020-07-16 20:50] Albert-Gao commented on #250
It fixes the warning but got a warning:

[code]

What to change to? Thanks @thymikee  :)

[2020-07-16 23:32] tahmidmozaffar opened #443 "How to simulate navigating to component 2 level down."
Hi, I am using 1.13.0 version for a project.

I have a scenario where I have 3 components. 1st component has a button, clicking on that, 2nd component will come, It has a
List. And then clicking on any list item, 3rd component will be visible, But when I am trying to simulate clicking on a list item, navigation not working, so my test is failing.

What I am missing? For two components, it is alway

[2020-07-17 07:15] thymikee commented on #443
It's not a matter of nesting, which is irrelevant. You mix nesting and navigation here, so I don't quite get what's the actual issue. Please add a repro and code examples, otherwise it's not actionable.

[2020-07-17 08:09] balavishnuvj commented on #442
@thymikee I don't understand in and out of the library as of now. Would need your help. Also, this would one of my first open-source contributions.

[2020-07-17 14:37] ryanjwessel commented on #442
I am working on migrating a project from `@testing-library/react-native` to this one now.

The first difference I noticed was that `'@testing-library/react-native/cleanup-after-each',` in the `jest.config.js` was no longer required because it happens by default in this library ([see docs here](https://callstack.github.io/react-native-testing-library/docs/migration-v2/#auto-cleanup)).

Second, ther

[2020-07-17 14:51] thymikee commented on #442
I'm happy to accept a PR that aliases `queryByA11yLabel` to `queryByLabelText` to ease the migration :)

[2020-07-17 15:39] ryanjwessel commented on #442
I would be happy to take on this PR, but it would be my first time contributing to the project.

To clarify, we would alias any queries ending in `ByLabelText` to use `ByA11yLabel` instead? Should we display some sort of warning that this is temporary to support migration from the other library?

[2020-07-17 16:03] thymikee commented on #442
Great! No warning is needed, `queryByAccessibilityLabel` is already an alias of `queryByA11yLabel`, so it's a matter of extending that to another value. Should be fairly straight-forward I hope :)

[2020-07-17 16:28] ryanjwessel commented on #442
@thymikee Just put a PR up for it now. I think I see what you mean, hopefully this was what you were thinking. 😄

[2020-07-17 19:40] sregg commented on #240
I have the same need
see https://github.com/FaridSafi/react-native-gifted-chat/issues/1637

![image](https://user-images.githubusercontent.com/1479283/87824739-d3cccd80-c843-11ea-9f3d-91f7f19370b3.png)

![image](https://user-images.githubusercontent.com/1479283/87824689-bc8de000-c843-11ea-945e-b34c70a98aa4.png)

[2020-07-18 07:26] vanGalilea commented on #442
Hi all,

Just migrated my real world examples repo, was pretty straightforward here are the diffs:

https://github.com/vanGalilea/react-native-testing/commit/66f8fd3bc08ccb47585ff7d0665da1b5e38f3314

https://github.com/vanGalilea/react-native-testing/commit/364a4b465cd562e650600dd064d8bee1c2775d2a

Summary of all changes in my repo:

- wait becomes **waitFor**
- getByPlaceholderText becomes **getB

[2020-07-20 08:15] mdjastrzebski opened #447 "chore: [TL migration] rename getByPlaceholder to getByPlaceholderText (or provide an alias)"
## Describe the Feature
Currently we have `getByPlaceholder` (and related queries). However, both RTL and deprecated TL/RN use `getByPlaceholderText`.

This seems to be consistent with other RTL, TL/RN names likes `getByLabelText`, `getByHintText`, etc.

## Possible Implementations
1. Rename `getByPlaceholder` -> `getByPlaceholderText`
2. Add alias for `getByPlaceholderText`

Selected option shoul

[2020-07-21 07:26] thymikee commented on #442
Thank you very much @vanGalilea!

[2020-07-21 08:10] thymikee commented on #447
I'm in for option 1, the change is easy enough to migrate without too much effort.

[2020-07-21 13:48] #443 closed

[2020-07-21 13:50] thymikee commented on #428
[code]
There's no `onChangeText` implemented, hence there's no handler to call and you see the error. It's an expected behavior, you have to implement `onChangeText`.

[2020-07-21 13:50] #428 closed

[2020-07-21 13:54] thymikee commented on #418
Isn't `Provider` mocked which results in children not being rendered? What's the outcome of `debug` from this render?

[2020-07-21 14:01] sregg commented on #443
I've had the issue in the past where I would have 3 screens in a react-navigation stack.
I was able to see elements of the first 2 screens but when I would navigate to the 3rd, it wouldn't show anything.
I fixed it by updating to the latest version of react-navigation.
It was the weirdest thing. I never understood what happened there.
BTW that was with `native-testing-library`.

[2020-07-22 10:11] tschanz-pcv opened #450 "debug documentation incorrect about returned JSX or misconfiguration?"
## Is the Debug documentation wrong about the returned JSX or have I mis-configured by setup?

According to the docs about the [`debug` function](https://callstack.github.io/react-native-testing-library/docs/api#debug) it would suggest that a component which contains `<TouchableOpacity>` would render this as-is and not expand it into `<View>`s.

But the Snapshot and debug output clearly expands al

[2020-07-22 10:18] thymikee commented on #450
It's possible that the mock of TouchableOpacity changed since this doc was made. Feel free to send an updated one, based on the results of running something similar with the latest version of React Native. IIRC it is indeed implemented using native `View`s so whatever comes out of the snapshot is correct.

[2020-07-22 17:42] DracotMolver commented on #329
I'm facing the same issue with the `<Switch />` component making use of the `onValueChange` prop.

[code]

[2020-07-24 00:13] kentcdodds commented on #442
v6 of @testing-library/react-native was justpublished. So when we publish this repo as the main package it will need to be version 7

[2020-07-24 07:44] fangasvsass opened #452 "how to mock component method"
export default class Demo extends Component {

componentdidmount(){
  this.fetchData()
}

fetchData=()=>{
}
  render() {
    return (
      <View>
        <Text> textInComponent </Text>
      </View>
    )
  }
}

how to mock fetchData check fetchData call times

[2020-07-24 13:06] vanGalilea commented on #442
You mean that the props 'disabled' is not available on TocuhableOpacity as a test instance?
Having that problem while migrating

[2020-07-24 18:14] thymikee commented on #452
When your component fetches data, something observable happens, e.g. fetched data is displayed to the user. So, instead of checking of `fetchData` is called, test if this data eventually displayed to the user or whatever is appropriate for this component. For more information on mocking classes, feel free to consult Jest documentation.

[2020-07-24 18:14] #452 closed

[2020-07-24 20:44] thymikee commented on #442
Hey all, I've added a migration guide PR: https://github.com/callstack/react-native-testing-library/pull/456. Please review, let me know if I missed anything and if there are any readability improvements we can make :)

[2020-07-25 06:49] kentcdodds commented on #442
Anyone have interest in taking over https://github.com/testing-library/jest-native as part of this?

[2020-07-25 23:58] TDAK1509 commented on #28
I test the disable status by using snapshot to check the style. (When disabled, my button has a different color)

[code]

After doing this, in snapshot file there will be 2 cases for the button, which will be disabled state and enabled state with different colors.

[code]

[code]

[2020-07-26 07:12] thymikee commented on #28
@TDAK1509 I encourage you to use https://github.com/jest-community/snapshot-diff in such cases :)

[2020-07-27 07:48] mdjastrzebski opened #457 "feat: introduce `getQueriesForElement` as alias for `within`."
## Describe the Feature
TL/RN v6 has provided `getQueriesForElement` for scoping queries to given element & it's children. RNTL v2 had a similar `within` function. Both of these were modeled on similar RTLs helper. In [RTL both names are available (as alias)](https://testing-library.com/docs/dom-testing-library/api-helpers#within-and-getqueriesforelement-apis) to provide the same function.

## Pos

[2020-07-27 07:49] mdjastrzebski commented on #457
CC: @thymikee, @cross19xx, @Esemesek

[2020-07-27 07:53] thymikee commented on #457
This is a simple rename and I've already created a migration doc for it: https://github.com/callstack/react-native-testing-library/pull/456/files#diff-e96d057ee0b5c209da93af10f6a373c1R51-R54

On the other hand, DOM testing library has this alias as well. Feel free to contribute this, but I'd prefer focusing more on the migration guide.

[2020-07-28 13:19] thymikee commented on #442
I'm happy to watch `jest-native` over. Since the migration guide is created. I'm closing this issue. Thanks everyone for your cooperation, it was very helpful!

[2020-07-28 13:19] #442 closed

[2020-07-28 13:19] thymikee commented on #447
Closed via #455

[2020-07-28 13:19] #447 closed

[2020-07-28 13:20] thymikee commented on #457
Closed via #461

[2020-07-28 13:20] #457 closed

[2020-07-28 13:21] thymikee commented on #28
Good news, we're fixing that in the next major release (which will involve rename to `@testing-library/react-native`).

Closed via #460

[2020-07-28 13:21] #28 closed

[2020-07-28 19:00] hsavit1 commented on #329
also ran into this on RN 62.2

[2020-07-28 19:59] thymikee commented on #329
@TheSavior ideas about why this warning triggers for a native component in test environment? I've also tried this with 0.63, and latest nightly, the warning stays the same (minus component stack). Hope you have some additional context so we don't have to dig too far :)

[2020-07-29 00:50] TheSavior commented on #329
Probably something about the mock that is being used for Switch not forwardRef'ing to the underlying component created with `requireNativeComponent`, or something like that.

That warning fires when dispatchCommand is called with a ref to a component that was created in JS like a JS function or class, vs a ref to a component created like this: `requireNativeComponent('RCTSwitch')`

[2020-07-29 01:16] hsavit1 commented on #329
I'm seeing

[code]

[2020-07-30 14:49] Andarius opened #469 "No handler function found with fireEvent.press on disabled TouchableOpacity"
## Describe the bug

When running `fireEvent.press` on a disabled TouchableOpacity, the following error appears: ` No handler function found for event: "press"`

## Expected behavior

Should not raise an error

## Steps to Reproduce

Run the following

[code]

## Versions

[code]

[2020-07-30 15:45] thymikee commented on #469
The "touchable" is disabled, so the handler won't be invoked, hence the error thrown. I think we could improve the wording to be more obvious here.

[2020-07-30 15:47] thymikee commented on #469
cc @mdjastrzebski as he also has some thoughts on the topic :)

[2020-07-30 15:49] Andarius commented on #469
So what is the best option here to test a disabled touchable ? Something like
[code]

[2020-07-30 15:51] thymikee commented on #469
[code]

[2020-07-30 16:20] Andarius commented on #469
[code]
Still raises an error

[2020-07-30 16:23] thymikee commented on #469
The expectation must be in a function body because that's what Jest is trying to call:
[code]

[2020-07-30 16:24] Andarius commented on #469
Oh sorry nevermind it works, thanks !

[2020-07-30 18:21] mdjastrzebski commented on #469
@Andarius I think your original complain is a valid point. So `fireEvent` throws error when it does not find any matching event handler, which should suggested to the programmer that there is a problem with assertions or components under test.

However the case when there is event handler but is disabled should probably be handled without throwing error.

[2020-07-31 08:34] #469 closed

[2020-07-31 08:37] thymikee commented on #469
We've just release 7.0.1 which now doesn't throw. So please adjust your tests to something like this:
[code]

[2020-07-31 08:56] thymikee opened #476 "Support "editable" on TextInput"
## Describe the Feature

`TextInput` component from `react-native` has its own handling of being disabled/editable. It's not using responder system like Views, Texts and thus Touchables, so the logic we have already fails to catch it.

We should consider adding custom handling specific to native TextInput component, since it was working with `@testing-library/react-native` before v7.

## Possible

[2020-07-31 20:41] ryanjwessel commented on #135
Just duplicating my comment from the PR for visibility. I am running into this issue on version 7.0.1, so it appears to still be an issue.

[2020-07-31 20:43] thymikee commented on #135
@ryanjwessel can you put up a minimal repro or submit a PR with a failing test?

[2020-07-31 20:44] ryanjwessel commented on #135
@thymikee sure thing, I will try to. I need to extract a repro from the project I'm experiencing this in. Hope to have one for you soon.

[2020-08-02 13:44] TAGraves opened #477 "Migration guide from @testing-library/react-native is missing some breaking changes"
Hey all,

Stoked to see the two react-native testing libraries have finally merged! At Root, we have a fair number of testing library tests in our react native project. I tried upgrading @testing-library/react-native from v6 to v7 and about 20% of our tests are failing after following the upgrade guide.

Another engineer will be taking a closer look at the upgrade (I was just trying to get an idea

[2020-08-02 17:34] thymikee commented on #477
Hey! I think we can definitely add some of these back. I'm not so sure about parentNode because it smells like testing implementation details.

I'll be away from keyboard till next week, but I'm sure you can discuss it with @mdjastrzebski @Esemesek and @cross19xx and figure out the way forward 🙂

[2020-08-03 13:32] TAGraves commented on #477
Yes, I agree. I think we can probably get around it in our codebase by adding a matcher that recursively checks parents for the appropriate styles.

[2020-08-03 17:58] jsamr commented on #379
@mdjastrzebski I ran into a similar issue (although, don't know if it is exactly the same problem) and made a mcve here: https://github.com/jsamr/react-native-testing-library-379

[2020-08-03 18:02] pillu00 commented on #379
I also ran into same problem after upgrading to v7.0.1.
Also, if you just run the react-navigation example in the repo itself you will see this problem.

[2020-08-03 18:48] mdjastrzebski commented on #379
@jsamr thanks for posting repo, I'll try to reproduce that tomorrow.

[2020-08-03 22:12] manuelmhtr commented on #477
Also: `asJSON` does not exist. It need to be renamed to `toJSON`.

[2020-08-04 02:43] hsavit1 commented on #329
I was able to solve this by using `fireEvent(switch, toggleState, true)`

[2020-08-04 08:54] Kjaer opened #482 "Favoring text and accessibility queries instead of testId query"
## Why do you asking stopping use of testId query?

I haven't implemented any accessibility to my overall application and contents are very subject to change so my best bet is `testId` queries when it comes to test. Why do you stating use it as escape hatch? Isn't it safe to use any more? I don't get the reason throughly and now hesitating when I am using `testId` queries.

[2020-08-04 08:55] mdjastrzebski commented on #379
@jsamr You should wrap the `reload()` call in `act` like this:
[code]
As each state mutation should be wrapped in `act`. In case of `fireEvent` this is done for you.

This leaves your code with following warning logged to console
[code]
which is simingly caused by
```await findByText('load-cycle-1');```

[2020-08-04 09:03] pillu00 commented on #379
@mdjastrzebski ,
I ran reactnavigation example in this repo and still getting the above error. But when i downgrade to v6.0.0, it goes away. Can you please help me what's going wrong ?

[2020-08-04 14:32] kblankenship1989 opened #483 "queryByText not working on Expo"
# getBYText not working on expo

I am not able to find a component in a flatList using `queryByText` on my expo project.  Is there something I am missing in my configuration?

## env:
package.json:
[code]

## example code:
[code]

## test:
[code]

[2020-08-04 16:10] kblankenship1989 commented on #483
Fixed my own issue.  For those that find this, use regex instead of strings.  So `getByText('Create')` became `getByText(/Create/i)`

[2020-08-04 16:10] #483 closed

[2020-08-06 08:32] ccfz commented on #391
Hi @thymikee I updated to the latest version and removed the workaround, and I am still getting the same `Timeout` error.

Did my example from above pass for you with the fix implemented?
Thanks for the help!

[code]

[2020-08-06 14:48] DracotMolver commented on #379
I'm facing the same error but my test is different. Before moving from version 2 to 7 my test was the same and I have no errors, but after updating to v7 i've been getting the same error.

I have something really simple like this:
[code]

I use `act` because when I fire the event I have some async logic in my component that will re-render it. If i don't use the last code I've got the next error:

[2020-08-06 15:47] deriegle opened #485 "Do not call onPress when button is disabled"
## Describe the Feature
We are working on migrating our codebase over to v7 and noticed that `onPress` gets called for buttons even when they're disabled. This was a feature that v5 of `@testing-library/react-native` had and it would be really nice to implement it again. It feels like testing implementation details to have to check if a button is disabled before calling `onPress` in tests.

## Pos

[2020-08-06 22:13] ericbiewener opened #486 "Typescript diff for queryAllByTestId says it can return null"
## Describe the bug

According to the docs, all the `queryAll` methods are guaranteed to return an array. However, [the TS definition for `queryAllByTestId` indicates that it can return null](https://github.com/callstack/react-native-testing-library/blob/master/typings/index.d.ts#L73).

## Expected behavior

TS definition says it returns an array.

[2020-08-07 04:47] mdarke1 opened #487 "Failing tests on change to fireEvent.press due to HOC"
## Describe the bug

On upgrade to version 7 the change in fireEvent.press behaviour is now causing our tests to fail due to the use of a HOC on our side.

We are using a two step modal form process which is controlled by a pure component that then passes a step function (via context) using the index as the render method to move to the next screen. Relevant excerpts are attached below.

Since the

[2020-08-07 21:21] dcalhoun commented on #391
I'll chime in to say that I am also still struggling with this issue with `react-native-testing-library@2.1.0`. In order to use `waitFor`, I need to call `jest.useRealTimers()` for the specific test. While verbose, given I have to place it throughout my tests, it works for the most part. However, it doesn't work if I need to use both `waitFor` _and_ fake timers within the same test.

If it's helpf

[2020-08-10 08:31] thymikee commented on #486
Happy to accept a PR fixing that :)

[2020-08-10 08:47] thymikee commented on #391
Creating a new issue and a repro would be appreciated!

[2020-08-10 09:14] thymikee commented on #482
The main reason is that `testID` is invisible to your users, so you may accidentally test something that a user can't interact with. You can also remove the `testID` from a component at some point, leaving the functionality unchanged, and you may end up with a breaking test because `testID` is an implementation detail.

Be mindful and think like your users when testing your app and you'll be fine

[2020-08-10 09:14] #482 closed

[2020-08-10 10:09] Kjaer commented on #482
Thanks for the reply.

but what about ever changing content for the test subject. Do you now recommending rely on content and update the tests everytime  comply with the content? That sounds like a endless chores adding up in daily work.

[2020-08-10 10:10] thymikee commented on #482
We don't do any recommendations here. Use your best judgement.

[2020-08-10 10:42] Kjaer commented on #482
Very well. Promoting other queries against `testID` queries sound it to me. But you clearly stated you're not. I wanted to be sure that If I am missing a point. But it's obviously it's matter of how you like to use it.

[2020-08-11 07:42] cross19xx opened #493 "Convert repository to monorepository"
## Describe the Feature
The idea behind this PR is to convert the repository into a monorepo, allowing us to have multiple packages and allowing inter-dependence between them.

## Possible Implementations
The proposed folder structure are as follows:
[code]

[2020-08-11 15:41] #486 closed

[2020-08-11 21:27] DzoYee opened #499 "React Native Testing Library matching every screen in ReactNavigation StackNavigator"
I am trying to test navigating from one StackScreen to another and back.

I have a component

`const Accounts: React.FC = () => (
  <Stack.Navigator>
    <Stack.Screen name="AccountsSummary" component={AccountsSummary} />
    <Stack.Screen name="AccountDetails" component={AccountDetails} />
  </Stack.Navigator>
)`

When I render it with RNTL

`const {findByText} = render(
      <NavigationContaine

[2020-08-12 07:42] thymikee commented on #499
You can query a certain screen by its ID or something and use `within` to scope queries inside it. We're thinking about other solutions (more accessibility aware queries), but currently that's the way to go.

[2020-08-12 07:42] #499 closed

[2020-08-12 13:20] kblankenship1989 opened #500 "Testing @react-native-community/picker"
I am using the `@react-native-community/picker` and cannot access it in any way other than testID.  Is there any way outside of this or is this the only solution?

Sample file:
[code]

Sample test file:
[code]

package.json:

[code]

[2020-08-12 14:34] thymikee commented on #500
It's a native component, so it all depends on the mock. I'd say it's fine to use `testID` in this case.

[2020-08-12 14:34] #500 closed

[2020-08-12 15:10] renanmav commented on #379
I’ve noticed that this error/warning happens when I use **more than 1 await** within a `it` statement

[2020-08-12 16:04] DzoYee commented on #499
I'm not sure how this would help, am I missing something?

I render Accounts which defaults with AccountSummary using the Navigation. I then navigate to AccountDetails and then navigate back to AccountSummary. The issue is that I am able to assert on seeing AccountSummary even while on AccountDetails.

My thought is that even if I scope the query, it wouldn't fix the issue because it exists in the

[2020-08-12 16:11] kblankenship1989 commented on #500
Thanks @thymikee  for the quick followup.  I am currently doing this as part of the End - to - End test but was wondering if this library has a way to do some shallow rendering for Unit Tests or is that mainly handled by just Mocking consumed components?  Haven't found a good example for that "shallow" style unit testing

[2020-08-12 16:15] thymikee commented on #500
We don't provide shallow rendering helpers. You can use `react-test-renderer` directly for that. We don't advise it, because React component lifecycle may (or used to, I can't tell now) differ from what it's actually doing in normal environment.

[2020-08-12 16:42] Covicake opened #501 "Cannot check if an element is disabled after updating to v7"
## Describe the bug

In v6.0.0, I was able to check if an element had a `disabled` prop like this: `expect(element.props.disabled).toBeTruthy()`, but since I updated to v7.0.1, the `disabled` attribute is no longer in the element.

## Expected behavior

I would like to check if an element is disabled or not

## Steps to Reproduce

Render a `<TouchableOpacity disabled />` component and then try to

[2020-08-12 16:44] thymikee commented on #501
Can you provide a repro we can download?

[2020-08-12 17:50] Covicake commented on #501
https://github.com/Covicake/react-native-issue

run `yarn test` after installing the dependencies. The test is in `App.spec.tsx`

[2020-08-13 09:14] pillu00 commented on #501
you can use `jest-native` matcher `toBeDisabled()`, instead of checking props directly. That should work.

[2020-08-13 09:20] Covicake commented on #501
That's the first thing that I tried but it doesn't work. The test passes using `toBeDisabled()` but it also passes using `toBeEnabled()`.

And also, I don't know why VS Code doesn't recognize those functions to be part of the expect. I added the 'extend-expect' thing to the jest.setup.js and it doesn't crash when I run the tests, so I don't know what else do I have to do to make the editor know of

[2020-08-13 10:37] pillu00 commented on #501
@Covicake , You're right. Moreover, when i use `not.toBeDisabled()` or `not.toBeEnabled()`. The test fails with error, `Received element is disabled` and `Received element is enabled` respectively.

Anyway there is already a open bug on jest-native --> https://github.com/testing-library/jest-native/issues/23

Please also have a look there, if you haven't done it already 🙂

[2020-08-13 13:14] Covicake commented on #501
@pillu00 Alright, thanks for the info. Let's hope they fix it soon!

[2020-08-13 14:50] artdent commented on #477
Also the `getNodeText` helper function, https://github.com/testing-library/native-testing-library/blob/master/src/lib/get-node-text.js, which could be replaced by a thin wrapper around the internal `getChildrenAsText` helper.

[2020-08-13 15:13] jtstodola opened #505 "Test failure related to LogBox"
This is possibly a RN issue not a testing library issue. But, I have no issues running the app.

The test passes on RN 0.59 to 0.62 but with the new LogBox work something is going wrong.

I'm guessing we're catching some sort of error and it's trying to throw up a logbox error but the app is torn down already. I'm not certain how to fix that, if it's actually an error and has to do with how I wrot

[2020-08-13 20:44] thymikee commented on #505
I appreciate the report, but this is not an issue with this library. Can you report it in `react-native` repository? Thanks!

[2020-08-13 20:44] #505 closed

[2020-08-14 19:09] jkdowdle commented on #329
@hsavit1 would you mind clarifying how you're firing the event? I want make sure I was trying what you were suggesting.

I am trying like this,

[code]

But still getting the warning.

[code]

I wonder if it is an issue we are on an older version? `react-native-testing-library@1.14.0 `

[2020-08-14 19:10] thymikee commented on #329
It's not related to this library, rather the `react-native` version itself.

[2020-08-14 21:35] dcalhoun opened #506 "Using Jest mock timers and waitFor together causes tests to timeout"
## Describe the bug

Related to #391. Using `jest.useFakeTimers()` in combination with `waitFor`, causes the tests using `waitFor` to fail due to timeout error:

Relying upon `jest.useFakeTimers("modern")` instead causes the above failure for _all tests_ if the file merely imports `waitFor` at all, regardless if the given test uses `waitFor` or not.

## Expected behavior

All tests in the [reprodu

[2020-08-14 21:35] dcalhoun commented on #391
@thymikee I have created #506 that includes a test case. Please let me know if I can provide any additional information that would be helpful Thanks!

[2020-08-15 18:51] vanGalilea opened #508 "React Native's Modal mock contains a bug"
So it seems like React Native's Modal is being mocked wrong.

When rendered in tests the Modal and its children are constantly showing in the tree, also when set to be **_not visible_**.
Just figured out how to fix this issue in my examples repo: https://github.com/vanGalilea/react-native-testing

Does somebody know whether the Modal is actually mocked by RN or by RNTL.
If it's mocked by RNTL, whe

[2020-08-16 01:26] thymikee commented on #508
We don't provide any mocks.

[2020-08-16 01:26] #508 closed

[2020-08-16 02:34] GleidsonDaniel commented on #379
Same issue here.
I tried all the things I mentioned earlier, but none worked here.

[2020-08-17 13:07] thymikee commented on #477
Hey @TAGraves would you be so kind and create some action points / issues for us to implement? For example `baseElement` sounds like something that should be fairly easy to start with. Then we could add string precision API, because why not. The more compat with Testing Library, the better. I hope it's understandable that we started from a different place, but we have all the good intentions :)

I

[2020-08-17 16:22] thymikee opened #512 "Port guides from Native Testing Library"
## Describe the Feature

Port the most relevant guides from this page: https://www.native-testing-library.com/docs/guide-queries.
I'm not sure if we need them all, so feel free to pick the best ones :)

## Possible Implementations

We already have a section for Guides in the sidebar, so they could be linked there.
We can also link to the official docs: https://testing-library.com/docs/guide-which-

[2020-08-17 20:44] thymikee commented on #485
Do you have a repro of this happening? We're taking "disabled" into account for any Views that implement appropriate Responder logic (Touchables and henceforth Button for example).

[2020-08-17 20:51] TAGraves opened #513 "baseElement is missing in v7"
In v6, the result of calling `render` included a `baseElement` property (see https://www.native-testing-library.com/docs/next/api-main#baseelement). `baseElement` was the root element of the render result.

In v7, `baseElement` is no longer returned from `render`.

I do wonder if it would be better to just deprecate this and include a notice in the migration guide. Looking over our tests at Root,

[2020-08-17 20:54] thymikee commented on #513
I'm good with not adding that (no one actually requested the feature for years) and adding a note to the migration guide.

[2020-08-17 20:56] TAGraves opened #514 "The string precision API is missing in v7"
In v6, queries could be passed string precision options so that they performed fuzzier text matching or normalized text differently (see https://www.native-testing-library.com/docs/next/api-queries#precision). These options are not available in v7. v6's behavior matches that of [dom-testing-library](https://testing-library.com/docs/dom-testing-library/api-queries#textmatch) so it is probably worth

[2020-08-18 15:35] florian-milky commented on #379
Same issue and I'm not doing anything in my test, just rendering and await findBy

[2020-08-18 21:53] andres-pino commented on #289
I had the same error but it was a fool mistake for me, I was trying to press a button element like this:
`fireEvent(buttonElement)`
But I missed to use the press event in the fireEvent object, so the solution was
`fireEvent.press(buttonElement)`

[2020-08-19 04:12] mym0404 commented on #501
I want to test not only `disabled` but also other props I set...
After I migrated `v6` -> `v7`, most tests related to this are broken.

[2020-08-19 05:55] mym0404 opened #515 "Nested custom Text componentns not working correctly"
## Describe the bug

If custom `Text` components are nested and find with text, then the wrong other element is retrieved.

## Steps to Reproduce

[code]

[code]

## Versions

[code]

[2020-08-19 05:57] mym0404 commented on #515
One question more, If I set `displayName` of `CustomText` like `CustomText.displayName = 'customText';` why `toJSON` just show it as `<Text>` ?

[2020-08-19 07:59] thymikee commented on #501
@mym0404 can you post a repro we could tak a look at?

[2020-08-19 08:12] thymikee commented on #515
Yup, this is an edge case we don't handle at the moment. Please feel free to send a PR fixing that :)
Related work: https://github.com/callstack/react-native-testing-library/pull/489

It's because `debug` will only show host (native) components and `CustomText` is not one of these. You can call `debug.shallow()` using a shallow renderer to display custom component hierarchy to some extent.

[2020-08-19 08:13] mym0404 commented on #501
@thymikee I was confused. My problem was #515 This is not related to this issue Sorry.

[2020-08-19 08:15] mym0404 commented on #515
Ok I will try Thank you :)

[2020-08-19 09:49] mym0404 commented on #379
I suggest use [wait-for-expect](https://github.com/TheBrainFamily/wait-for-expect#readme) directly.

[2020-08-19 12:49] cross19xx commented on #501
To ensure that VSCode recognizes these functions as part of `expect`, create a `global.d.ts` in the project root and import `extend-expect`
[code]

[2020-08-20 08:12] mym0404 commented on #515
This bug is related to a recursive way of find text node in this library.
I can temporary fix like the following.
[code]

[2020-08-20 20:38] pitpitpat commented on #476
Hi @thymikee, I'd like to tackle this one.

[2020-08-20 22:06] thymikee commented on #476
@pitpitpat go for it!

[2020-08-23 23:20] maximilianoforlenza opened #518 "Test react-native switch"
I'm using the switch component from react-native and I'm trying to test the toggle change. I'm using `fireEvent.press` but is not working. It returns `No handler function found for event: "press"`

Could anyone help me?

Versions:
[code]

This is my code:
[code]

[code]
Thanks!

[2020-08-24 08:42] thymikee commented on #518
There's no "onPress" on Switch. There's "onValueChange" so please use that as a value for `fireEvent()` fn

[2020-08-24 08:42] #518 closed

[2020-08-24 09:35] hyunjinjeong commented on #379
I guess this is the issue, too. In my case, those messages disappeared when I replaced `findBy` queries with `getBy` and left only one `findBy` query.

[2020-08-24 11:54] maximilianoforlenza commented on #518
@thymikee thanks for your reply. I'm trying to use `onValueChange` instead of `press` but it throw an error `_reactNative.fireEvent.onValueChange is not a function`

[2020-08-24 14:04] thymikee commented on #518
Please read the documentation on how to use `fireEvent` in a generic form.

[2020-08-26 20:29] StarryFire commented on #379
Any updates here? This is happening when i use more than 1 `await` inside a `it`

[2020-08-27 14:24] renanmav commented on #379
I patched `react-test-renderer` since this error was failing my CI tests.

[code]

[2020-08-31 12:30] mdjastrzebski opened #520 "Ability to traverse host component tree easily (discussion)"
## Describe the Feature
Currently the render tree provided by `render` method consists of both host (e.g. `View`) and composite components (class & functional components). All query methods generally ignore composite components, and return only host components, in order to simulate RN runtime env. However, when using `parent` & `children` properties of `ReactTestInstance` developer using RNTL is e

[2020-08-31 12:31] mdjastrzebski commented on #477
re `parentNode`: I've added "Ability to traverse host component tree easily (discussion)" #520.

[2020-09-01 08:20] mdjastrzebski commented on #513
@TAGraves is `baseElement` something similar to `container` from React Testing Library?

https://testing-library.com/docs/react-testing-library/cheatsheet

[2020-09-02 21:36] eliw00d opened #532 "ExceptionsManager.handleException is not a function"
## Describe the bug

We recently upgraded to React Native 0.63, Jest 26, and React Native Testing Library 7. When running jest with `--runInBand` we have noticed the following error randomly in our CI:

[code]

I noticed a similar error in the previous project: https://github.com/testing-library/native-testing-library/issues/132

Any thoughts?

## Expected behavior

No errors.

## Versions

[code]